<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carroll Intranet | @ViewBag.Title</title>
  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/app/Global.js"></script>
</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">
        @*class="@Html.PageClass()">*@

    <!-- Navigation -->
    @Html.Partial("_Navigation")

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Top Navbar -->
        @Html.Partial("_TopNavbar")

        <!-- Main view  -->
        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

<div class="modal fade bs-example-modal-lg" id="#toastnotification" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">           
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="border:1px solid;">
                        <div class="alert alert-success">
                         
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/scripts/plugins/metsiMenujs")
@Scripts.Render("~/scripts/plugins/pacejs")
@Scripts.Render("~/scripts/plugins/slimScrolljs")
@Scripts.Render("~/bundles/inspinia")
@RenderSection("scripts", required: false)


</body>
</html>
