<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img src="~/img/corpLogo.png" />
                            </span>
                            <p>&nbsp;</p>
                            <strong class="font-bold"> @Model.Name </strong>
                            <input type="hidden" id="CreatedByName" value="@Model.Name" />
                            <input type="hidden" id="CreatedBy" value="@Model.UserId" />
                            <input type="hidden" id="UserPropertyAccess" value="" />
                            <input type="hidden" id="UserR" value="@Model.RoleType" />
                        </span> <span class="text-muted text-xs block">Access Level -  @Model.RoleType <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="~/Account/Logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img src="~/img/LogoC.png" />
                </div>
            </li>
            <li>
                <a href="~/Home/Index"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li>
                <a href="/Data/contacts"><i class="fa fa-envelope fa-star fa-user-"></i> <span class="nav-label">Contacts</span></a>
            </li>
            <li>
                <a href="/Data/properties"><i class="fa fa-building"></i> <span class="nav-label">Properties</span></a>
            </li>

            <li>
                <a href="/Data/partners"><i class="fa fa-users"></i> <span class="nav-label">Equity Partners</span></a>
            </li>
            <li>
                <a href="~/Home/IncidentDashboard"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Incident Dashboard</span></a>
            </li>


            @{
                if (@Model.RoleType.ToLower() == "administrator")
                {

                    @*<li>
                    <a href="javascript:void(0)"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">Property Forms<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse">
                                <li><a href="/FORMS/PropertyDamageClaims">  <i class="fa fa-angle-double-right"></i> Property Damage Claim </a></li>
                                <li><a href="/FORMS/GeneralLiabilityClaims">  <i class="fa fa-angle-double-right"></i>  General Liability Claim</a></li>
                                <li><a href="/FORMS/MoldDamageClaims">  <i class="fa fa-angle-double-right"></i>  Mold Damage Claim</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>*@



                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-book"></i> <span class="nav-label"> HR Forms </span></a>

                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="~/Hr/EmployeeLeaseRider/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Employee Lease Rider  </span></a>

                            </li>
                            <li>
                                <a href="~/Hr/EmployeeNewHireNotice/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> New Hire Notice  </span></a>
                            </li>
                            <li>
                                <a href="~/Hr/PayRollStatusChange/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Payroll Status Change  </span></a>
                            </li>
                            <li>
                                <a href="~/Hr/NoticeOfEmployeeSeparation/"><i class="fa fa-angle-double-right"></i> <span class="nav-label">Employee Separation  </span></a>
                            </li>
                            <li>
                                <a href="~/Hr/RequisitionRequest/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Requisition Request  </span></a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-dollar"></i> <span class="nav-label"> Expense Reports </span></a>

                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="~/Mileage/CarrollMileageLog/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Mileage Log </span></a>

                            </li>
                            <li>
                                <a href="~/Mileage/CarrollMileageLogInstructions/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Instructions  </span></a>
                            </li>
                            <li>
                                <a href="~/Mileage/CarrollExpenseForm/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Expense Form  </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-user-plus"></i> <span class="nav-label">Users </span></a>

                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="~/User/Index">  <i class="fa fa-angle-double-right"></i>  Manage Users </a>
                                <a href="~/User/UserRoles">   <i class="fa fa-angle-double-right"></i>  Add User To Role  </a>
                                <a href="~/User/UserProperties">  <i class="fa fa-angle-double-right"></i>  Add User To Property </a>
                            </li>
                        </ul>
                    </li>

                    @*<li>
                    <a href="javascript:void(0)"><i class="fa fa-cogs"></i> <span class="nav-label"> Administration </span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="~/Admin/SiteColumns"> <i class="fa fa-angle-double-right"></i>  Site Columns </a>
                            <a href="~/Admin/ContentTypes">  <i class="fa fa-angle-double-right"></i>  Content Types  </a>
                            <a href="~/Admin/Forms">   <i class="fa fa-angle-double-right"></i>  Forms </a>
                        </li>
                    </ul>
                </li>*@
                }
                else if (@Model.RoleType.ToLower() == "hr")
                {
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-dollar"></i> <span class="nav-label"> HR Forms </span></a>

                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="~/Hr/EmployeeLeaseRider/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Employee Lease Rider  </span></a>

                            </li>
                            <li>
                                <a href="~/Hr/EmployeeNewHireNotice/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> New Hire Notice  </span></a>
                            </li>
                            <li>
                                <a href="~/Hr/PayRollStatusChange/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Payroll Status Change  </span></a>
                            </li>
                            <li>
                                <a href="~/Hr/NoticeOfEmployeeSeparation/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Notice Of Employee Separation  </span></a>
                            </li>
                            <li>
                                <a href="~/Hr/RequisitionRequest/"><i class="fa fa-angle-double-right"></i> <span class="nav-label"> Requisition Request  </span></a>
                            </li>

                        </ul>
                    </li>

                }
            }


            @*<li>
            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Property Forms</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="form_basic.html">Property Damage Claim </a></li>
                <li><a href="form_advanced.html">General Liability Claim</a></li>
                <li><a href="form_wizard.htmm">Mold Damage Claim</a></li>

            </ul>
        </li>*@


            @*@{
        if (@Model.RoleType == "Resources")
        {*@

            @*}
        }*@



        </ul>

    </div>
</nav>