@model Carroll.Data.Entities.Repository.PrintResidentContact

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print Resident Contact  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 10px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        p {
            margin-bottom: 10px !important;
        }

        ol li span {
            margin-top: 10px !important;
        }
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
 <div class="page" style="padding: 15px;">
        <div class="col-md-12" style="    width: 100%;
    border: 1px solid black;
    padding: 10px;">
            <form id="submitform" onsubmit="return false;">
                <div style="width:100%; text-align:center;">
                    <img style="width:150px;" src="~/carroll.portals/img/residentreferaltop.png" />
                </div>
                <div style="width:100%">

                    <div class="form-div" style="width:15%; border:1px solid #e5d9d9; border: 1px solid #e5d9d9;
    float: left;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
    color: black;">
                        <p style=""> Office Use Only:</p>
                        <p>
                            Copy Of Renter's <br /> Insurance Declaration <br /> in File @{

                                if (Model.InsuranceDeclaration == "Yes")
                                {
                                    <input type="checkbox" checked id="insurancedeclaration">
                                }
                                else
                                {
                                    <input type="checkbox" id="insurancedeclaration">
                                }

                            }
                        </p>
                    </div>

                    <div class="form-div" style="width:85%;float:right;">

                        <h1 style="text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0px !important;padding-top:5px; padding-left: 10%;
    margin-bottom: 10px !important;">
                            Resident Contact & Information Update form
                        </h1>
                        <h5 style="margin: 0px;
    padding: 0px;
        color: black;
    font-weight: bold;
    padding-left: 35%;">
                            *PLEASE PRINT*
                        </h5>
                    </div>
                </div>
                <div class="clearfisx1" style="width:100%; margin-top:12%;">
                    <p style="margin-left:20%;"> Building #  <input type="text" value="@Model.Building" id="building" /> Apartment #   <input type="text" value="@Model.Apartment" id="apartment" /> 	</p>
                    <p> As a Resident at <input type="text" id="propertyname" value="@Model.PropertyName" style="width:25%;" />	 		 Apartments we want to make sure we have the updated information for our residents. Please help us keep our records up-to-date by providing any updates to your contact information, including information regarding the main </p>
                    <p> Please return this via email to   <input type="text" id="returnemail" value="@Model.ReturnEmail" style="width:20%;" />@@carrollmg.com, fax to ( <input type="text" id="fax1" value="@Model.Fax1" style="width:5%;" /> ) 	 <input type="text" id="fax11" value="@Model.Fax11" style="width:20%;" />			 or drop back at our onsite Management Office. Questions can be directed to ( <input type="text" id="fax2" value="@Model.Fax2" style="width:5%;" />)   <input type="text" id="fax22" value="@Model.Fax22" style="width:15%;" />			           . </p>
                </div>



                @if (Model.rrs.Count == 1)
                {
                    <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:5px; float:left;">
                        <p> <b>Resident #1 </b>  : <input type="text" value="@Model.rrs[0].Name" id="r1name" style="width:75%" /> </p>
                        <p> * Cell Phone # : <input type="text" value="@Model.rrs[0].MobilePhone" id="r1cell" style="width:72%" /> </p>
                        <p> Email  <input type="text" id="r1email" value="@Model.rrs[0].Email" style="width:88%" /> </p>

                        @if (Model.rrs[0].Home_Work.ToString() == "True")
                        {<p>
                                <input type="radio" name="resident1" checked id="r1home" /> Home
                                <input type="radio" name="resident1" id="r1work" />  Work Phone #
                                <input type="text" id="r1otherphone" value="@Model.rrs[0].Home_Work_Phone" style="width:44%" />
                            </p>
                        }
                        else
                        {
                            <p>
                                <input type="radio" name="resident1" id="r1home" /> Home
                                <input type="radio" name="resident1" checked id="r1work" />  Work Phone #
                                <input type="text" id="r1otherphone" value="@Model.rrs[0].Home_Work_Phone" style="width:44%" />
                            </p>
                        }

                        <p> Current Employer  <input type="text" value="@Model.rrs[0].CurrentEmployer" id="r1currentemployer" style="width:68%" /> </p>
                        <p> Position  <input type="text" value="@Model.rrs[0].Position" id="r1position" style="width:83%" /> </p>
                    </div>

                    <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:5px; float:left;">
                        <p> <b>Resident #1 </b>  : <input type="text" value="" id="r1name" style="width:75%" /> </p>
                        <p> * Cell Phone # : <input type="text" value="" id="r1cell" style="width:72%" /> </p>
                        <p> Email  <input type="text" id="r1email" value="" style="width:88%" /> </p>
                        <p>
                            <input type="radio" name="resident1" id="r1home" /> Home
                            <input type="radio" name="resident1" id="r1work" />  Work Phone #

                            <input type="text" id="r1otherphone" value="" style="width:44%" />
                        </p>
                        <p> Current Employer  <input type="text" value="" id="r1currentemployer" style="width:68%" /> </p>
                        <p> Position  <input type="text" value="" id="r1position" style="width:83%" /> </p>
                    </div>

                }
                else if (Model.rrs.Count == 2)
                {

                    <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:5px; float:left;">
                        <p> <b>Resident #1 </b>  : <input type="text" value="@Model.rrs[0].Name" id="r1name" style="width:75%" /> </p>
                        <p> * Cell Phone # : <input type="text" value="@Model.rrs[0].MobilePhone" id="r1cell" style="width:72%" /> </p>
                        <p> Email  <input type="text" id="r1email" value="@Model.rrs[0].Email" style="width:88%" /> </p>


                        @if (Model.rrs[0].Home_Work.ToString() == "True")
                        {
                            <p>
                                <input type="radio" name="resident1" checked id="r1home" /> Home
                                <input type="radio" name="resident1" id="r1work" />  Work Phone #
                                <input type="text" id="r1otherphone" value="@Model.rrs[0].Home_Work_Phone" style="width:44%" />
                            </p>
                        }
                        else
                        {
                            <p>
                                <input type="radio" name="resident1" id="r1home" /> Home
                                <input type="radio" name="resident1" checked id="r1work" />  Work Phone #
                                < input type = "text" id = "r1otherphone" value = "@Model.rrs[0].Home_Work_Phone" style = "width:44%" />


                            </p>
                        }

                        <p> Current Employer  <input type="text" value="@Model.rrs[0].CurrentEmployer" id="r1currentemployer" style="width:68%" /> </p>
                        <p> Position  <input type="text" value="@Model.rrs[0].Position" id="r1position" style="width:83%" /> </p>
                    </div>
                    <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:5px; float:left;">
                        <p> <b>Resident #2 </b>  : <input type="text" value="@Model.rrs[1].Name" id="r1name" style="width:75%" /> </p>
                        <p> * Cell Phone # : <input type="text" value="@Model.rrs[1].MobilePhone" id="r1cell" style="width:72%" /> </p>
                        <p> Email  <input type="text" id="r1email" value="@Model.rrs[1].Email" style="width:88%" /> </p>

                        @if (Model.rrs[1].Home_Work.ToString() == "True")
                        {
                            <p>
                                <input type="radio" name="resident1" checked id="r1home" /> Home
                                <input type="radio" name="resident1" id="r1work" />  Work Phone #
                                <input type="text" id="r1otherphone" value="@Model.rrs[1].Home_Work_Phone" style="width:44%" />
                            </p>
                        }
                        else
                        {
                            <p>
                                <input type="radio" name="resident1" id="r1home" /> Home
                                <input type="radio" name="resident1" checked id="r1work" />  Work Phone #
                                <input type="text" id="r1otherphone" value="@Model.rrs[1].Home_Work_Phone" style="width:44%" />
                            </p>
                        }

                        <p> Current Employer  <input type="text" value="@Model.rrs[1].CurrentEmployer" id="r1currentemployer" style="width:68%" /> </p>
                        <p> Position  <input type="text" value="@Model.rrs[1].Position" id="r1position" style="width:83%" /> </p>
                    </div>

                }


                }




                <span style="clear:both;font-style: italic;font-size:12px;color:black;display:block;"> * Required information.  Carroll Management respects the privacy of its residents’ information and will only use it for the purposes of Resident-Leasing Office communication.  </span>
                <p style="margin-top:5px !important;"> <b> EMERGENCY CONTACT </b>  - Person to contact and/or <span style="text-decoration:underline;"> allowed entry into your apartment </span> in case of emergency or death  </p>
                <p style="text-align:center; margin:5px !important;">   <b> (someone <span style="text-decoration:underline">NOT </span> living in the household): </b> </p>
                <div class="form-div" style="width:50%;padding:0px;padding-left:30px;float:left; ">
                    <p> Name :  <input type="text" value="@Model.Em_name" id="ename" style="width:68%" /> </p>
                    <p> Address :   <textarea id="eaddress" style="width:83%"> @Model.Em_Address </textarea>  </p>
                </div>
                <div class="form-div" style="width:50%;padding:0px;padding-left:30px;float:left;">
                    <p> Phone # :  <input type="text" id="ephone" value="@Model.Em_Phone" style="width:68%" /> </p>
                    <p> Relationship to you :  <input type="text" value="@Model.Em_Relation" id="erelation" style="width:50%" />  </p>
                </div>
                <p style="clear:both;">  <b> Please provide information for other occupants.</b> If you have other occupants living in the apartment, please list them below. More names may be added to additional pages.</p>
                <table cellpadding="2" cellspacing="2" border="1" style="margin:0px; margin-left:30px !important">
                    <thead style="background-color:#808080"> <tr><th style="text-align:center "> FULL NAME  </th><th> DATE OF BIRTH     </th> <th> FULL NAME  </th><th> DATE OF BIRTH     </th></tr></thead>
                    <tbody>
                        @{


                            if (Model.ros.Count == 1)
                            {
                                <tr>
                                    <td> <input type="text" value="@Model.ros[0].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[0].DOB.Value.ToShortDateString()" />   </td>
                                    <td> <input type="text" value="" />    </td>
                                    <td>  <input type="text" value="" />   </td>
                                </tr>
                                <tr>
                                    <td> <input type="text" value="" />    </td>
                                    <td>  <input type="text" value="" />   </td>
                                    <td> <input type="text" value="" />    </td>
                                    <td>  <input type="text" value="" />   </td>
                                </tr>
                            }
                            else if (Model.ros.Count == 2)
                            {
                                <tr>
                                    <td> <input type="text" value="@Model.ros[0].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[0].DOB.Value.ToShortDateString()" />   </td>
                                    <td> <input type="text" value="@Model.ros[1].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[1].DOB.Value.ToShortDateString()" />   </td>
                                </tr>
                                <tr>
                                    <td> <input type="text" value="" />    </td>
                                    <td>  <input type="text" value="" />   </td>
                                    <td> <input type="text" value="" />    </td>
                                    <td>  <input type="text" value="" />   </td>
                                </tr>
                            }
                            else if (Model.ros.Count == 3)
                            {
                                <tr>
                                    <td> <input type="text" value="@Model.ros[0].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[0].DOB.Value.ToShortDateString()" />   </td>
                                    <td> <input type="text" value="@Model.ros[1].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[1].DOB.Value.ToShortDateString()" />   </td>
                                </tr>
                                <tr>
                                    <td> <input type="text" value="@Model.ros[2].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[2].DOB.Value.ToShortDateString()" />   </td>
                                    <td> <input type="text" value="" />    </td>
                                    <td>  <input type="text" value="" />   </td>
                                </tr>
                            }
                            else if (Model.ros.Count == 4)
                            {
                                <tr>
                                    <td> <input type="text" value="@Model.ros[0].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[0].DOB.Value.ToShortDateString()" />   </td>
                                    <td> <input type="text" value="@Model.ros[1].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[1].DOB.Value.ToShortDateString()" />   </td>
                                </tr>
                                <tr>
                                    <td> <input type="text" value="@Model.ros[2].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[2].DOB.Value.ToShortDateString()" />   </td>
                                    <td> <input type="text" value="@Model.ros[3].Name" />    </td>
                                    <td>  <input type="text" value=" @Model.ros[3].DOB.Value.ToShortDateString()" />   </td>
                                </tr>
                            }


                        }
                    </tbody>
                </table>

                <p style="width:25%;display:inline-block;"> <input id="r1sign" type="text" value="@Model.ResidentSingature1" style="width:90%" /> <br />  <b> Resident Signature </b> </p>
                <p style="width:20%;display:inline-block;"> <input id="r1date" type="text" value="@Model.ResidentSignDate1.Value.ToShortDateString()" style="width:90%" /> <br />  <b> Date </b> </p>
                @if (Model.ResidentSingature2 != null)
                {
                    <p style="width:25%;display:inline-block;"> <input id="r2sign" type="text" value="@Model.ResidentSingature2" style="width:90%" /> <br />  <b> Resident Signature </b> </p>

                }
                else
                {
                    <p style="width:25%;display:inline-block;"> <input id="r2sign" type="text" value="" style="width:90%" /> <br />  <b> Resident Signature </b> </p>

                }
                @if (Model.ResidentSignDate2 != null)
                {
                    <p style="width:20%;display:inline-block;"> <input id="r2date" type="text" value="@Model.ResidentSignDate2.Value.ToShortDateString()" style="width:90%" /> <br />  <b> Date </b> </p>

                }
                else
                {
                    <p style="width:20%;display:inline-block;"> <input id="r2date" type="text" value="" style="width:90%" /> <br />  <b> Date </b> </p>

                }

                @{
                    foreach (var item in Model.rvs)
                    {
                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;">

                            <p style="text-align:center"> <b>Resident - Vehicle Information  </b> </p>
                            <p> Make  <input type="text" id="v1make" value="@item.Make" style="width:82%" /> </p>
                            <p> Model  <input type="text" id="v1model" value="@item.Model" style="width:82%" /> </p>
                            <p> Type (car,van,SUV) <input id="v1type" value="@item.Type" type="text" style="width:51%" /> </p>
                            <p> Year  <input type="text" id="v1year" value="@item.Year" style="width:86%" /> </p>
                            <p> Color  <input type="text" id="v1color" value="@item.Color" style="width:84%" /> </p>
                            <p> License Plate #  <input id="v1plat" value="@item.LicensePlate" type="text" style="width:60%" /> </p>
                            <p> License Plat State   <input id="v1state" value="@item.LicensePlatState" type="text" style="width:53%" /> </p>
                        </div>
                    }


                    if (Model.rvs.Count == 1)
                    {
                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;">

                            <p style="text-align:center"> <b>Resident - Vehicle Information  </b> </p>
                            <p> Make  <input type="text" id="v1make" value="" style="width:82%" /> </p>
                            <p> Model  <input type="text" id="v1model" value="" style="width:82%" /> </p>
                            <p> Type (car,van,SUV) <input id="v1type" value="" type="text" style="width:51%" /> </p>
                            <p> Year  <input type="text" id="v1year" value="" style="width:86%" /> </p>
                            <p> Color  <input type="text" id="v1color" value="" style="width:84%" /> </p>
                            <p> License Plate #  <input id="v1plat" value="" type="text" style="width:60%" /> </p>
                            <p> License Plat State   <input id="v1state" value="" type="text" style="width:53%" /> </p>
                        </div>
                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;">
                            <p style="text-align:center"> <b>Resident - Vehicle Information  </b> </p>
                            <p> Make  <input type="text" id="v1make" value="" style="width:82%" /> </p>
                            <p> Model  <input type="text" id="v1model" value="" style="width:82%" /> </p>
                            <p> Type (car,van,SUV) <input id="v1type" value="" type="text" style="width:51%" /> </p>
                            <p> Year  <input type="text" id="v1year" value="" style="width:86%" /> </p>
                            <p> Color  <input type="text" id="v1color" value="" style="width:84%" /> </p>
                            <p> License Plate #  <input id="v1plat" value="" type="text" style="width:60%" /> </p>
                            <p> License Plat State   <input id="v1state" value="" type="text" style="width:53%" /> </p>
                        </div>

                    }

                    if (Model.rvs.Count == 2)
                    {

                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;">

                            <p style="text-align:center"> <b>Resident - Vehicle Information  </b> </p>
                            <p> Make  <input type="text" id="v1make" value="" style="width:82%" /> </p>
                            <p> Model  <input type="text" id="v1model" value="" style="width:82%" /> </p>
                            <p> Type (car,van,SUV) <input id="v1type" value="" type="text" style="width:51%" /> </p>
                            <p> Year  <input type="text" id="v1year" value="" style="width:86%" /> </p>
                            <p> Color  <input type="text" id="v1color" value="" style="width:84%" /> </p>
                            <p> License Plate #  <input id="v1plat" value="" type="text" style="width:60%" /> </p>
                            <p> License Plat State   <input id="v1state" value="" type="text" style="width:53%" /> </p>
                        </div>

                    }
                }

            </form>

        </div>
        <style type="text/css">

            @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

            ol {
                margin: 0;
                padding: 0
            }

            p {
                margin-bottom: 10px !important;
            }


            .clearfix {
                clear: both;
            }

            div.form-div {
                display: inline-block;
            }

            .dtprops td, .dtprops th {
                white-space: nowrap;
            }

            input {
                border: none;
                border-bottom: 1px solid #0c0606;
                padding: 5px;
            }

            th {
                text-align: center !important;
                color: white;
                padding:5px;
            }

            td{
                padding:5px;
            }

            .vinfo p {
                margin-bottom: 0px !important;
            }

            button {
                margin-left: 4%;
            }

            .has-error {
                border-color: red;
            }
        </style>

    </div>
</body>
</html>


