@{
    ViewBag.Title = "Referral Request";
}

<input type="hidden" id="pageid" value="referalrequest" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Referral Request </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/resrel.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:white;text-transform:uppercase;"> <b>  Referral Request </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {
                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>
                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@
                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('ReferralRequest'); ">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Referral Request Sheet
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;  border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">
                                        <p style="line-height: 99%;  margin: 0cm 0cm .0001pt 3.0pt;"><strong><span style="font-size: 18.0pt; line-height: 99%; font-family: 'Century Gothic',sans-serif;">RESIDENT REFERRAL SHEET</span></strong> <img style="float:right;" src="~/img/residentreferaltop.png" /> </p>
                                        <p style=" line-height: 19.1pt; "><span style="font-size: 12.0pt; font-family: 'Times New Roman',serif;">&nbsp;</span></p>
                                        <table style="margin-left: .5pt; border-collapse: collapse;width:100%">
                                            <tbody>
                                                <tr style="height: 17.65pt;">
                                                    <td style="width: 209.0pt; border: solid windowtext 1.0pt; padding: 0cm 0cm 0cm 0cm; height: 17.65pt;" width="279">
                                                        <p style="line-height: normal;  margin: 0cm 0cm .0001pt 6.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Property Code: <input type="text" id="propertynumber" />  </span></strong></p>
                                                    </td>
                                                    <td style="width: 325.0pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 0cm 0cm 0cm; height: 17.65pt;" width="433">
                                                        <p style="line-height: normal;  margin: 0cm 0cm .0001pt 5.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Property Name: <input disabled type="text" id="propertyname" style="width:44%;" /> </span></strong></p>
                                                    </td>
                                                </tr>
                                                <tr style="height: 16.65pt;">
                                                    <td style="width: 209.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 0cm 0cm 0cm; height: 16.65pt;" width="279">
                                                        <p style="line-height: 16.6pt;  margin: 0cm 0cm .0001pt 6.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Referring Resident Code: <input type="text" style="width:39%;" id="refresidentcode" /> </span></strong></p>
                                                    </td>
                                                    <td style="width: 325.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 0cm 0cm 0cm; height: 16.65pt;" width="433">
                                                        <p style="line-height: 16.6pt;  margin: 0cm 0cm .0001pt 5.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Referring Resident Name: <input type="text" id="refresidentname" /> </span></strong></p>
                                                    </td>
                                                </tr>
                                                <tr style="height: 70.4pt;">
                                                    <td colspan="2" style="width: 209.0pt; border-top: none; border-left: solid windowtext 1.0pt; border: solid windowtext 1.0pt; padding: 0cm 0cm 0cm 0cm; height: 70.4pt;" width="279">

                                                        <p style=" line-height: 16.6pt; width:10%; display:inline-block "><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">&nbsp; Notes: </span></strong> </p> <textarea id="notes" style="width:80%; display:inline-block;">  </textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman',serif;">&nbsp;</span></strong></p>
                                        <table style="width:100%;border:1px solid black;margin-bottom:30px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:10px">
                                                        <p style="text-indent: 36.0pt;"><strong>This agreement is made between (Property Name) <input type="text" style="width:35%;" disabled id="propertyname1" /> and (Resident&rsquo;s Name)<input type="text" id="residentname1" /> , concerning the referral of (Referred Resident) <input type="text" style="width:19%;" id="refferedresident" /> in unit number<input style="width:8%" type="text" id="unitnumber" />. </strong></p>
                                                        <p style="text-indent: 36.0pt;"><strong>In consideration of the referral, the Property now agrees to credit rent of the referring resident for $ <input type="text" style="width:10%;" id="referalbonus" /> as a referral bonus. This amount will be credited after the referred resident has lived on-site for a full 30 days and has paid a full month&rsquo;s rent with no concessions. &nbsp;&nbsp;</strong></p>
                                                        <p style="text-indent: 36.0pt;"><strong>&nbsp;</strong></p>
                                                        <p><strong>&nbsp;Submit for Rent Credit: </strong></p>
                                                        <ul style="list-style-type:decimal">
                                                            <li> Copy of application or KNOCK listing the referring resident&rsquo;s name. &nbsp; </li>
                                                            <li> Copy of executed lease of referred resident. </li>
                                                            <li> Completed Resident Referral Sheet (this form).  </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p style=" line-height: 99%; ">
                                            <span style=" line-height: 99%; ">
                                                Referring Resident:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<input type="text" style="    width: 46.5%;
    margin-right: 3%;
    margin-left: 3.5%;" id="refresidentsign" /> Dated <input type="date" id="refresdate" />
                                            </span>
                                        </p>

                                        <p style=" line-height: normal;">
                                            <span style="">Property Manager&rsquo;s Approval:</span>
                                            <span style="">
                                                <input style="width: 46.5%;
    margin-right: 3%;" type="text" id="properymanagersign" /> Dated<input type="date" id="properymanagerdate" />
                                            </span>
                                        </p>
                                        <p style=" line-height: 99%;margin: 41px 0px 0px 0px; "><strong><span style="font-size: 14.0pt; line-height: 99%;">ACCOUNTING USE ONLY:</span></strong></p>

                                        <p style=" line-height: 99%;margin-top:10px; margin-bottom:20px;"><span style=" ">Received: <input type="text" style="margin-right:18%;" id="receivedamount" value="0" /> Credit Applied:<input type="text" value="0" id="creditapplied" /></span></p>

                                        <p style="margin-top:20px;"><strong><span style="font-size: 14.0pt; line-height: 107%; font-family: 'Century Gothic',sans-serif;">RESIDENT REFERRAL PROGRAM</span></strong></p>
                                        <p style="text-indent: 36.0pt;">The Resident Referral Program is designed to reward our current residents for referring others to a Carroll Community. Each resident will receive a credit to their ledger for the referral bonus amount, which is set on a property-by-property basis.</p>
                                        <p><strong>Residents are eligible to receive a referral fee after the described requirements are met:</strong></p>
                                        <ul>
                                            <li>Referred Applicant(s) must add referring residents&rsquo; name on application or KNOCK during their visit.</li>
                                            <li>Referred Applicant(s) must be approved per the community requirements and execute a valid minimum six-month lease with a Carroll Property.</li>
                                            <li>Referred Resident(s) must establish a minimum 30-day residency and pay one full month&rsquo;s rent (full-month concessions are not considered payments).</li>
                                            <li>Referred or Referring Resident(s) cannot at any time withhold payments. If the referring residents&rsquo; rent is due and credit has not been posted to the ledger, the resident must pay rent in full and the credit will be applied to the following month.</li>
                                            <li>All appropriate documents must be submitted to the Accounts Payable Team before a credit can be applied to the referring tenant(s) ledger.</li>
                                        </ul>
                                        <p>&nbsp;</p>
                                        <p><strong>Submitting Documents: </strong></p>
                                        <p>Please submit the following documents to have the credit applied:</p>
                                        <ol style="margin-left:5%">
                                            <li>Copy of the referred applicants&rsquo; application or KNOCK referring tenant(s) name.</li>
                                            <li>Copy of referred residents Terms and Signature Lease pages.</li>
                                            <li>Completed Referral Request Form.</li>
                                        </ol>
                                        <p>&nbsp;</p>
                                        <p><strong>Applying Credits: </strong></p>
                                        <p>All applied credits will be added to the referring resident(s) ledger by the Accounts Payable Department.&nbsp; Once all supporting documentations have been uploaded to the resident(s) profile as an attachment, please notify your properties Accounts Payable personnel via email as follows:</p>
                                        <p style="margin-left: 36.0pt;"><strong>Subject</strong>: Resident Referral &ndash; (Last Name)</p>
                                        <p style="margin-left: 36.0pt;"><strong>Body</strong>: Please process the credit (amount) for (Last Name).</p>
                                        <p style="margin-left: 36.0pt;">All required documents have been uploaded.</p>
                                        <p style="margin-left: 36.0pt;">Thank You.</p>
                                        <p>Once the team receives the appropriate documents, a credit charge for the approved amount will be added to the resident&rsquo;s ledger and a confirmation email will be sent to the property within 48 hours of receipt.</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <br /> <br />
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>


            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        p {
            margin-bottom: 5px !important;
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function () {
            var leaseid = "";

            GetAllMileageForms('ResidentReferal');

            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });



            $("#propertynumber").focusout(function () {

                if ($("#propertynumber").val() == "") {

                    //$('#toastnotification').modal('show');

                    //$(".alert").html('<h6 style="color:red;"> Please Enter Property Number </h6> ');

                    //setTimeout(function () {
                    //    $('#toastnotification').modal('hide');

                    //    $(".alert").html(' ');
                    //}, 3000);

                    alert("Please Enter Property Number");

                    //   $("#propertynumber").focus();
                }
                else {

                    $.get($BaseApiUrl + "api/Data/GetPropertyName?PropertyNumber=" + $("#propertynumber").val(), function (data) {
                        if (data == "") {

                            alert("Invalid Property Code");

                            //   $("#propertynumber").focus();
                            $("#propertyname").val('');
                            $("#propertyname1").val('');
                            //$('#toastnotification').modal('show');

                            //$(".alert").html('<h6 style="color:red;"> Invalid Property Code </h6> ');

                            //setTimeout(function ()
                            //{
                            //    $('#toastnotification').modal('hide');

                            //    $(".alert").html(' ');
                            //}, 3000);
                        }
                        else {

                            $("#propertyname").val(data);
                            $("#propertyname1").val(data);
                        }
                    });
                }

            });

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#propertynumber").val() == "" || $("#propertyname").val() == "") {
                    errormsgsummary += "<li> Please Choose Property Properly </li>";
                    $("#propertynumber").addClass('has-error');
                    if (control == "")
                        control = $("#propertynumber");
                }

                if ($("#refresidentcode").val() == "") {
                    errormsgsummary += "<li> Please Enter Reference Resident Code </li>";
                    $("#refresidentcode").addClass('has-error');
                    if (control == "")
                        control = $("#refresidentcode");
                }


                if ($("#refresidentname").val() == "") {
                    errormsgsummary += "<li> Please Enter Reference Resident Name </li>";
                    $("#refresidentname").addClass('has-error');
                    if (control == "")
                        control = $("#refresidentname");
                }

                if ($("#propertyname1").val() == "") {
                    errormsgsummary += "<li> Please Enter Property Name </li>";
                    $("#propertyname1").addClass('has-error');
                    if (control == "")
                        control = $("#propertyname1");
                }


                if ($("#residentname1").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident Name </li>";
                    $("#residentname1").addClass('has-error');
                    if (control == "")
                        control = $("#residentname1");
                }

                if ($("#refferedresident").val() == "") {
                    errormsgsummary += "<li> Please Enter Referred Resident Name </li>";
                    $("#refferedresident").addClass('has-error');
                    if (control == "")
                        control = $("#refferedresident");
                }


                if ($("#unitnumber").val() == "") {
                    errormsgsummary += "<li> Please Enter Unit Number </li>";
                    $("#unitnumber").addClass('has-error');
                    if (control == "")
                        control = $("#unitnumber");
                }


                if ($("#referalbonus").val() == "") {
                    errormsgsummary += "<li> Please Enter Referal Bonus </li>";
                    $("#referalbonus").addClass('has-error');
                    if (control == "")
                        control = $("#referalbonus");
                }

                if (errormsgsummary != "") {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);

                    var insertForm = new FormData();
                    insertForm.append('propertynumber', $("#propertynumber").val());
                    insertForm.append('propertyname', $("#propertyname").val());
                    insertForm.append('refresidentcode', $("#refresidentcode").val());
                    insertForm.append('refresidentname', $("#refresidentname").val());
                    insertForm.append('notes', $("#notes").val());
                    insertForm.append('propertyname1', $("#propertyname1").val());
                    insertForm.append('residentname1', $("#residentname1").val());
                    insertForm.append('refferedresident', $("#refferedresident").val());
                    insertForm.append('unitnumber', $("#unitnumber").val());
                    insertForm.append('referalbonus', $("#referalbonus").val());

                    insertForm.append('refresidentsign', $("#refresidentsign").val());
                    insertForm.append('refresdate', $("#refresdate").val());
                    insertForm.append('properymanagersign', $("#properymanagersign").val());
                    insertForm.append('properymanagerdate', $("#properymanagerdate").val());


                    insertForm.append('receivedamount', $("#receivedamount").val());
                    insertForm.append('creditapplied', $("#creditapplied").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertResidentReferralRequest",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#status").html('');

                                document.getElementById("submitform").reset();

                                GetAllMileageForms('ResidentReferal');
                                ShowToastNotification('Record Successfully Updated', 3);


                                setTimeout(function () {

                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });



        });

    </script>

}
