@{
    ViewBag.Title = "Referral Contact";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Referral Contact </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/resrel.jpg');background-size: cover;padding: 240px 15px 7px;">
                <h1 style="padding-top:5px;color:white;text-transform:uppercase;"> <b>  Referral Contact </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {
                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>
                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@
                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('ReferralContact'); ">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Referral Contact
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;  border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">

                                        <div style="width:100%; text-align:center;">


                                            <img style="width:200px;" src="~/carroll.portals/img/residentreferaltop.png" />


                                        </div>

                                        <div style="width:100%">

                                            <div class="form-div" style="width:15%; border:1px solid #e5d9d9; border: 1px solid #e5d9d9;
    float: left;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
    color: black;">
                                                <p style=""> Office Use Only:</p>
                                                <p> Copy Of Renter's <br /> Insurance Declaration <br /> in File <input type="checkbox" id="insurancedeclaration" > </p>
                                            </div>

                                            <div class="form-div" style="width:85%;float:right;">

                                                <h1 style="    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0px !important;padding-top:5px; padding-left: 10%;
    margin-bottom: 10px !important;">
                                                    Resident Contact & Information Update form
                                                </h1>
                                                <h5 style="margin: 0px;
    padding: 0px;
        color: black;
    font-weight: bold;
    padding-left: 35%;">
                                                    *PLEASE PRINT*
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="width:100%">

                                            <p style="margin-left:20%;"> Building #  <input type="text" id="building" /> Apartment #   <input type="text" id="apartment" /> 	</p>
                                            <p> As a Resident at <input type="text" id="propertyname" style="width:25%;" />	 		 Apartments we want to make sure we have the updated information for our residents. Please help us keep our records up-to-date by providing any updates to your contact information, including information regarding the main contact.</p>
                                            <p> Please return this via email to   <input type="text" id="returnemail" style="width:20%;" />@@carrollmg.com, fax to ( <input type="text" id="fax1" style="width:5%;" /> ) 	 <input type="text" id="fax11" style="width:20%;" />			 or drop back at our onsite Management Office. Questions can be directed to ( <input type="text" id="fax2" style="width:5%;" />)   <input type="text" id="fax22" style="width:15%;" />			           . </p>
                                        </div>
                                        <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:15px; float:left;">

                                            <p> <b>Resident #1 </b>  : <input type="text" id="r1name" style="width:75%" /> </p>
                                            <p> * Cell Phone # : <input type="text" id="r1cell" style="width:72%" /> </p>
                                            <p> Email  <input type="text" id="r1email" style="width:88%" /> </p>
                                            <p> <input type="radio" name="resident1" id="r1home" /> Home 
                                            <input type="radio" name="resident1" id="r1work" />  Work Phone #  <input type="text" id="r1otherphone" style="width:44%" /> </p>
                                            <p> Current Employer  <input type="text" id="r1currentemployer" style="width:68%" /> </p>
                                            <p> Position  <input type="text"  id="r1position" style="width:83%" /> </p>
                                        </div> 
                                        <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:15px;float:left; ">

                                            <p> <b>Resident #2 </b>  : <input type="text" id="r2name" style="width:75%" /> </p>
                                            <p> * Cell Phone # : <input type="text" id="r2cell" style="width:72%" /> </p>
                                            <p> Email  <input type="text" id="r2email" style="width:88%" /> </p>
                                            <p>
                                                <input type="radio" name="resident2" id="r2home" /> Home
                                                <input type="radio" name="resident2" id="r2work" />  Work  Phone #  <input type="text" id="r2otherphone" style="width:44%" />
                                            </p>
                                            <p> Current Employer  <input type="text" id="r2currentemployer" style="width:68%" /> </p>
                                            <p> Position  <input type="text" id="r2position" style="width:83%" /> </p>

                                        </div>
                                        <span style="  font-style: italic;font-size:12px;color:black;"> * Required information.  Carroll Management respects the privacy of its residents’ information and will only use it for the purposes of Resident-Leasing Office communication.  </span>
                                        <br />
                                        <p style="margin-top:10px !important;"> <b> EMERGENCY CONTACT </b>  - Person to contact and/or <span style="text-decoration:underline;"> allowed entry into your apartment </span> in case of emergency or death  </p>
                                     <p style="text-align:center;">   <b > (someone <span style="text-decoration:underline">NOT </span> living in the household): </b> </p>
                                        
                                        <div class="form-div" style="width:50%;padding:0px;padding-left:30px;float:left; ">
                                            <p> Name :  <input type="text" id="ename" style="width:68%" /> </p>
                                            <p> Address :   <textarea id="eaddress" style="width:83%"> </textarea>  </p>
                                        </div>

                                        <div class="form-div" style="width:50%;padding:0px;padding-left:30px;float:left; ">

                                            <p> Phone # :  <input type="text" id="ephone" style="width:68%" /> </p>
                                            <p> Relationship to you :  <input type="text" id="erelation" style="width:50%" />  </p>
                                        </div>

                                        <p style="clear:both;">  <b> Please provide information for other occupants.</b> If you have other occupants living in the apartment, please list them below. More names may be added to additional pages.</p>
                                        <table cellpadding="2" cellspacing="2" border="1" style="margin:20px;">

                                            <thead style="background-color:#808080"> <tr><th style="text-align:center"> FULL NAME  </th><th> DATE OF BIRTH     </th> <th> FULL NAME  </th><th> DATE OF BIRTH     </th></tr></thead>
                                            <tbody>
                                                <tr> <td> <input type="text" id="o1name" style="width:90%" /> </td> <td> <input type="date" id="o1date" style="width:90%" /> </td><td> <input id="o2name" type="text" style="width:90%" /> </td><td> <input type="date" id="o2date" style="width:90%" /> </td></tr>
                                                <tr> <td> <input type="text" id="o3name" style="width:90%" /> </td> <td> <input type="date" id="o3date" style="width:90%" /> </td><td> <input type="text" id="o4name" style="width:90%" /> </td><td> <input type="text" id="o4date" style="width:90%" /> </td></tr>
                                            </tbody>
                                        </table>

                                        <p style="width:25%;display:inline-block;"> <input id="r1sign" type="text" style="width:90%" /> <br />  <b> Resident Signature </b> </p>
                                        <p style="width:20%;display:inline-block;"> <input id="r1date" type="date" style="width:90%" /> <br />  <b> Date </b> </p>
                                        <p style="width:25%;display:inline-block;"> <input id="r2sign" type="text" style="width:90%" /> <br />  <b> Resident Signature </b> </p>
                                        <p style="width:20%;display:inline-block;"> <input id="r2date" type="date" style="width:90%" /> <br />  <b> Date </b> </p>
                                        <br />

                                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;float:left; ">

                                            <p style="text-align:center"> <b>Resident #1 - Vehicle Information  </b> </p>
                                            <p> Make  <input type="text" id="v1make" style="width:82%" /> </p>
                                            <p> Model  <input type="text" id="v1model" style="width:82%" /> </p>
                                            <p> Type (car,van,SUV) <input id="v1type" type="text" style="width:51%" /> </p>
                                            <p> Year  <input type="text" id="v1year" style="width:86%" /> </p>
                                            <p> Color  <input type="text" id="v1color" style="width:84%" /> </p>
                                            <p> License Plate #  <input id="v1plat" type="text" style="width:60%" /> </p>
                                            <p> License Plat State   <input id="v1state" type="text" style="width:53%" /> </p>
                                        </div>

                                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;float:left; ">

                                            <p style="text-align:center"> <b>Resident #2 - Vehicle Information  </b> </p>
                                            <p> Make  <input type="text" id="v2make" style="width:82%" /> </p>
                                            <p> Model  <input type="text" id="v2model" style="width:82%" /> </p>
                                            <p> Type (car,van,SUV) <input id="v2type" type="text" style="width:51%" /> </p>
                                            <p> Year  <input type="text" id="v2year" style="width:86%" /> </p>
                                            <p> Color  <input type="text" id="v2color" style="width:84%" /> </p>
                                            <p> License Plate #  <input id="v2plat" type="text" style="width:60%" /> </p>
                                            <p> License Plat State   <input id="v2state" type="text" style="width:53%" /> </p>
                                        </div>


                                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;float:left; ">

                                            <p style="text-align:center"> <b>Resident #3 - Vehicle Information  </b> </p>
                                            <p> Make  <input type="text" id="v3make" style="width:82%" /> </p>
                                            <p> Model  <input type="text" id="v3model" style="width:82%" /> </p>
                                            <p> Type (car,van,SUV) <input id="v3type" type="text" style="width:51%" /> </p>
                                            <p> Year  <input type="text" id="v3year" style="width:86%" /> </p>
                                            <p> Color  <input type="text" id="v3color" style="width:84%" /> </p>
                                            <p> License Plate #  <input id="v3plat" type="text" style="width:60%" /> </p>
                                            <p> License Plat State   <input id="v3state" type="text" style="width:53%" /> </p>
                                        </div>
                                        <br /> <br />
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" style="margin-top:20px !important" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>

            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles 
{

    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        p {
            margin-bottom: 10px !important;
        }

     
        .clearfix
        {
            clear:both;
        }

        div.form-div
        {
            display:inline-block;
        }
     
        .dtprops td, .dtprops th 
        {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        th{
            text-align:center !important;
            color:white;
        }

        .vinfo p
        {
            margin-bottom:0px !important;
        }
        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function ()
        {
            var leaseid = "";

            GetAllMileageForms('ResidentReferal');

            $("input").change(function (e)
            {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });



            $("#propertynumber").focusout(function () {

                if ($("#propertynumber").val() == "") {

               
                    alert("Please Enter Property Number");

                }
                else {

                    $.get($BaseApiUrl + "api/Data/GetPropertyName?PropertyNumber=" + $("#propertynumber").val(), function (data) {
                        if (data == "") {

                            alert("Invalid Property Code");

                            //   $("#propertynumber").focus();
                            $("#propertyname").val('');
                            $("#propertyname1").val('');
                         
                        }
                        else {

                            $("#propertyname").val(data);
                            $("#propertyname1").val(data);
                        }
                    });
                }

            });

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#propertyname").val() == "") {
                    errormsgsummary += "<li> Please Enter Apartment Name  </li>";
                    $("#propertyname").addClass('has-error');
                    if (control == "")
                        control = $("#propertyname");
                }

                if ($("#building").val() == "") {
                    errormsgsummary += "<li> Please Enter Building </li>";
                    $("#building").addClass('has-error');
                    if (control == "")
                        control = $("#building");
                }


                if ($("#apartment").val() == "") {
                    errormsgsummary += "<li> Please Enter Apartment Name </li>";
                    $("#apartment").addClass('has-error');
                    if (control == "")
                        control = $("#apartment");
                }

                if ($("#returnemail").val() == "") {
                    errormsgsummary += "<li> Please Enter Return Email  </li>";
                    $("#returnemail").addClass('has-error');
                    if (control == "")
                        control = $("#returnemail");
                }


                if ($("#fax1").val() == "" || $("#fax1").val() == "") {
                    errormsgsummary += "<li> Please Enter Fax Details  </li>";
                    $("#fax1,fax11").addClass('has-error');
                    if (control == "")
                        control = $("#fax1,fax11");
                }
                if ($("#r1work").val() == "") {
                    errormsgsummary += "<li> Please Enter Return Email  </li>";
                    $("#returnemail").addClass('has-error');
                    if (control == "")
                        control = $("#returnemail");
                }
                if ($("#returnemail").val() == "") {
                    errormsgsummary += "<li> Please Enter Return Email  </li>";
                    $("#returnemail").addClass('has-error');
                    if (control == "")
                        control = $("#returnemail");
                }
                // if ($("#returnemail").val() == "") {
                //    errormsgsummary += "<li> Please Enter Return Email  </li>";
                //    $("#returnemail").addClass('has-error');
                //    if (control == "")
                //        control = $("#returnemail");
                //}

                //if ($("#residentname1").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Resident Name </li>";
                //    $("#residentname1").addClass('has-error');
                //    if (control == "")
                //        control = $("#residentname1");
                //}


                //if ($("#unitnumber").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Unit Number </li>";
                //    $("#unitnumber").addClass('has-error');
                //    if (control == "")
                //        control = $("#unitnumber");
                //}


                //if ($("#referalbonus").val() == "") {
                //    errormsgsummary += "<li> Please Enter Referal Bonus </li>";
                //    $("#referalbonus").addClass('has-error');
                //    if (control == "")
                //        control = $("#referalbonus");
                //}

                if (errormsgsummary != "")
                {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);

                    var insertForm = new FormData();
                    insertForm.append('propertynumber', $("#propertynumber").val());
                    insertForm.append('propertyname', $("#propertyname").val());
                    insertForm.append('refresidentcode', $("#refresidentcode").val());
                    insertForm.append('refresidentname', $("#refresidentname").val());
                    insertForm.append('notes', $("#notes").val());
                    insertForm.append('propertyname1', $("#propertyname1").val());
                    insertForm.append('residentname1', $("#residentname1").val());
                    insertForm.append('refferedresident', $("#refferedresident").val());
                    insertForm.append('unitnumber', $("#unitnumber").val());
                    insertForm.append('referalbonus', $("#referalbonus").val());

                    insertForm.append('refresidentsign', $("#refresidentsign").val());
                    insertForm.append('refresdate', $("#refresdate").val());
                    insertForm.append('properymanagersign', $("#properymanagersign").val());
                    insertForm.append('properymanagerdate', $("#properymanagerdate").val());


                    insertForm.append('receivedamount', $("#receivedamount").val());
                    insertForm.append('creditapplied', $("#creditapplied").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertResidentReferralRequest",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#status").html('');

                                document.getElementById("submitform").reset();

                                GetAllMileageForms('ResidentReferal');
                                $(".alert").html('Record Successfully Updated !');
                                $('#toastnotification').modal('show');


                                setTimeout(function () {

                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });



      });

    </script>

}
