@{
    ViewBag.Title = "Referral Contact";
}

<input type="hidden" id="pageid" value="referalcontact" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Referral Contact </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/resrel.jpg');background-size: cover;padding: 240px 15px 7px;">
                <h1 style="padding-top:5px;color:white;text-transform:uppercase;"> <b>  Referral Contact </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {
                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>
                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@
                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('ReferralContact'); ">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Referral Contact
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;  border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">

                                        <div style="width:100%; text-align:center;">


                                            <img style="width:200px;" src="~/carroll.portals/img/residentreferaltop.png" />


                                        </div>

                                        <div style="width:100%">
                                            <div class="form-div" style="width:15%; border:1px solid #e5d9d9; border: 1px solid #e5d9d9;
    float: left;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
    color: black;">
                                                <p style=""> Office Use Only:</p>
                                                <p> Copy Of Renter's <br /> Insurance Declaration <br /> in File <input type="checkbox" style="margin-left:10px;" id="insurancedeclaration"> </p>
                                            </div>

                                            <div class="form-div" style="width:85%;float:right;">

                                                <h1 style="    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0px !important;padding-top:5px; padding-left: 10%;
    margin-bottom: 10px !important;">
                                                    Resident Contact & Information Update form
                                                </h1>
                                                <h5 style="margin: 0px;
    padding: 0px;
        color: black;
    font-weight: bold;
    padding-left: 35%;">
                                                    *PLEASE PRINT*
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="clearfix" style="width:100%">

                                            <p style="margin-left:20%;"> Building #  <input type="text" id="building" /> Apartment #   <input type="text" id="apartment" /> 	</p>
                                            <p> As a Resident at <input type="text" id="propertyname" style="width:25%;" />	 		 Apartments we want to make sure we have the updated information for our residents. Please help us keep our records up-to-date by providing any updates to your contact information, including information regarding the main contact.</p>
                                            <p> Please return this via email to   <input type="text" id="returnemail" style="width:20%;" />@@carrollmg.com, fax to ( <input type="text" id="fax1" style="width:5%;" /> ) 	 <input type="text" id="fax11" style="width:20%;" />			 or drop back at our onsite Management Office. Questions can be directed to ( <input type="text" id="fax2" style="width:5%;" />)   <input type="text" id="fax22" style="width:15%;" />			           . </p>
                                        </div>
                                        <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:15px; float:left;">

                                            <p> <b>Resident #1 </b>  : <input type="text" id="r1name" style="width:75%" /> </p>
                                            <p> * Cell Phone # : <input type="text" id="r1cell" style="width:72%" /> </p>
                                            <p> Email  <input type="text" id="r1email" style="width:88%" /> </p>
                                            <p>
                                                <input type="radio" name="resident1" id="r1home" /> Home
                                                <input type="radio" name="resident1" id="r1work" />  Work Phone #  <input type="text" id="r1otherphone" style="width:44%" />
                                            </p>
                                            <p> Current Employer  <input type="text" id="r1currentemployer" style="width:68%" /> </p>
                                            <p> Position  <input type="text" id="r1position" style="width:83%" /> </p>
                                        </div>
                                        <div class="form-div vinfo" style="width:50%;border:2px solid black;padding:15px;float:left; ">

                                            <p> <b>Resident #2 </b>  : <input type="text" id="r2name" style="width:75%" /> </p>
                                            <p> * Cell Phone # : <input type="text" id="r2cell" style="width:72%" /> </p>
                                            <p> Email  <input type="text" id="r2email" style="width:88%" /> </p>
                                            <p>
                                                <input type="radio" name="resident2" id="r2home" /> Home
                                                <input type="radio" name="resident2" id="r2work" />  Work  Phone #  <input type="text" id="r2otherphone" style="width:44%" />
                                            </p>
                                            <p> Current Employer  <input type="text" id="r2currentemployer" style="width:68%" /> </p>
                                            <p> Position  <input type="text" id="r2position" style="width:83%" /> </p>

                                        </div>
                                        <span style="  font-style: italic;font-size:12px;color:black;"> * Required information.  Carroll Management respects the privacy of its residents’ information and will only use it for the purposes of Resident-Leasing Office communication.  </span>
                                        <br />
                                        <p style="margin-top:10px !important;"> <b> EMERGENCY CONTACT </b>  - Person to contact and/or <span style="text-decoration:underline;"> allowed entry into your apartment </span> in case of emergency or death  </p>
                                        <p style="text-align:center;">   <b> (someone <span style="text-decoration:underline">NOT </span> living in the household): </b> </p>

                                        <div class="form-div" style="width:50%;padding:0px;padding-left:30px;float:left; ">
                                            <p> Name :  <input type="text" id="ename" style="width:68%" /> </p>
                                            <p> Address :   <textarea id="eaddress" style="width:83%"> </textarea>  </p>
                                        </div>

                                        <div class="form-div" style="width:50%;padding:0px;padding-left:30px;float:left; ">

                                            <p> Phone # :  <input type="text" id="ephone" style="width:68%" /> </p>
                                            <p> Relationship to you :  <input type="text" id="erelation" style="width:50%" />  </p>
                                        </div>

                                        <p style="clear:both;">  <b> Please provide information for other occupants.</b> If you have other occupants living in the apartment, please list them below. More names may be added to additional pages.</p>
                                        <table cellpadding="2" cellspacing="2" border="1" style="margin:20px;">

                                            <thead style="background-color:#808080"> <tr><th style="text-align:center"> FULL NAME  </th><th> DATE OF BIRTH     </th> <th> FULL NAME  </th><th> DATE OF BIRTH     </th></tr></thead>
                                            <tbody>
                                                <tr> <td> <input type="text" id="o1name" style="width:90%" /> </td> <td> <input type="date" id="o1date" style="width:90%" /> </td><td> <input id="o2name" type="text" style="width:90%" /> </td><td> <input type="date" id="o2date" style="width:90%" /> </td></tr>
                                                <tr> <td> <input type="text" id="o3name" style="width:90%" /> </td> <td> <input type="date" id="o3date" style="width:90%" /> </td><td> <input type="text" id="o4name" style="width:90%" /> </td><td> <input type="date" id="o4date" style="width:90%" /> </td></tr>
                                            </tbody>
                                        </table>

                                        <p style="width:25%;display:inline-block;"> <input id="r1sign" type="text" style="width:90%" /> <br />  <b> Resident Signature </b> </p>
                                        <p style="width:20%;display:inline-block;"> <input id="r1date" type="date" style="width:90%" /> <br />  <b> Date </b> </p>
                                        <p style="width:25%;display:inline-block;"> <input id="r2sign" type="text" style="width:90%" /> <br />  <b> Resident Signature </b> </p>
                                        <p style="width:20%;display:inline-block;"> <input id="r2date" type="date" style="width:90%" /> <br />  <b> Date </b> </p>
                                        <br />

                                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;float:left; ">

                                            <p style="text-align:center"> <b>Resident #1 - Vehicle Information  </b> </p>
                                            <p> Make  <input type="text" id="v1make" style="width:82%" /> </p>
                                            <p> Model  <input type="text" id="v1model" style="width:82%" /> </p>
                                            <p> Type (car,van,SUV) <input id="v1type" type="text" style="width:51%" /> </p>
                                            <p> Year  <input type="text" id="v1year" style="width:86%" /> </p>
                                            <p> Color  <input type="text" id="v1color" style="width:84%" /> </p>
                                            <p> License Plate #  <input id="v1plat" type="text" style="width:60%" /> </p>
                                            <p> License Plat State   <input id="v1state" type="text" style="width:53%" /> </p>
                                        </div>

                                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;float:left; ">

                                            <p style="text-align:center"> <b>Resident #2 - Vehicle Information  </b> </p>
                                            <p> Make  <input type="text" id="v2make" style="width:82%" /> </p>
                                            <p> Model  <input type="text" id="v2model" style="width:82%" /> </p>
                                            <p> Type (car,van,SUV) <input id="v2type" type="text" style="width:51%" /> </p>
                                            <p> Year  <input type="text" id="v2year" style="width:86%" /> </p>
                                            <p> Color  <input type="text" id="v2color" style="width:84%" /> </p>
                                            <p> License Plate #  <input id="v2plat" type="text" style="width:60%" /> </p>
                                            <p> License Plat State   <input id="v2state" type="text" style="width:53%" /> </p>
                                        </div>


                                        <div class="form-div vinfo" style="width:33%;border:2px solid black;padding:15px;float:left; ">

                                            <p style="text-align:center"> <b>Resident #3 - Vehicle Information  </b> </p>
                                            <p> Make  <input type="text" id="v3make" style="width:82%" /> </p>
                                            <p> Model  <input type="text" id="v3model" style="width:82%" /> </p>
                                            <p> Type (car,van,SUV) <input id="v3type" type="text" style="width:51%" /> </p>
                                            <p> Year  <input type="text" id="v3year" style="width:86%" /> </p>
                                            <p> Color  <input type="text" id="v3color" style="width:84%" /> </p>
                                            <p> License Plate #  <input id="v3plat" type="text" style="width:60%" /> </p>
                                            <p> License Plat State   <input id="v3state" type="text" style="width:53%" /> </p>
                                        </div>
                                        <br /> <br />
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" style="margin-top:20px !important" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>

            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles
{

    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        p {
            margin-bottom: 10px !important;
        }


        .clearfix {
            clear: both;
        }

        div.form-div {
            display: inline-block;
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        th {
            text-align: center !important;
            color: white;
        }

        .vinfo p {
            margin-bottom: 0px !important;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }


        .dtprops td, .dtprops th {
            white-space: nowrap;
            color: #686666 !important;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function () {
            var leaseid = "";

            GetAllMileageForms('ResidentContact');

            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });



            $("#propertynumber").focusout(function () {

                if ($("#propertynumber").val() == "") {


                    alert("Please Enter Property Number");

                }
                else {

                    $.get($BaseApiUrl + "api/Data/GetPropertyName?PropertyNumber=" + $("#propertynumber").val(), function (data) {
                        if (data == "") {

                            alert("Invalid Property Code");

                            //   $("#propertynumber").focus();
                            $("#propertyname").val('');
                            $("#propertyname1").val('');

                        }
                        else {

                            $("#propertyname").val(data);
                            $("#propertyname1").val(data);
                        }
                    });
                }

            });

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#propertyname").val() == "") {
                    errormsgsummary += "<li> Please Enter Apartment Name  </li>";
                    $("#propertyname").addClass('has-error');
                    if (control == "")
                        control = $("#propertyname");
                }

                if ($("#building").val() == "") {
                    errormsgsummary += "<li> Please Enter Building </li>";
                    $("#building").addClass('has-error');
                    if (control == "")
                        control = $("#building");
                }


                if ($("#apartment").val() == "") {
                    errormsgsummary += "<li> Please Enter Apartment Name </li>";
                    $("#apartment").addClass('has-error');
                    if (control == "")
                        control = $("#apartment");
                }

                if ($("#returnemail").val() == "") {
                    errormsgsummary += "<li> Please Enter Return Email  </li>";
                    $("#returnemail").addClass('has-error');
                    if (control == "")
                        control = $("#returnemail");
                }

                if ($("#r1name").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident1 Name  </li>";
                    $("#r1name").addClass('has-error');
                    if (control == "")
                        control = $("#r1name");
                }

                if ($("#r1cell").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident Cell Number  </li>";
                    $("#r1cell").addClass('has-error');
                    if (control == "")
                        control = $("#r1cell");
                }


                if ($("#r1email").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident1 Email  </li>";
                    $("#r1email").addClass('has-error');
                    if (control == "")
                        control = $("#r1email");
                }

                if ($("#ename").val() == "") {
                    errormsgsummary += "<li> Please Enter Name of Person to Contact in Emergency  </li>";
                    $("#ename").addClass('has-error');
                    if (control == "")
                        control = $("#ename");
                }


                if ($("#eaddress").val() == "") {
                    errormsgsummary += "<li> Please Enter Emergency Contact Address  </li>";
                    $("#eaddress").addClass('has-error');
                    if (control == "")
                        control = $("#eaddress");
                }
                if ($("#ephone").val() == "") {
                    errormsgsummary += "<li> Please Enter Emergency Contact Phone  </li>";
                    $("#ephone").addClass('has-error');
                    if (control == "")
                        control = $("#ephone");
                }
                if ($("#erelation").val() == "") {
                    errormsgsummary += "<li> Please Enter  Your Relation to Emergency Contact Person  </li>";
                    $("#erelation").addClass('has-error');
                    if (control == "")
                        control = $("#erelation");
                }


                if ($("#r1sign").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident1 Signature  </li>";
                    $("#r1sign").addClass('has-error');
                    if (control == "")
                        control = $("#r1sign");
                }

                if ($("#r1date").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident Date  </li>";
                    $("#r1date").addClass('has-error');
                    if (control == "")
                        control = $("#r1date");
                }


                if ($("#v1make").val() == "") {
                    errormsgsummary += "<li> Please Enter Vehicle 1 Make </li>";
                    $("#v1make").addClass('has-error');
                    if (control == "")
                        control = $("#v1make");
                }


                if ($("#v1model").val() == "") {
                    errormsgsummary += "<li> Please Enter Vehicle 1 Model </li>";
                    $("#v1model").addClass('has-error');
                    if (control == "")
                        control = $("#v1model");
                }

                if ($("#v1type").val() == "") {
                    errormsgsummary += "<li> Please Enter vehicle 1 Type </li>";
                    $("#v1type").addClass('has-error');
                    if (control == "")
                        control = $("#v1type");
                }


                if ($("#v1year").val() == "") {
                    errormsgsummary += "<li> Please Enter Vehicle 1 Yar </li>";
                    $("#v1year").addClass('has-error');
                    if (control == "")
                        control = $("#v1year");
                }

                if ($("#v1color").val() == "") {
                    errormsgsummary += "<li> Please Enter Unit Number </li>";
                    $("#v1color").addClass('has-error');
                    if (control == "")
                        control = $("#v1color");
                }


                if ($("#v1plat").val() == "") {
                    errormsgsummary += "<li> Please Enter Vehicle 1 License Plat</li>";
                    $("#v1plat").addClass('has-error');
                    if (control == "")
                        control = $("#v1plat");
                }



                if ($("#v1state").val() == "") {
                    errormsgsummary += "<li> Please Enter Referal Bonus </li>";
                    $("#v1state").addClass('has-error');
                    if (control == "")
                        control = $("#v1state");
                }


                if ($("#o1name").val() != "" && $("#o1date").val() == "") {
                    errormsgsummary += "<li> Please Enter Other Occupant Date Of Birth </li>";
                    $("#o1date").addClass('has-error');
                    if (control == "")
                        control = $("#o1date");
                }



                if ($("#o2name").val() != "" && $("#o2date").val() == "") {
                    errormsgsummary += "<li> Please Enter Other Occupant Date Of Birth </li>";
                    $("#o2date").addClass('has-error');
                    if (control == "")
                        control = $("#o2date");
                }


                if ($("#o3name").val() != "" && $("#o3date").val() == "") {
                    errormsgsummary += "<li> Please Enter Other Occupant Date Of Birth </li>";
                    $("#o3date").addClass('has-error');
                    if (control == "")
                        control = $("#o3date");
                }



                if ($("#o4name").val() != "" && $("#o4date").val() == "") {
                    errormsgsummary += "<li> Please Enter Other Occupant Date Of Birth </li>";
                    $("#o4date").addClass('has-error');
                    if (control == "")
                        control = $("#o4date");
                }


                if (errormsgsummary != "") {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);

                    var insertForm = new FormData();
                    insertForm.append('building', $("#building").val());
                    insertForm.append('apartment', $("#apartment").val());
                    insertForm.append('property', $("#propertyname").val());
                    insertForm.append('returnemail', $("#returnemail").val());
                    insertForm.append('fax1', $("#fax1").val());
                    insertForm.append('fax11', $("#fax11").val());
                    insertForm.append('fax2', $("#fax2").val());
                    insertForm.append('fax22', $("#fax22").val());
                    if ($("#insurancedeclaration").is("checked"))
                        insertForm.append('insurancedeclaration', 'Yes');
                    else
                        insertForm.append('insurancedeclaration', 'No');
                    insertForm.append('emname', $("#ename").val());
                    insertForm.append('emaddress', $("#eaddress").val());
                    insertForm.append('emphone', $("#ephone").val());
                    insertForm.append('emrelation', $("#erelation").val());
                    insertForm.append('sign1', $("#r1sign").val());
                    insertForm.append('sign1date', $("#r1date").val());
                    insertForm.append('sign2', $("#r2sign").val());
                    insertForm.append('sign2date', $("#r2date").val());

                    // residents
                    var residents = "";
                    var home_work1 = false;

                    if ($("#r1home").is(":Checked"))
                        home_work1 = true;
                    else if ($("#r1work").is(":Checked"))
                        home_work1 = false;

                    residents = $("#r1name").val() + "," + $("#r1cell").val() + "," + $("#r1email").val() + "," + home_work1 + "," + $("#r1otherphone").val() + "," + $("#r1currentemployer").val() + "," + $("#r1position").val();

                    if ($("#r2name").val() != "" && $("#r2cell").val() != "" && $("#r2email").val() != "") {
                        residents += "|";
                        if ($("#r2home").is(":Checked"))
                            home_work1 = true;
                        else if ($("#r2work").is(":Checked"))
                            home_work1 = false;
                        residents += $("#r2name").val() + "," + $("#r2cell").val() + "," + $("#r2email").val() + "," + home_work1 + "," + $("#r2otherphone").val() + "," + $("#r2currentemployer").val() + "," + $("#r2position").val();


                    }

                    // check before validations
                    // othercontacts
                    var othercontacts = "";


                    if ($("#o1name").val() != "" && $("#o1date").val() != "") {
                        othercontacts = $("#o1name").val() + "," + $("#o1date").val();
                    }



                    if ($("#o2name").val() != "" && $("#o2date").val() != "") {
                        if (othercontacts != "")
                            othercontacts += "|";
                        othercontacts += $("#o2name").val() + "," + $("#o2date").val();
                    }


                    if ($("#o3name").val() != "" && $("#o3date").val() != "") {
                        if (othercontacts != "")
                            othercontacts += "|";
                        othercontacts += $("#o3name").val() + "," + $("#o3date").val();
                    }



                    if ($("#o4name").val() != "" && $("#o4date").val() == "") {

                        if (othercontacts != "")
                            othercontacts += "|";
                        othercontacts += $("#o4name").val() + "," + $("#o4date").val();
                    }


                    // vehicles
                    var vehicles = "";

                    vehicles = $("#v1make").val() + "," + $("#v1model").val() + "," + $("#v1type").val() + "," + $("#v1year").val() + "," + $("#v1color").val() + "," + $("#v1plat").val() + "," + $("#v1state").val();

                    if ($("#v2make").val() != "" && $("#v2model").val() != "" && $("#v2type").val()) {
                        if (vehicles != "")
                            vehicles += "|";
                        vehicles += $("#v2make").val() + "," + $("#v2model").val() + "," + $("#v2type").val() + "," + $("#v2year").val() + "," + $("#v2color").val() + "," + $("#v2plat").val() + "," + $("#v2state").val();
                    }


                    if ($("#v3make").val() != "" && $("#v3model").val() != "" && $("#v3type").val()) {
                        if (vehicles != "")
                            vehicles += "|";
                        vehicles += $("#v3make").val() + "," + $("#v3model").val() + "," + $("#v3type").val() + "," + $("#v3year").val() + "," + $("#v3color").val() + "," + $("#v3plat").val() + "," + $("#v3state").val();
                    }

                    insertForm.append('residents', residents);
                    insertForm.append('others', othercontacts);
                    insertForm.append('vehicles', vehicles);

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertResidentReferralContact",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#status").html('');

                                document.getElementById("submitform").reset();

                                GetAllMileageForms('ResidentContact');
                                ShowToastNotification('Record Successfully Updated', 3);


                                setTimeout(function () {

                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });



        });

    </script>

}
