@{
    ViewBag.Title = "Month Mileage Log";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Mileage Log </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/expensereport-min.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:black;text-transform:uppercase;"> <b>  Mileage Log </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {

                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>

                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@

                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('Mileage Log');">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:70%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Mileage Log
                                </h1>
                            </div>
                            <div class="modal-body">
<div class="row" style="padding: 20px;padding-left:20px;border: 2px solid black;">
    <form id="submitform" onsubmit="return false;">

        <p class="c1 c8" style="    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 15px;">
            <span class="c7"> MONTHLY MILEAGE LOG </span>
        </p>
        <div class="" style="margin-left:20%;">
            <p class="c1">
                <span class="c0"> Employee Name:    <input type="text" style="width:50%;margin-left:11%;" id="empname" />  </span>
            </p>

            <p class="c1">
                <span class="c0">Office Address :<input type="text" id="officeaddress" style="width:50%;margin-left:12.5%;" /> </span>
            </p>
            <p class="c1">
                <span class="c0">Monthly Mileage is Reported :<input type="text" id="location" style="width:50%;margin-left:2%;" /> </span>
            </p>
        </div>
        <table id="allorders" style="height: 450px;
    overflow: scroll; display:inline-block;border-collapse:collapse" class="table table-bordered">
            <thead id="header-fixed" style="display: table-header-group;">
                <tr>
                    <th style="width:2%"> Date </th>
                    <th style="width:10%" > Bill To Property  </th>
                    <th style="width: 10%;"> Origin/Destination  </th>
                    <th style="width: 25%;"> Purpose  </th>
                    <th style="width: 5%;"> Miles </th>                 
                </tr>
            </thead>
            <tbody style="display: table-header-group;">
                <tr> <td> <input type="date" id="1tdate" />  </td>
                <td> <input type="text" id="1property" />  </td>
                <td> <input type="text" name="name" id="1destination" value="" />  </td>
                <td><input type="text" name="name" id="1purpose" class="pur" value="" /> </td>
                <td> <input type="number" style="width:70px;" id="1miles" value="0" class="cmile"  />  </td> </tr>
                <tr>
                    <td> <input type="date" id="2tdate" />  </td>
                    <td> <input type="text" id="2property" />  </td>
                    <td> <input type="text" name="name" id="2destination" value="" />  </td>
                    <td><input type="text" name="name" id="2purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" id="2miles" value="0" class="cmile" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="3tdate" />  </td>
                    <td> <input type="text" id="3property" />  </td>
                    <td> <input type="text" name="name" id="3destination" value="" />  </td>
                    <td><input type="text" name="name" id="3purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" id="3miles" value="0" class="cmile"  />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="4tdate" />  </td>
                    <td> <input type="text" id="4property" />  </td>
                    <td> <input type="text" name="name" id="4destination" value="" />  </td>
                    <td><input type="text" name="name" id="4purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" id="4miles" value="0" class="cmile" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="5tdate" />  </td>
                    <td> <input type="text" id="5property" />  </td>
                    <td> <input type="text" name="name" id="5destination" value="" />  </td>
                    <td><input type="text" name="name" id="5purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" id="5miles" value="0" class="cmile" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="6tdate" />  </td>
                    <td> <input type="text" id="6property" />  </td>
                    <td> <input type="text" name="name" id="6destination" value="" />  </td>
                    <td><input type="text" name="name" id="6purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" id="6miles" value="0" class="cmile" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="7tdate" />  </td>
                    <td> <input type="text" id="7property" />  </td>
                    <td> <input type="text" name="name" id="7destination" value="" />  </td>
                    <td><input type="text" name="name" id="7purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" value="0" class="cmile"     id="7miles" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="8tdate" />  </td>
                    <td> <input type="text" id="8property" />  </td>
                    <td> <input type="text" name="name" id="8destination" value="" />  </td>
                    <td><input type="text" name="name" id="8purpose" class="pur"  value="" /> </td>
                    <td> <input type="number" style="width:70px;" class="cmile"  value="0" id="8miles" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="9tdate" />  </td>
                    <td> <input type="text" id="9property" />  </td>
                    <td> <input type="text" name="name" id="9destination" value="" />  </td>
                    <td><input type="text" name="name" id="9purpose" class="pur" value="" /> </td>
                    <td> <input type="number" style="width:70px;" class="cmile" value="0" id="9miles" />  </td>
                </tr>
                <tr>
                    <td> <input type="date" id="10tdate" />  </td>
                    <td> <input type="text" id="10property" />  </td>
                    <td> <input type="text" name="name" id="10destination" value="" />  </td>
                    <td><input type="text" name="name" id="10purpose" class="pur" /> </td>
                    <td> <input type="number" style="width:70px;" class="cmile" value="0" id="10miles" />  </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align:center" colspan="1"> <a class="btn btn-sm btn-primary" id="btnnewrow" href="#"> Add New </a></td>
                    <td colspan="3" style="text-align:right;font-size: 15px;
    vertical-align: middle;
    font-weight: bold;">
                        Total Miles
                    </td>
                    <td style="font-size: 15px;
    font-weight: bold;
    vertical-align: middle;">
                        <span id="totalmiles"> </span>
                    </td>
                </tr>
                <tr> <td colspan="5" style="text-align:right;font-weight:bold; "> Amount Due : ( Total Miles * 0.545 Cents ) </td><td style="color:red; font-weight:bold;font-size:20px;"> $ <span id="totalprice"> </span> </td></tr>
            </tfoot>
                </table>
        <p class="c1">
                    <span class="c0"> Signature <input type="text" id="signature" style="width:42%; margin-left:2%" />   </span>
                </p>
                <p class="c1">
                    <span class="c0">Approved By <input type="text" id="approvedby" style="width:42%;" /> </span>
                </p>

                <br />
                <br />
                <div id="status"> </div>
                <div class="col-md-12" style="text-align:center;margin-bottom:20px;">
                    <input type="button" id="Submit" value="Submit" class="btn btn-primary" style="height:35px;" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                </div>
    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover dtprops" width="100%"></table>


            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Times";
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
            height: 18px;
        }

        #submitform table td 
        {
            padding:5px !important;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }
        input.pur{
            width:100%;
        }
        table thead th {
            text-align:center;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function ()
        {
            var leaseid = "";

            GetAllMileageForms('Mileage Log');

            $("input").change(function (e)
            {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });




            var totalmiles = 0;
            var totaldue = 0;


            function calculatetotalmiles()
            {
                totalmiles = 0;

            $(".cmile").each(function () {

                if ($(this).val() != "" && $(this).val() != "0")
                {
                    totalmiles += parseFloat($(this).val());
                }
            });
            totaldue = parseFloat(totalmiles * 0.545).toFixed(2);
            $("#totalmiles").html(totalmiles);
            $("#totalprice").html(totaldue);
            }

            $(document).on('focusout', '.cmile', function (e) {
                calculatetotalmiles();
                
            });

            var isfilled = true;
            var totalrows = "";

            function checkrowvalidation(controlid)
            {

                if ($("#" + controlid + "tdate").val() == "") {
                    isfilled = false;
                    $("#" + controlid + "tdate").addClass('has-error');
                }
                else
                {
                   
                    $("#" + controlid + "date").removeClass('has-error');

                }

                if ($("#" + controlid + "property").val() == "")
                {
                    isfilled = false;
                    $("#" + controlid + "property").addClass('has-error');
                }
                else
                {
                   
                    $("#" + controlid + "property").removeClass('has-error');
                }

                if ($("#" + controlid + "destination").val() == "") {
                    isfilled = false;
                    $("#" + controlid + "destination").addClass('has-error');
                }
                else {
                   
                    $("#" + controlid + "destination").removeClass('has-error');
                }

                if ($("#" + controlid + "purpose").val() == "")
                {
                   
                    $("#" + controlid + "purpose").addClass('has-error');
                }
                else
                {                  
                    $("#" + controlid + "purpose").removeClass('has-error');
                }

                if (totalrows != "")
                    totalrows += "|";
                    totalrows += $("#" + controlid + "tdate").val() + "," + $("#" + controlid + "property").val() + "," + $("#" + controlid + "destination").val() + "," + $("#" + controlid + "purpose").val() + "," + $("#" + controlid + "miles").val();

            }


            var icount = 10;

            $("#btnnewrow").click(function ()
            {
                icount++;
                $("#allorders tbody").append('<tr><td> <input type="date" id="' + icount + 'tdate" />  </td><td> <input type="text" id="' + icount + 'property" />  </td><td> <input type="text" name="name" id="' + icount + 'destination" value="" />  </td> <td><input type="text" name="name" id="' + icount + 'purpose"  class="pur" /> </td> <td> <input type="number" style="width:70px;" class="cmile" value="0" id="' + icount +'miles" />  </td>< </tr>');

            });



            

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                // check validation whether for mile entered row other fields are filled properly
                totalrows="";
                $(".cmile").each(function () {

                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('miles', ''));
                    }
                });

                if (!isfilled)
                {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;">  Please fill out all the highlighted inputs </ul> ');

                   // setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');

                    var insertForm = new FormData();
                    insertForm.append('empname', $("#empname").val());
                    insertForm.append('officeaddress', $("#officeaddress").val());
                    insertForm.append('mileagereported', $("#location").val());
                    insertForm.append('totalmiles', totalmiles);
                    insertForm.append('totalprice', totaldue);
                   
                    insertForm.append('signature', $("#signature").val());
                    insertForm.append('approvedby', $("#approvedby").val());
                    insertForm.append('rows', totalrows);
                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertMileageLog",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data)
                        {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];
                                
                                GetAllMileageForms('Mileage Log');
                                $(".alert").html('Record Successfully Updated !');
                                $('#toastnotification').modal('show');


                                document.getElementById("submitform").reset();

                                setTimeout(function () {
                                    
                                    $("#Submit").attr('disabled', true);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });

            
      });

    </script>

}
