@{
    ViewBag.Title = "Expense Reimbursement";
}

<input type="hidden" id="pageid" value="expense" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Expense Reimbursement </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/expensereport-min.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:black;text-transform:uppercase;color:white;"> <b>  Expense Reimbursement </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {

                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>

                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@

                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('Expense Reimbursement');">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:90%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Expense Reimbursement
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;padding-left:20px;border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">
                                        <p class="c1 c8" style="margin-left: 30%;
    margin-top: 0px; margin-bottom:0px;">
                                            <span class="c7"> Expense Reimbursement</span>
                                        </p>
                                        <div class="col-md-7"> <img src="~/img/newhirenotice.png" /> </div>
                                        <div class="col-md-5">
                                            <p class="c1" style="text-align:right">
                                                <span class="c0">  <span class="name">  Name: </span>    <input type="text" style="width:70%" id="name" />  </span>
                                            </p>
                                            <p class="c1" style="text-align:right">
                                                <span class="c0"> <span class="name">   Date Of Submission : </span> <input type="date" id="date" style="width:70%;" /> </span>
                                            </p>

                                            <p class="c1" style="text-align:right">
                                                <span class="c0"><span class="name">   Address : </span><input type="text" id="address" style="width:70%;" /> </span>
                                            </p>
                                        </div>

                                        <table id="allorders" style="height: 670px;overflow: scroll; display:inline-block;border-collapse:collapse;" class="table table-bordered">

                                            <tbody style="display: table-header-group;">
                                                <tr>
                                                    <td rowspan="2" class="date-input hd"> Date  </td>
                                                    <td rowspan="2" class="txtshort hd"> Short Description </td>
                                                    <td class="unstyled hd "> <span style="color:black;font-weight:bold"> Yardi  </span> </td>
                                                    <td class="input-number color-red un-selectable hd"> 700 </td>
                                                    <td class="input-number"> <input type="number" id="1colyardi" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="2colyardi" name="name" value="" /></td>
                                                    <td class="input-number"> <input type="number" id="3colyardi" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="4colyardi" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="5colyardi" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="6colyardi" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="7colyardi" name="name" value="" /> </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="2" style="color:black;font-weight:bold"> GL Code    </td>
                                                    <td rowspan="1" class="color-red un-selectable"> 6390-0007  </td>
                                                    <td class="input-number"> <input type="number" id="1colglcode" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="2colglcode" name="name" value="" /></td>
                                                    <td class="input-number"> <input type="number" id="3colglcode" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="4colglcode" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="5colglcode" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="6colglcode" name="name" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="7colglcode" name="name" value="" /> </td>
                                                </tr>


                                                <tr class="un-selectable">
                                                    <td class="date-input color-red un-selectable"> 01-05-2018  </td>
                                                    <td class=" color-red" colspan="2"> Example: Roundtrip mileage to leasing rally </td>
                                                    <td class="input-number un-selectable"> $58  </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                </tr>

                                                <tr class="un-selectable">
                                                    <td class="date-input color-red"> 01-05-2018  </td>
                                                    <td class=" color-red" colspan="2"> Example: Tolls to leasing rally </td>
                                                    <td class="input-number un-selectable"> $3  </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                    <td class="input-number"> </td>
                                                </tr>

                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date1" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin1" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="1numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="1numcol2" class="numcol2" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="1numcol3" class="numcol3" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="1numcol4" class="numcol4" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="1numcol5" class="numcol5" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="1numcol6" class="numcol6" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="1numcol7" class="numcol7" name="" value="" />  </td>
                                                </tr>

                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date2" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin2" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="2numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="2numcol2" class="numcol2" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="2numcol3" class="numcol3" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="2numcol4" class="numcol4" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="2numcol5" class="numcol5" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="2numcol6" class="numcol6" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="2numcol7" class="numcol7" name="" value="" />  </td>
                                                </tr>

                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date3" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin3" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="3numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="3numcol2" class="numcol2" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="3numcol3" class="numcol3" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="3numcol4" class="numcol4" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="3numcol5" class="numcol5" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="3numcol6" class="numcol6" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="3numcol7" class="numcol7" name="" value="" />  </td>
                                                </tr>

                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date4" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin4" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="4numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="4numcol2" name="" class="numcol2" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="4numcol3" name="" class="numcol3" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="4numcol4" name="" class="numcol4" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="4numcol5" name="" class="numcol5" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="4numcol6" name="" class="numcol6" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="4numcol7" name="" class="numcol7" value="" />  </td>
                                                </tr>


                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date5" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin5" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="5numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="5numcol2" name="" class="numcol2" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="5numcol3" name="" class="numcol3" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="5numcol4" name="" class="numcol4" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="5numcol5" name="" class="numcol5" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="5numcol6" name="" class="numcol6" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="5numcol7" name="" class="numcol7" value="" />  </td>
                                                </tr>


                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date6" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin6" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="6numcol1" name="" class="numcol1" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="6numcol2" name="" class="numcol2" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="6numcol3" name="" class="numcol3" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="6numcol4" name="" class="numcol4" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="6numcol5" name="" class="numcol5" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="6numcol6" name="" class="numcol6" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="6numcol7" name="" class="numcol7" value="" />  </td>
                                                </tr>


                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date7" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin7" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="7numcol1" name="" class="numcol1" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="7numcol2" name="" class="numcol2" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="7numcol3" name="" class="numcol3" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="7numcol4" name="" class="numcol4" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="7numcol5" name="" class="numcol5" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="7numcol6" name="" class="numcol6" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="7numcol7" name="" class="numcol7" value="" />  </td>
                                                </tr>


                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date8" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin8" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="8numcol1" name="" class="numcol1" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="8numcol2" name="" class="numcol2" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="8numcol3" name="" class="numcol3" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="8numcol4" name="" class="numcol4" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="8numcol5" name="" class="numcol5" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="8numcol6" name="" class="numcol6" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="8numcol7" name="" class="numcol7" value="" />  </td>
                                                </tr>


                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date9" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin9" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="9numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="9numcol2" name="" class="numcol2" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="9numcol3" name="" class="numcol3" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="9numcol4" name="" class="numcol4" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="9numcol5" name="" class="numcol5" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="9numcol6" name="" class="numcol6" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="9numcol7" name="" class="numcol7" value="" />  </td>
                                                </tr>
                                                <tr class="">
                                                    <td class="date-input color-red"> <input type="date" id="date10" name="" value="" />  </td>
                                                    <td class="txtshort color-red" colspan="2"> <input type="text" id="origin10" name="" value="" /> </td>
                                                    <td class="input-number un-selectable">  </td>
                                                    <td class="input-number"> <input type="number" id="10numcol1" class="numcol1" name="" value="" /> </td>
                                                    <td class="input-number"> <input type="number" id="10numcol2" class="numcol2" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="10numcol3" class="numcol3" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="10numcol4" class="numcol4" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="10numcol5" class="numcol5" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="10numcol6" class="numcol6" name="" value="" />  </td>
                                                    <td class="input-number"> <input type="number" id="10numcol7" class="numcol7" name="" value="" />  </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td style="text-align:center;margin-left:20px;" colspan="10"> <a class="btn btn-sm  btn-lg" style="background:#2f4050 !important;color:white;" id="btnnewrow" href="#"> Add New Row </a></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="text-align:right;font-weight:bold;"> Total Expense By GL/Property </td>
                                                    <td class="un-selectable">  </td>
                                                    <td> <span id="col1total"> </span> </td>
                                                    <td> <span id="col2total"> </span> </td>
                                                    <td> <span id="col3total"> </span> </td>
                                                    <td> <span id="col4total"> </span> </td>
                                                    <td> <span id="col5total"> </span> </td>
                                                    <td> <span id="col6total"> </span> </td>
                                                    <td> <span id="col7total"> </span> </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <p style="color:red"> <b style="font-size:16px; font-weight:bold">* Property team members </b> are to use this form mileage/travel expenses ONLY</p>
                                                <p style="color:red"> <b> * when billing back to a property use Code: 6390-0007 </b> </p>
                                                <p style="color:red">* when billing back for a due diligence use Yardi ID:CMG and Code: 1130-0070</p>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table table-bordered" style="width: 60%;
    float: right;">
                                                    <tr>
                                                        <td style="width:80%;">TOTAL EXPENSES</td>
                                                        <td> $ <span id="totalexpenses"> </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color:red"><span>  LESS ANY CORRECTIONS</span> </td>
                                                        <td> <span class="corrections"> <input type="number" style="width:80px" id="corrections" name="name" value="" /> </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:20px;"><span> BALANCE DUE </span></td>
                                                        <td> $ <span id="balancedue"> </span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="col-md-5">

                                                <table id="footertable" class="table table-bordered">
                                                    <thead style="background-color:aliceblue;"><tr><th>Corporate team members please use codes below: </th></tr></thead>
                                                    <tbody>
                                                        <tr><td> 1130-0070 - All Due Diligence Expenses </td></tr>
                                                        <tr><td> 6542-0034 - Travel expenses for Training,Asset.Mgmt. and Marketing  </td></tr>
                                                        <tr><td> 6542-0037 - Travel expenses for Construction </td></tr>
                                                        <tr><td> 6542-0039 - Travel expenses for Operations </td></tr>
                                                        <tr><td> 6542-0035 - Travel expenses - Other </td></tr>
                                                        <tr><td> 6542-0058 - Pre-approved EDU fund expenses </td></tr>
                                                        <tr><td> 6542-0038 - Meals - Other </td></tr>
                                                        <tr><td> 6547-0010 - Office Supplies </td></tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-6">
                                                <p class="c1" style="margin-bottom:40px;">
                                                    <span class="c0"> Submitted By Signature <input type="text" id="signature" style="width:73%; margin-left:2%" />   </span> <br />
                                                    <span style="float:right;float: right;
    margin-top: 20px;" class="c0">Date :<input type="date" id="sdate" /></span>
                                                </p>
                                                <br />
                                                <br />
                                                <p class="c1" style="margin-bottom:40px;">
                                                    <span class="c0">Approved By Signature  <input type="text" id="approvedby" style="width:76%;" /> </span>
                                                    <span style="float:right;float: right;
    margin-top:40px;" class="c0">Date :<input type="date" id="adate" /></span>
                                                </p>
                                            </div>
                                        </div>


                                        <br />
                                        <br />
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" id="Submit" value="Submit" style="background:#2f4050 !important;border:none !important;" class="btn btn-primary" />

                                            @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>


            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        #footertable td, #footertable th {
            text-align: left;
            border: none !important;
        }

        #footertable {
            border: 2px solid black;
        }

        .color-red {
            color: red;
        }

        .un-selectable {
            background-color: #ddd;
            cursor: not-allowed;
        }

        .txtshort {
            width: 20%;
        }

        .date-input {
            width: 10%;
        }

        ol {
            margin: 0;
            padding: 0
        }

        td.input-number {
            width: 85px;
        }

            td.input-number input {
                width: 100%;
                height: 25px !important;
            }

        tfoot td {
            padding: 5px !important;
        }

        .hd {
            font-weight: bold;
            text-align: center;
            vertical-align: middle !important;
        }

        td {
            text-align: center;
        }


        table .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Times";
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }

        input.pur {
            width: 100%;
        }

        table thead th {
            text-align: center;
        }

        td.txtshort input {
            width: 90%;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function () {
            var leaseid = "";

            GetAllMileageForms('Expense Reimbursement');

            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });

            var totalexpenses = 0;
            var corrections = 0;
            var totaldue = 0;
            var line1total = 0;
            var line2total = 0;
            var line3total = 0;
            var line4total = 0;
            var line5total = 0;
            var line6total = 0;
            var line7total = 0;


            function writetotalsinhtml() {

                totalexpenses = parseFloat(line1total + line2total + line3total + line4total + line5total + line6total + line7total).toFixed(2);
                totaldue = parseFloat(totalexpenses - corrections).toFixed(2);


                $("#col1total").html(line1total);
                $("#col2total").html(line2total);
                $("#col3total").html(line3total);
                $("#col4total").html(line4total);
                $("#col5total").html(line5total);
                $("#col6total").html(line6total);
                $("#col7total").html(line7total);

                $("#totalexpenses").html(totalexpenses);
                $("#balancedue").html(totaldue);
                $("#corrections").html(corrections);
            }


            function calculatetotalmiles(lineno) {
                if (lineno == 'numcol1') {
                    line1total = 0;
                    $(".numcol1").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line1total += parseFloat($(this).val());
                        }
                    });
                }


                if (lineno == 'numcol2') {
                    line2total = 0;
                    $(".numcol2").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line2total += parseFloat($(this).val());
                        }
                    });
                }

                if (lineno == 'numcol3') {
                    line3total = 0;
                    $(".numcol3").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line3total += parseFloat($(this).val());
                        }
                    });
                }

                if (lineno == 'numcol4') {
                    line4total = 0;
                    $(".numcol4").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line4total += parseFloat($(this).val());
                        }
                    });
                }

                if (lineno == 'numcol5') {
                    line5total = 0;
                    $(".numcol5").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line5total += parseFloat($(this).val());
                        }
                    });
                }

                if (lineno == 'numcol6') {
                    line6total = 0;
                    $(".numcol6").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line6total += parseFloat($(this).val());
                        }
                    });
                }

                if (lineno == 'numcol7') {
                    line7total = 0;
                    $(".numcol7").each(function () {
                        if ($(this).val() != "" && $(this).val() != "0") {
                            line7total += parseFloat($(this).val());
                        }
                    });
                }

                writetotalsinhtml();

            }

            $(document).on('focusout', '.numcol1', function (e) {
                calculatetotalmiles('numcol1');
            });

            $(document).on('focusout', '.numcol2', function (e) {
                calculatetotalmiles('numcol2');
            });

            $(document).on('focusout', '.numcol3', function (e) {
                calculatetotalmiles('numcol3');
            });

            $(document).on('focusout', '.numcol4', function (e) {
                calculatetotalmiles('numcol4');
            });

            $(document).on('focusout', '.numcol5', function (e) {
                calculatetotalmiles('numcol5');
            });

            $(document).on('focusout', '.numcol6', function (e) {
                calculatetotalmiles('numcol6');
            });

            $(document).on('focusout', '.numcol7', function (e) {
                calculatetotalmiles('numcol7');
            });

            $(document).on('focusout', '#corrections', function (e) {
                corrections = parseFloat($("#corrections").val());
                writetotalsinhtml();
            });




            var isfilled = true;
            var totalrows = "";

            var rowsarray = [];


            function checkrowvalidation(controlid) {
                var allfilled = true;

                if ($("#date" + controlid).val() == "") {
                    isfilled = false;
                    $("#date" + controlid).addClass('has-error');
                }
                else {

                    $("#date" + controlid).removeClass('has-error');

                }

                if ($("#origin" + controlid).val() == "") {
                    isfilled = false;
                    $("#origin" + controlid).addClass('has-error');
                }
                else {
                    $("#" + controlid + "property").removeClass('has-error');
                }

                if (!rowsarray.includes(controlid)) {
                    rowsarray.push(controlid);
                    if (totalrows != "")
                        totalrows += "|";
                    console.log($("#origin" + controlid).val() + "  " + $("#date" + controlid).val());
                    if ($("#origin" + controlid).val() != "" && $("#date" + controlid).val())
                        totalrows += $("#date" + controlid).val() + "," + $("#origin" + controlid).val() + "," + $("#" + controlid + "numcol1").val() + "," + $("#" + controlid + "numcol2").val() + "," + $("#" + controlid + "numcol3").val() + "," + $("#" + controlid + "numcol4").val() + "," + $("#" + controlid + "numcol5").val() + "," + $("#" + controlid + "numcol6").val() + "," + $("#" + controlid + "numcol7").val();

                }
            }

            var icount = 10;

            $("#btnnewrow").click(function () {
                icount++;
                $("#allorders tbody").append('<tr class=""><td class= "date-input color-red" > <input type="date" id="date' + icount + '" name="" value="" />  </td><td class="txtshort color-red" colspan="2"> <input type="text" id="origin' + icount + '" name="" value="" /> </td><td class="input-number un-selectable">  </td>' +
                    '<td class="input-number"> <input type="number" id="' + icount + 'numcol1" class="numcol1" name="" value="" /> </td>' +
                    '<td class="input-number"> <input type="number" id="' + icount + 'numcol2" class="numcol2" name="" value="" />  </td>' +
                    '<td class="input-number"> <input type="number" id="' + icount + 'numcol3" class="numcol3" name="" value="" />  </td>' +
                    '<td class= "input-number"> <input type="number" id="' + icount + 'numcol4" class="numcol4" name="" value="" />  </td > ' +
                    '<td class= "input-number"> <input type="number" id="' + icount + 'numcol5" class="numcol5" name="" value="" />  </td > ' +
                    '<td class= "input-number"> <input type="number" id="' + icount + 'numcol6" class="numcol6" name="" value="" />  </td > ' +
                    '<td class="input-number"> <input type="number" id="' + icount + 'numcol7" class="numcol7" name="" value="" />  </td></tr >');

            });





            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                // check validation whether for mile entered row other fields are filled properly
                totalrows = "";

                $(".numcol1").each(function () {
                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol1', ''));
                    }
                });

                $(".numcol2").each(function () {
                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol2', ''));
                    }
                });


                $(".numcol3").each(function () {

                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol3', ''));
                    }
                });

                $(".numcol4").each(function () {

                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol4', ''));
                    }
                });


                $(".numcol5").each(function () {

                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol5', ''));
                    }
                });


                $(".numcol6").each(function () {

                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol6', ''));
                    }
                });


                $(".numcol7").each(function () {

                    if ($(this).val() != "" && $(this).val() != "0") {
                        checkrowvalidation($(this).attr('id').replace('numcol7', ''));
                    }
                });

                if ($("input.has-error").length > 0) {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;">  Please fill out all the highlighted inputs </ul> ');

                    // setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');

                    var insertForm = new FormData();
                    insertForm.append('name', $("#name").val());
                    insertForm.append('date', $("#date").val());
                    insertForm.append('address', $("#address").val());
                    insertForm.append('yard1', $("#1colyardi").val()); insertForm.append('gl1', $("#1colglcode").val());
                    insertForm.append('yard2', $("#2colyardi").val()); insertForm.append('gl2', $("#2colglcode").val());
                    insertForm.append('yard3', $("#3colyardi").val()); insertForm.append('gl3', $("#3colglcode").val());
                    insertForm.append('yard4', $("#4colyardi").val()); insertForm.append('gl4', $("#4colglcode").val());
                    insertForm.append('yard5', $("#5colyardi").val()); insertForm.append('gl5', $("#5colglcode").val());
                    insertForm.append('yard6', $("#6colyardi").val()); insertForm.append('gl6', $("#6colglcode").val());
                    insertForm.append('yard7', $("#7colyardi").val()); insertForm.append('gl7', $("#7colglcode").val());

                    insertForm.append('line1tot', line1total);
                    insertForm.append('line2tot', line2total);
                    insertForm.append('line3tot', line3total);
                    insertForm.append('line4tot', line4total);
                    insertForm.append('line5tot', line5total);
                    insertForm.append('line6tot', line6total);
                    insertForm.append('line7tot', line7total);

                    insertForm.append('totalexpenses', totalexpenses);
                    insertForm.append('corrections', corrections);
                    insertForm.append('totaldue', totaldue);

                    insertForm.append('ssignature', $("#signature").val());
                    insertForm.append('sdate', $("#sdate").val());

                    insertForm.append('asignature', $("#approvedby").val());
                    insertForm.append('adate', $("#adate").val());
                    insertForm.append('rows', totalrows);
                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertExpenseForm",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                GetAllMileageForms('Expense Reimbursement');
                                $(".alert").html('Record Successfully Updated !');
                                $('#toastnotification').modal('show');


                                document.getElementById("submitform").reset();


                                totalexpenses = 0;
                                corrections = 0;
                                totaldue = 0;
                                line1total = 0;
                                line2total = 0;
                                line3total = 0;
                                line4total = 0;
                                line5total = 0;
                                line6total = 0;
                                line7total = 0;

                                writetotalsinhtml();
                                icount = 10;

                                $("#Submit").prop('disabled', false);
                                setTimeout(function () {

                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });



        });

    </script>

}
