

@model Carroll.Portals.Models.PrintExpenseForm

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print Expense Reimbursement </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 10px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        p {
            margin-bottom: 10px !important;
        }

        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        #footertable td, #footertable th {
            text-align: left;
            border: none !important;
        }

        #footertable {
            border: 2px solid black;
        }

        .color-red {
            color: red;
        }

        .un-selectable {
            background-color: #ddd;
            cursor: not-allowed;
        }

        .txtshort {
            width: 20%;
        }

        .date-input {
            width: 10%;
        }

        ol {
            margin: 0;
            padding: 0
        }

        td.input-number {
            width: 85px;
        }

            td.input-number input {
                width: 100%;
                height: 25px !important;
            }

        tfoot td {
            padding: 5px !important;
        }

        .hd {
            font-weight: bold;
            text-align: center;
            vertical-align: middle !important;
        }

        td {
            text-align: center;
        }


        table .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Times";
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }

        input.pur {
            width: 100%;
        }

        table thead th {
            text-align: center;
        }

        td.txtshort input {
            width: 90%;
        }
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
        {
            padding:2px;
            border-top:none !important;
        }

       
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page" style="padding: 30px;">
        <div class="col-md-12" style="    width: 100%;
    border: 1px solid black;
    padding:10px;">

            <form id="submitform" onsubmit="return false;">
                <p class="c1 c8" style="margin-left: 20%;
    margin-top: 0px; margin-bottom:0px;">
                    <span class="c7"> Expense Reimbursement</span>
                </p>
                <div class="col-md-4" style="width:26%; margin-bottom:20px; display:inline-block !important;"> <img src="~/img/newhirenotice.png" style="width:60%;" /> </div>
                <div class="col-md-8" style="width:70%;display:inline-block !important;">
                    <p class="c1" style="text-align:right">
                        <span class="c0">  <span class="name">  Name: </span>    <input type="text" value="@Model.header.Name" style="width:70%" id="name" />  </span>
                    </p>
                    <p class="c1" style="text-align:right">
                        <span class="c0"> <span class="name">   Date Of Submission : </span> <input type="text" value="@Model.header.SubmittionDate.Value.ToShortDateString()" id="date" style="width:70%;" /> </span>
                    </p>

                    <p class="c1" style="text-align:right">
                        <span class="c0"><span class="name">   Address : </span><input type="text" id="address" value="@Model.header.Address" style="width:70%;" /> </span>
                    </p>
                </div>

                <table id="allorders" style="" class="table">

                    <tbody style="display: table-header-group;">
                        <tr>
                            <td rowspan="2" class="date-input hd"> Date  </td>
                            <td rowspan="2" class="txtshort hd"> Short Description </td>
                            <td class="unstyled hd "> <span style="color:black;font-weight:bold;font-size:7px;"> Yardi  </span> </td>
                          
                            <td class="input-number"> @Model.header.Col1YardiCode </td>
                            <td class="input-number"> @Model.header.Col2YardiCode </td>
                            <td class="input-number"> @Model.header.Col3YardiCode </td>
                            <td class="input-number"> @Model.header.Col4YardiCode </td>
                            <td class="input-number"> @Model.header.Col5YardiCode </td>
                            <td class="input-number"> @Model.header.Col6YardiCode </td>
                            <td class="input-number"> @Model.header.Col7YardiCode </td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="color:black;font-weight:bold;font-size:7px;"> GL Code    </td>
                           
                            <td class="input-number"> @Model.header.Col1GlCode </td>
                            <td class="input-number"> @Model.header.Col2GlCode </td>
                            <td class="input-number"> @Model.header.Col3GlCode </td>
                            <td class="input-number"> @Model.header.Col4GlCode </td>
                            <td class="input-number"> @Model.header.Col5GlCode </td>
                            <td class="input-number"> @Model.header.Col6GlCode </td>
                            <td class="input-number"> @Model.header.Col7GlCode </td>
                        </tr>

                        @{

                            foreach (var item in Model.details)
                            {
                        <tr>
                            <td> @item.Date.Value.ToShortDateString()   </td>
                            <td colspan="2">  @item.ShortDescription </td>
                           
                            <td> @item.Col1Expense </td>
                            <td> @item.Col2Epense </td>
                            <td> @item.Col3Expense  </td>
                            <td> @item.Col4Expense  </td>
                            <td> @item.Col5Expense  </td>
                            <td> @item.Col6Expense  </td>
                            <td> @item.Col6Expense  </td>
                        </tr>
                            }
                        }

                      
                    </tbody>
                    <tfoot>
                     
                        <tr>
                            <td colspan="3" style="text-align:right;font-weight:bold;"> Total Expense By GL/Property </td>
                          
                            <td> <span id="col1total"> @Model.header.line1total </span> </td>
                            <td> <span id="col2total"> @Model.header.line2total </span> </td>
                            <td> <span id="col3total"> @Model.header.line3total </span> </td>
                            <td> <span id="col4total"> @Model.header.line4total </span> </td>
                            <td> <span id="col5total"> @Model.header.line5total </span> </td>
                            <td> <span id="col6total"> @Model.header.line6total </span> </td>
                            <td> <span id="col7total"> @Model.header.line7total</span> </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-md-12">
                    <div class="col-md-6" style="width:49%;display:inline-block">
                        <p style="color:red"> <b style="font-size:16px; font-weight:bold">* Property team members </b> are to use this form mileage/travel expenses ONLY</p>
                        <p style="color:red"> <b> * when billing back to a property use Code: 6390-0007 </b> </p>
                        <p style="color:red">* when billing back for a due diligence use Yardi ID:CMG and Code: 1130-0070</p>
                    </div>
                    <div class="col-md-6" style="width:48%;display:inline-block">
                        <table class="table table-bordered" style="width: 99%;
    float: right;">
                            <tr>
                                <td style="width:60%;">TOTAL EXPENSES</td>
                                <td> $ <span id="totalexpenses"> @Model.header.TotalExpenses </span></td>
                            </tr>
                            <tr>
                                <td style="color:red"><span>  LESS ANY CORRECTIONS</span> </td>
                                <td> <span class="corrections">@Model.header.LessAnyCorrections </span></td>
                            </tr>
                            <tr>
                                <td style="font-size:10px;"><span> BALANCE DUE </span></td>
                                <td> $ <span id="balancedue"> @Model.header.BalanceDue </span></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-5" style="width:40%;display:inline-block">

                        <table id="footertable" class="table " style="display:inline-block;">
                            <thead style="background-color:aliceblue;"><tr><th>Corporate team members please use codes below: </th></tr></thead>
                            <tbody>
                                <tr><td> 1130-0070 - All Due Diligence Expenses </td></tr>
                                <tr><td> 6542-0034 - Travel expenses for Training,Asset.Mgmt. and Marketing  </td></tr>
                                <tr><td> 6542-0037 - Travel expenses for Construction </td></tr>
                                <tr><td> 6542-0039 - Travel expenses for Operations </td></tr>
                                <tr><td> 6542-0035 - Travel expenses - Other </td></tr>
                                <tr><td> 6542-0058 - Pre-approved EDU fund expenses </td></tr>
                                <tr><td> 6542-0038 - Meals - Other </td></tr>
                                <tr><td> 6547-0010 - Office Supplies </td></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6" style="width:58%;display:inline-block">
                        <p class="c1" style="margin-bottom:10px;">
                            <span class="c0"> Submitted By Signature <input value="@Model.header.SubmittedBySignature" type="text" id="signature" style="width:69%;" />   </span> <br />
                            <span style="float:right;float: right;
    " class="c0">Date :<input type="text" id="sdate" value="@Model.header.SubmittedDate.Value.ToShortDateString()" /></span>
                        </p>
                        <br />
                        <br />
                        <p class="c1" style="margin-bottom:10px;">
                            <span class="c0">Approved By Signature  <input type="text" value="@Model.header.ApprovedSignature" id="approvedby" style="width:69%;" /> </span>
                            <span style="float:right;float: right;
    " class="c0">Date :<input type="text" id="adate" value="@Model.header.ApprovedDate.Value.ToShortDateString()" /></span>
                        </p>
                    </div>
                </div>
            </form>



           
        </div>
    </div>
</body>
</html>


