@{
    ViewBag.Title = " Move Out Cover Sheet";
}

<input type="hidden" id="pageid" value="referalrequest" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Move Out Cover Sheet </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/resrel.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:white;text-transform:uppercase;"> <b>   Move Out Cover Sheet </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {
                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>
                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@
                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm(' MoveOutCoverSheet'); ">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Move Out Cover Sheet
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;  border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">
                                        <p style="line-height: 99%;  margin: 0cm 0cm .0001pt 3.0pt;"><strong><span style="font-size: 18.0pt; line-height: 99%; font-family: 'Century Gothic',sans-serif;">Move Out Cover Sheet</span></strong> <img style="float:right;" src="~/img/residentreferaltop.png" /> </p>
                                        <p style=" line-height: 19.1pt; "><span style="font-size: 12.0pt; font-family: 'Times New Roman',serif;">&nbsp;</span></p>


                                        <table style="margin-left: .5pt; border-collapse: collapse;width:100%">
                                            <tbody>
                                                <tr style="height: 30pt;">
                                                    <td style="width: 209.0pt; border: solid windowtext 1.0pt; padding: 0cm 0cm 0cm 0cm; height: 17.65pt;" width="279">
                                                        <p style="line-height: normal;  margin: 0cm 0cm .0001pt 6.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Property Code: <input type="text" id="propertynumber" />  </span></strong></p>
                                                    </td>
                                                    <td style="width: 325.0pt; border: solid windowtext 1.0pt; border-left: none; padding: 0cm 0cm 0cm 0cm; height: 17.65pt;" width="433">
                                                        <p style="line-height: normal;  margin: 0cm 0cm .0001pt 5.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Property Name: <input disabled type="text" id="propertyname" style="width:65%;" /> </span></strong></p>
                                                    </td>
                                                </tr>
                                                <tr style="height: 16.65pt;">
                                                    <td style="width: 209.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 0cm 0cm 0cm; height: 16.65pt;" width="279">
                                                        <p style="line-height: 16.6pt;  margin: 0cm 0cm .0001pt 6.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Tenant Code: <input type="text" style="width:56%;" id="refresidentcode" /> </span></strong></p>
                                                    </td>
                                                    <td style="width: 325.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 0cm 0cm 0cm; height: 16.65pt;" width="433">
                                                        <p style="line-height: 16.6pt;  margin: 0cm 0cm .0001pt 5.0pt;"><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">Tenant Name: <input type="text" id="refresidentname" style="width:65%" /> </span></strong></p>
                                                    </td>
                                                </tr>
                                                <tr style="height: 70.4pt;">
                                                    <td colspan="2" style="width: 209.0pt; border-top: none; border-left: solid windowtext 1.0pt; border: solid windowtext 1.0pt; padding: 0cm 0cm 0cm 0cm; height: 70.4pt;" width="279">
                                                        <p style=" line-height: 16.6pt; width:20%; display:inline-block "><strong><span style="font-size: 9.0pt; font-family: 'Century Gothic',sans-serif; color: windowtext;">&nbsp; Forwarding Address: </span></strong> </p> <textarea id="notes" style="width:70%; display:inline-block;">  </textarea>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p><strong><span style="font-size: 12.0pt; font-family: 'Times New Roman',serif;">&nbsp;</span></strong></p>
                                        <table style="width:40%;border:1px solid black;margin-bottom:30px; float:left;margin-left:50px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 5px;
    text-align: center;
    border-bottom: 1px solid;">
                                                        <strong> REFUND DUE </strong>
                                                    </td>
                                                </tr>
                                                <tr style="padding-top:10px;"> <td style="padding: 15px 11px 15px 10px;text-align:center"> Email your AP Specialist this form and the proper backup (Move - out statement) </td></tr>
                                                <tr><td> Refund Due : <input type="text" />  </td>   </tr>

                                                <tr><td> Move Out Date : <input type="text" />  </td>   </tr>

                                                <tr> <td> <input type="checkbox" /> Move - Out Statement Attached  </td> </tr>
                                                <tr> <td style="padding-bottom:20px;"> <input type="checkbox" /> Resident Ledger Attached  </td> </tr>
                                            </tbody>
                                        </table>
                                        <table style="width:40%;border:1px solid black;margin-bottom:30px; float:right; margin-right:50px;min-height:220px">
                                            <tbody>
                                                <tr>
                                                    <td style="padding: 5px;
    text-align: center;
    border-bottom: 1px solid;">
                                                        <strong> BALANCE DUE </strong>
                                                    </td>
                                                </tr>
                                                <tr style="padding-top:10px;"> <td style="padding: 15px 11px 15px 10px;text-align:center">Keep this form with your move out file and do not submit ap </td></tr>
                                                <tr><td> Amount Due : <input type="text" />  </td>   </tr>

                                                <tr><td> Move Out Date : <input type="text" />  </td>   </tr>
                                                <tr><td> Sent Collections On : <input type="date" />  </td>   </tr>
                                                
                                            </tbody>
                                        </table>

                                        <p style=" line-height: 99%; clear:both ">
                                            <span style=" line-height: 99%; ">
                                                Submitting Associate: <input type="text" style="    width: 46.5%;
    margin-right: 3%;
    margin-left: 0.5%;" id="refresidentsign" /> Dated <input type="date" id="refresdate" />
                                            </span>
                                        </p>

                                        <p style=" line-height: normal;">
                                            <span style="">Manager Approval:</span>
                                            <span style="">
                                                <input style="width: 46.5%;
    margin-left: 2%;margin-right:3%;" type="text" id="properymanagersign" /> Dated<input type="date" id="properymanagerdate" />
                                            </span>
                                        </p>

                                        <div style="border: 1px solid black;
    margin-top: 100px" class="col-md-12">
                                            <h2 style="margin: 10px;
    padding: 10px;
    font-weight: bold;"> ACCOUNTING USE ONLY: </h2>

                                            <p> Recieved: <input type="text" />  Check #: <input type="text" /> Check Amount: <input type="text" />  </p>
                                            <p style="margin-bottom:20px !important;"> Cut By: <input type="text" name="name" value="" /></p>
                                        </div>

                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>


            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        p {
            margin-bottom: 5px !important;
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }

        td,th {
            padding-left:10px !important;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function () {
            var leaseid = "";

            GetAllMileageForms('ResidentReferal');

            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });



            $("#propertynumber").focusout(function () {

                if ($("#propertynumber").val() == "") {

                    //$('#toastnotification').modal('show');

                    //$(".alert").html('<h6 style="color:red;"> Please Enter Property Number </h6> ');

                    //setTimeout(function () {
                    //    $('#toastnotification').modal('hide');

                    //    $(".alert").html(' ');
                    //}, 3000);

                    alert("Please Enter Property Number");

                    //   $("#propertynumber").focus();
                }
                else {

                    $.get($BaseApiUrl + "api/Data/GetPropertyName?PropertyNumber=" + $("#propertynumber").val(), function (data) {
                        if (data == "") {

                            alert("Invalid Property Code");

                            //   $("#propertynumber").focus();
                            $("#propertyname").val('');
                            $("#propertyname1").val('');
                            //$('#toastnotification').modal('show');

                            //$(".alert").html('<h6 style="color:red;"> Invalid Property Code </h6> ');

                            //setTimeout(function ()
                            //{
                            //    $('#toastnotification').modal('hide');

                            //    $(".alert").html(' ');
                            //}, 3000);
                        }
                        else {

                            $("#propertyname").val(data);
                            $("#propertyname1").val(data);
                        }
                    });
                }

            });

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#propertynumber").val() == "" || $("#propertyname").val() == "") {
                    errormsgsummary += "<li> Please Choose Property Properly </li>";
                    $("#propertynumber").addClass('has-error');
                    if (control == "")
                        control = $("#propertynumber");
                }

                if ($("#refresidentcode").val() == "") {
                    errormsgsummary += "<li> Please Enter Reference Resident Code </li>";
                    $("#refresidentcode").addClass('has-error');
                    if (control == "")
                        control = $("#refresidentcode");
                }


                if ($("#refresidentname").val() == "") {
                    errormsgsummary += "<li> Please Enter Reference Resident Name </li>";
                    $("#refresidentname").addClass('has-error');
                    if (control == "")
                        control = $("#refresidentname");
                }

                if ($("#propertyname1").val() == "") {
                    errormsgsummary += "<li> Please Enter Property Name </li>";
                    $("#propertyname1").addClass('has-error');
                    if (control == "")
                        control = $("#propertyname1");
                }


                if ($("#residentname1").val() == "") {
                    errormsgsummary += "<li> Please Enter Resident Name </li>";
                    $("#residentname1").addClass('has-error');
                    if (control == "")
                        control = $("#residentname1");
                }

                if ($("#refferedresident").val() == "") {
                    errormsgsummary += "<li> Please Enter Referred Resident Name </li>";
                    $("#refferedresident").addClass('has-error');
                    if (control == "")
                        control = $("#refferedresident");
                }


                if ($("#unitnumber").val() == "") {
                    errormsgsummary += "<li> Please Enter Unit Number </li>";
                    $("#unitnumber").addClass('has-error');
                    if (control == "")
                        control = $("#unitnumber");
                }


                if ($("#referalbonus").val() == "") {
                    errormsgsummary += "<li> Please Enter Referal Bonus </li>";
                    $("#referalbonus").addClass('has-error');
                    if (control == "")
                        control = $("#referalbonus");
                }

                if (errormsgsummary != "") {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);

                    var insertForm = new FormData();
                    insertForm.append('propertynumber', $("#propertynumber").val());
                    insertForm.append('propertyname', $("#propertyname").val());
                    insertForm.append('refresidentcode', $("#refresidentcode").val());
                    insertForm.append('refresidentname', $("#refresidentname").val());
                    insertForm.append('notes', $("#notes").val());
                    insertForm.append('propertyname1', $("#propertyname1").val());
                    insertForm.append('residentname1', $("#residentname1").val());
                    insertForm.append('refferedresident', $("#refferedresident").val());
                    insertForm.append('unitnumber', $("#unitnumber").val());
                    insertForm.append('referalbonus', $("#referalbonus").val());

                    insertForm.append('refresidentsign', $("#refresidentsign").val());
                    insertForm.append('refresdate', $("#refresdate").val());
                    insertForm.append('properymanagersign', $("#properymanagersign").val());
                    insertForm.append('properymanagerdate', $("#properymanagerdate").val());


                    insertForm.append('receivedamount', $("#receivedamount").val());
                    insertForm.append('creditapplied', $("#creditapplied").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertResidentReferralRequest",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#status").html('');

                                document.getElementById("submitform").reset();

                                GetAllMileageForms('ResidentReferal');
                                ShowToastNotification('Record Successfully Updated', 3);


                                setTimeout(function () {

                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.exceptionMessage);
                        }
                    });

                }


            });



        });

    </script>

}
