@model Carroll.Portals.Models.ExportClaim

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print Claim  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">
       
        html, body 
        {
            overflow: hidden !important;
        }
        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }
        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th 
        {
            border:none !important;
        }
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/app/custom.js"></script>*@
</head>
<body class="document">
    <div class="page">

        <img src="~/carroll.portals/img/logo.png" style="margin-left:25%;" />
        @{ 
            var ClaimNumber = "";
        }

        @if (Model.Type == 'g')
        {
            <h1 style="text-align:center"> General Liability Claim -  <b> @Model.GLC.ClaimNumber</b> </h1>
            ClaimNumber = @Model.GLC.ClaimNumber;
        }
        else if (Model.Type == 'p')
        {
            <h1 style="text-align:center"> Property Damage Claim -  <b> @Model.PDC.ClaimNumber</b> </h1>
            ClaimNumber = @Model.PDC.ClaimNumber;
        }
        else if (Model.Type == 'm')
        {
            <h1 style="text-align:center"> Mold Damage Claim -  <b> @Model.MDC.ClaimNumber</b> </h1>
            ClaimNumber = @Model.MDC.ClaimNumber;
        }

        <table class="table table-hover table-responsive table-striped"  style="border:none">
            <tr> <td> <strong>Property Details : </strong></td></tr>
            <tr> <td> Property  : </td> <td> @Model.Prop.PropertyName</td></tr>
            <tr> <td> Address : </td> <td> @Model.Prop.PropertyAddress, @Model.Prop.City , @Model.Prop.State, , @Model.Prop.ZipCode. <br /> @Model.Prop.PhoneNumber</td></tr>
            <tr> <td> Units : </td> <td> @Model.Prop.Units</td> </tr>
            <tr> <td> Yardi Code : </td> <td> @Model.Prop.PropertyNumber</td></tr>
            <tr> <td> Legal : </td> <td> @Model.Prop.LegalName</td></tr>
            <tr> <td> Partner : </td> <td> @Model.Prop.EquityPartner</td></tr>
            <tr> <td> <strong> Asset Managers : </strong> </td></tr>
            <tr> <td> Vice President : </td> <td> @Model.Prop.VicePresident</td></tr>
            <tr> <td> Regional Vice President: </td> <td> @Model.Prop.RegionalVicePresident</td></tr>
            <tr> <td> Regional Manager : </td> <td> @Model.Prop.RegionalManager</td></tr>
            <tr> <td> Property Manager : </td> <td> @Model.Prop.PropertyManager</td></tr>
            <tr> <td> Construction Manager : </td> <td> @Model.Prop.ConstructionManager</td></tr>
        </table>
        <br />
    </div>
    <div class="page">

        @if (Model.Type == 'g')
        {

        <table class="table table-hover table-responsive table-striped" style="border:none">
            <tr> <td> <strong>Claim Details : </strong></td> </tr>
            <tr>
                <td style="width:30%;"> <b> Claim Number  </b> </td>
                <td> <b> @Model.GLC.ClaimNumber</b> </td>
            </tr>
            <tr><td style="width:30%;"> Incident Date:</td><td> @(Model.GLC.IncidentDateTime == null ? "" : Model.GLC.IncidentDateTime.Value.ToString("MM/dd/yyyy")) </td></tr>
            <tr><td style="width:30%;"> Incident Time:</td><td> @Model.GLC.IncidentTime </td></tr>
            <tr><td style="width:30%;"> Incident Location:</td><td> @Model.GLC.IncidentLocation </td></tr>

            <tr><td style="width:30%;"> Incident Description:</td><td> @Model.GLC.IncidentDescription </td></tr>

            @if (Model.GLC.AuthoritiesContacted == false)
            {
                <tr><td>Authorities Contacted: </td><td> No </td></tr>
            }
            else
            {
                <tr><td>Authorities Contacted: </td><td> Yes </td></tr>
                <tr><td style="width:30%;"> Police Report Number:</td><td> @Model.GLC.PoliceReportNumber </td></tr>
            }




            <tr><td style="width:30%;"> Contact Person :</td><td> @Model.GLC.ContactPerson</td></tr>

            <tr><td style="width:30%;"> Resident Name :</td><td> @Model.GLC.ResidentName</td></tr>

            <tr><td style="width:30%;"> Resident Contact Information :</td><td> @Model.GLC.ResidentContactInformation</td></tr>

            <tr><td style="width:30%;"> Claimant Name:</td><td> @Model.GLC.ClaimantName </td></tr>

            <tr><td style="width:30%;"> Claimant Address:</td><td> @Model.GLC.ClaimantAddress </td></tr>

            <tr><td style="width:30%;"> Claimant Primary Phone:</td><td> @Model.GLC.ClaimantPhone1 </td></tr>

            <tr><td style="width:30%;"> Claimant Secondary Phone:</td><td> @Model.GLC.ClaimantPhone2 </td></tr>

            @if (Model.GLC.AnyInjuries == false)
            {
                <tr><td> Any Injuries: </td><td> No </td></tr>
            }
            else
            {
                <tr><td> Any Injuries: </td><td> Yes </td></tr>
            }



            <tr><td style="width:30%;">Injury Description :</td><td> @Model.GLC.InjuryDescription </td></tr>

            @if (Model.GLC.WitnessPresent == false)
            {

                <tr><td>Witness Present: </td><td> No </td></tr>
            }
            else
            {
                <tr><td>Witness Present: </td><td> Yes </td></tr>
            }

            <tr><td style="width:30%;">Witness Name:</td><td> @Model.GLC.WitnessName </td></tr>

            <tr><td style="width:30%;">Witness Address:</td><td> @Model.GLC.WitnessAddress </td></tr>

            <tr><td style="width:30%;">Witness Phone:</td><td> @Model.GLC.WitnessPhone </td></tr>


            <tr><td style="width:30%;">Description Of Damage:</td><td> @Model.GLC.DescriptionOfDamage </td></tr>


            <tr><td style="width:30%;">Reported By:</td><td> @Model.GLC.ReportedBy </td></tr>

            <tr><td style="width:30%;">Reported Phone:</td><td> @Model.GLC.ReportedPhone </td></tr>
            @if (Model.GLC.NotifySecurityOfficer == true)
            {
                <tr><td style="width:30%;">Notify Security Officer :</td><td> Yes </td></tr>
            }
            else
            {
                <tr><td style="width:30%;">Notify Security Officer :</td><td> No </td></tr>
            }

            <tr><td style="width:30%;">Date Reported:</td><td> @(Model.GLC.DateReported == null ? "" : Model.GLC.DateReported.Value.ToString("MM/dd/yyyy")) </td></tr>


            <tr><td style="width:30%;">Created By:</td><td>  @Model.GLC.CreatedByName </td></tr>

            <tr><td style="width:30%;">Created Date:</td><td> @(Model.GLC.CreatedDate == null ? "" : Model.GLC.CreatedDate.Value.ToString("MM/dd/yyyy")) </td></tr>

        </table>


        }
        else if (Model.Type == 'm')
        {

            <table class="table table-hover table-responsive table-striped"  style="border:none">
                <tr> <td> <strong>Claim Details : </strong></td>   </tr>
                <tr> <td style="width:30%;"> <b> Claim Number  </b> </td><td> <b> @Model.MDC.ClaimNumber</b> </td></tr>
                <tr><td style="width:30%;"> Discovery Date : </td><td> @(Model.MDC.DiscoveryDate == null ? "" : Model.MDC.DiscoveryDate.Value.ToString("MM/dd/yyyy")) </td></tr>
                <tr><td style="width:30%;"> Location :</td><td> @Model.MDC.Location</td></tr>

                <tr><td style="width:30%;"> Apartment Occupied :</td><td> @(Model.MDC.ApartmentOccupied == true ? "YES" : "NO" ) </td></tr>

                <tr><td style="width:30%;"> Residents Affected :</td><td> @Model.MDC.Description</td></tr>

                <tr><td style="width:30%;">  Resident Name  :</td><td> @Model.MDC.Description</td></tr>

                <tr><td style="width:30%;">Resident Contact Information  :</td><td> @Model.MDC.Description</td></tr>

                <tr><td style="width:30%;"> Resident Relocating :</td><td> @Model.MDC.Description</td></tr>
                <tr><td style="width:30%;"> Suspected Cause : </td><td> @Model.MDC.SuspectedCause</td></tr>


                <tr><td style="width:30%;"> Description :</td><td> @Model.MDC.Description</td></tr>

                @if (Model.MDC.AreBuildingMaterialsStillWet == false)
                {

                    <tr><td style="width:30%;">Are Building Materials Still Wet: </td><td> No </td></tr>

                }

                else
                {

                    <tr><td style="width:30%;">Are Building Materials Still Wet: </td><td> Yes </td></tr>

                }

                @if (Model.MDC.IsStandingWaterPresent == false)
                {
                    <tr><td style="width:30%;"> Is Standing Water Present : </td><td>  No </td></tr>
                }
                else
                {
                    <tr><td style="width:30%;"> Is Standing Water Present : </td><td> Yes </td></tr>
                }



                <tr><td style="width:30%;"> How Much Water Present :</td><td> @Model.MDC.HowMuchWater</td></tr>

                <tr><td style="width:30%;">Estimated Surface Area Affected : </td><td> @Model.MDC.EstimatedSurfaceAreaAffected</td></tr>



                <tr><td style="width:30%;"> Estimated Time Damage Present: </td><td> @Model.MDC.EstimatedTimeDamagePresent</td></tr>


                <tr><td style="width:30%;"> Corrective Actions Taken : </td><td>  @Model.MDC.CorrectiveActionsTaken</td></tr>

                <tr><td style="width:30%;"> Planned Actions : </td><td> @Model.MDC.PlannedActions</td></tr>

                <tr><td style="width:30%;"> Additional Comments : </td><td> @Model.MDC.AdditionalComments</td></tr>

                <tr><td style="width:30%;"> Reported By : </td><td> @Model.MDC.ReportedBy</td></tr>
                <tr><td style="width:30%;"> Reported Phone : </td><td> @Model.MDC.ReportedPhone</td></tr>

                <tr><td style="width:30%;"> Reported Date : </td><td> @(Model.MDC.DateReported == null ? "" : Model.MDC.DateReported.Value.ToString("MM/dd/yyyy")) </td></tr>



                <tr><td style="width:30%;"> Created By :</td><td> @Model.MDC.CreatedByName</td></tr>

                <tr><td style="width:30%;"> Created Date:</td><td> @(Model.MDC.CreatedDate == null ? "" : Model.MDC.CreatedDate.Value.ToString("MM/dd/yyyy")) </td></tr>

            </table>

        }
        else if (Model.Type == 'p')
        {

            <table class="table table-hover table-responsive table-striped"  style="border:none">
                <tr> <td> <strong>Claim Details : </strong></td>  </tr>
                <tr> <td style="width:30%;"> <b> Claim Number </b> </td><td> <b> @Model.PDC.ClaimNumber</b> </td></tr>
                <tr><td style="width:30%;">Weather Conditions:</td><td>   @Model.PDC.WeatherConditions </td></tr>
                <tr><td style="width:30%;">Incident Date:</td><td>   @(Model.PDC.IncidentDateTime == null ? "" : Model.PDC.IncidentDateTime.ToString("MM/dd/yyyy")) </td></tr>
                <tr><td style="width:30%;">Incident Time:</td><td>   @Model.PDC.IncidentTime </td></tr>
                <tr><td style="width:30%;">Incident Location:</td><td>   @Model.PDC.IncidentLocation </td></tr>

                <tr><td style="width:30%;">Resident Name:</td><td>   @Model.PDC.ResidentName </td></tr>
                <tr><td style="width:30%;">Resident Contact Information :</td><td>   @Model.PDC.ResidentContactInformation </td></tr>

                <tr><td style="width:30%;">Incident Description:</td><td>   @Model.PDC.IncidentDescription </td></tr>
                <tr><td style="width:30%;">Estimate of Damage:</td><td>   @Model.PDC.EstimateOfDamage </td></tr>

                @if (Model.PDC.AuthoritiesContacted == false)
                {
                    <tr><td style="width:30%;">Authorities Contacted:</td><td>No</td></tr>
                }

                else

                {
                    <tr><td style="width:30%;">Authorities Contacted:</td><td>Yes</td></tr>
                    <tr><td style="width:30%;">Police Report Number:</td><td>@Model.PDC.PoliceReportNumber</td></tr>

                }

                <tr><td style="width:30%;">Contact Person:</td><td>   @Model.PDC.ContactPerson </td></tr>
                @if (Model.PDC.LossOfRevenues == false)
                {
                    <tr><td style="width:30%;"> Loss Of Revenues:</td><td>No</td></tr>

                }
                else
                {
                    <tr><td style="width:30%;"> Loss Of Revenues:</td><td>Yes </td></tr>
                }


                @if (Model.PDC.WitnessPresent == false)
                {
                    <tr><td style="width:30%;"> Witness Present:</td><td>No</td></tr>
                }
                else
                {
                    <tr><td style="width:30%;"> Witness Present:</td><td>Yes</td></tr>
                }

                <tr><td style="width:30%;">Witness Name:</td><td>   @Model.PDC.WitnessName </td></tr>

                <tr><td style="width:30%;">Witness Phone:</td><td>   @Model.PDC.WitnessPhone </td></tr>
                <tr><td style="width:30%;">Reported Phone(Alternate): </td><td>   @Model.PDC.ReportedPhone </td></tr>

                <tr><td style="width:30%;">Witness Address:</td><td>   @Model.PDC.WitnessAddress </td></tr>

                <tr><td style="width:30%;">Reported By:</td><td>   @Model.PDC.IncidentReportedBy </td></tr>

                <tr><td style="width:30%;"> Date Reported :</td><td>   @(Model.PDC.DateReported == null ? "" : Model.PDC.DateReported.Value.ToString("MM/dd/yyyy")) </td></tr>
                <tr><td style="width:30%;">Created By:</td><td>   @Model.PDC.CreatedByName </td></tr>
                <tr><td style="width:30%;">Created Date:</td><td>   @(@Model.PDC.CreatedDate == null ? "" : @Model.PDC.CreatedDate.Value.ToString("MM/dd/yyyy")) </td></tr>
            </table>
        }
    </div>
    <div class="page">

        <h2 style="text-align:center"> <b> @ClaimNumber</b> - Comments </h2>
        <table class="table table-striped" style="border:none">
            <thead>
                <tr>

                    <th style="width:50%;">Comment</th>
                    <th style="width:25%;">Date</th>
                    <th style="width:25%">Created By</th>
                </tr>
            </thead>
            <tbody id="commentbody">
                @foreach (var item in Model.PrintComments)
                {
                    <tr> <td>@item.Comment </td><td> @item.CommentDate.ToString("MM/dd/yyyy") </td><td> @item.CommentByName </td></tr>

                }
            </tbody>
        </table>
    </div>
    <div class="page">
        <h2 style="text-align:center"> <b> @ClaimNumber</b> - Attachments </h2>

        <table class="table table-striped col-md-6"  style="border:none">
            <thead>
                <tr>
                    <th style="width:40%;">File</th>
                    <th style="width:25%;">Date</th>
                    <th style="width:25%;" > Created By</th>
                </tr>
            </thead>
            <tbody id="attachmentbody">

                @foreach (var item in Model.PrintAttachments)
                {
                    <tr> <td>@item.At_FileName </td><td> @item.UploadedDate.ToString("MM/dd/yyyy") </td><td> @item.UploadedByName </td></tr>

                }
            </tbody>
        </table>
    </div>
    <div class="page">
        <h2 style="text-align:center"> <b> @ClaimNumber</b> - Activity </h2>

        <table class="table table-striped col-md-6"  style="border:none">
            <thead>
                <tr>
                    <th style="width:40%;" >Description</th>
                    <th style="width:20%;">Date</th>
                    <th style="width:15%;"> Status </th>
                    <th style="width:25%;"> Created By </th>
                </tr>
            </thead>
            <tbody id="activitybody">
                @foreach (var item in Model.PrintClaimActivity)
                {
                    <tr> <td>@item.ActivityDescription </td><td> @item.ActivityDate.Value.ToString("MM/dd/yyyy") @item.ActivityDate.Value.ToShortTimeString() </td><td> @item.ActivityStatus </td><td> @item.ActivityByName </td></tr>

                }

            </tbody>
        </table>
    </div>

</body>

</html>


