@{
    ViewBag.Title = "Carroll Portals";

}


<div class="wrapper wrapper-content">
    <div class="row hidewhenformopen">
        <div class="col-md-12 ipbackground" style="background-image: url(/img/dashboardbgnew.jpg);
    min-height: 285px !important;
    background-position: center;
    width: 100%;
    background-size: cover;">

            <button type="button" class="btn btn-lg " data-toggle="modal" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
    position: absolute;
  bottom: 0%;
    right: 0%; background:none;" data-target=".claimmodal">
                <i style="font-size: 50px;
    font-weight: bold;" class="fa fa-plus"></i>
            </button>
            <h1 style="color: white;
    position: absolute;
  bottom: 0%;
    left: 1%;font-weight:bold;">
                INCIDENT DASHBOARD & REPORTING
            </h1>
        </div>

        <!-- Large modal -->

        <div class="modal fade bs-example-modal-lg incidentformmodal" style="    position: absolute;
    overflow: scroll;" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" style="width:80%" role="document">
                <div class="modal-header" style="background-clip: padding-box;
    background-color: #FFFFFF;border-bottom:none">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title form-heading" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                        
                    </h1>
                </div>
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row" style="padding: 0px;padding-left:20px;border: 2px solid black;">
                            <div class="ibox-content dynamicForm">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg claimmodal" id="#myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" style="width:80%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                            Select Type Of Claim
                        </h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 start-claim" style="border:1px solid;margin-left: 25px; min-height:590px; width: 29%;">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">

                                    <h2> <strong>  Property Damage Claim </strong> </h2>
                                    <p> A Property Damage claim Report Should be filed when there is damage to the building or common areas. Examples include the following : </p>
                                    <ul>
                                        <li> Tree falling on a building </li>
                                        <li> Roof leak damage due to a storm </li>
                                        <li> Balcony Collapsing </li>
                                        <li> Mail Kiosk Support damage </li>
                                        <li> Resident's guest damages gates while accessing community without authorization</li>
                                        <li> Unit Flooding causing floor damage to the unit </li>


                                    </ul>
                                    <p> If there is injury to an individual due to property damage, both a Property Liability Claim Report and a General Liability Claim Report must be completed. </p>
                                    <p> ** In the event of a fire, death or any other event that may receive press coverage, contact your Regional Manager immediately in addition to completing the Property Damage Claim Report. </p>
                                </div>
                                <div class="col-md-12 text-center" style="position: absolute;
    bottom: 10px;">
                                    <button class="btn btn-primary " onclick="LoadForm('FormPropertyDamageClaim');">
                                        Start Claim
                                    </button>
                                </div>

                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 start-claim" style="border:1px solid; margin-left: 25px;min-height: 590px;width: 29%;">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">

                                    <h2> <strong>  General Liability Claim</strong> </h2>
                                    <p> A General Liability Claim Report should be filed when there is an injury to an individual at the property :</p>
                                    <ul>
                                        <li>Resident trips on damage sidewalk and injuries themselves </li>
                                        <li>One resident's Dog bites another resident</li>
                                        <li> Resident reports their child is injured due to faulty playground equipment </li>
                                        <li> Resident is injured due to stairs collapsing </li>
                                        <li> Resident's reports being injured (Physically or emotionally) due to criminal activity on property grounds.</li>
                                        <li> Resident drops weight on thier foot in fitness center and claims injury</li>
                                    </ul>
                                    <p> ** In the event of a fire, death or any other event that may receive press coverage, contact your Regional Manager immediately in addition to completing the General Liability Claim Report </p>
                                </div>

                                <div class="col-md-12 text-center" style="position: absolute;
    bottom: 10px;
    ">
                                    <button class="btn btn-primary " onclick="LoadForm('FormGeneralLiabilityClaim');">
                                        Start Claim
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 start-claim" style="border:1px solid;margin-left: 25px;min-height: 590px;width: 29%;">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:50px;">

                                    <h2> <strong> Mold Damage Claim </strong> </h2>
                                    <p>
                                        If there is either evidence of mold (sight or scent) or suspicion of mold due to a health concern being expressed by the resident, an incident report should be completed.

                                    </p>
                                    <p>Carroll Protocol for remediating any incidents involving Mold, are found in Carroll U > Maintenance > Mold Operations Plan</p>
                                </div>
                                <div class="col-md-12 text-center" style="position:absolute; bottom:10px;">
                                    <button class="btn btn-primary vertical-align" onclick="LoadForm('FormMoldDamageClaim');">
                                        Start Claim
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade bs-example-modal-lg reviewmodal" id="reviewmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" style="width:60%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                            Is the information provided accurate and complete?
                        </h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                <button class="btn btn-success " style="margin-left: 75px;
    margin-top: 10px;" onclick="submitformdata()">
                                    I AM READY TO SUBMIT
                                </button>

                                <button class="btn btn-danger " style="margin-left: 75px;
    margin-top: 10px;" onclick="closereviewmodal()">
                                    I WANT TO REVIEW
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row hidewhenformopen" style="margin-top:20px;margin-bottom:20px;" id="homecontainer">
        <div class="col-lg-4" onclick="GetAllClaims('PropertyDamage')" style="width:30%;margin-left:2%;cursor:pointer; border-right:1px solid #797979">
            <div class="widget style1 navy-bg" style="background:none !important">
                <div class="row">                    
                    <div class="col-xs-12 text-center">
                        <h3 class="font-bold" style="font-size: 20px;
    text-transform: uppercase;
    color: #797979;
    margin-bottom: 10px;"> Property Damage Claim </h3>
                        <div class="claimcount" style="display:none; text-align:center;">
                            <div class="font-bold hclaimcount" style="width: 100px;
    text-align: center;
   display:inline-block;
    border-radius: 100px;
    background:#797979;
    padding-top: 1px;
    padding-bottom: 0px;
    height: 100px;">  <h1 class="propcount" style="font-weight:bold;"> </h1>  <p style="font-size: 10px;" class="viewall"> VIEW ALL </p></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4" style="width:30%;margin-left:2%; cursor:pointer;border-right:1px solid #797979"  onclick="GetAllClaims('General Liability')">
            <div class="widget style1 lazur-bg" style="background:none !important">
                <div class="row">
                 
                    <div class="col-xs-12 text-center" >
                        <h3 class="font-bold" style="font-size: 20px;
    text-transform: uppercase;
    color: #797979;
    margin-bottom: 10px;"> General Liability Claim </h3>
                        <div class="claimcount" style="display:none;text-align:center;">
                            <div class="font-bold hclaimcount" style="width: 100px;
    text-align: center;
   display:inline-block;
    border-radius: 100px;
    background:#797979;
    padding-top: 1px;
    padding-bottom: 0px;
    height: 100px;"><h1 class="liabcount" style="font-weight:bold;"> </h1><p style="font-size: 10px;" class="viewall"> VIEW ALL </p></div>

                           

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4" style="width:30%;margin-left:2%;cursor:pointer;" onclick="GetAllClaims('Mold Damage')" >
            <div class="widget style1 yellow-bg" style="background:none !important">
                <div class="row">                   
                    <div class="col-xs-12 text-center">
                        <h3 class="font-bold"  style="font-size: 20px;
    text-transform: uppercase;
    color: #797979;
    margin-bottom: 10px;"> Mold Damage Claim </h3>
                        <div class="claimcount" style="display:none;text-align:center">
                            <div class="font-bold hclaimcount " style="width: 100px;
    text-align: center;
    display:inline-block;
    border-radius: 100px;
    background:#797979;
    padding-top: 1px;
    padding-bottom: 0px;
    height: 100px;"><h1 class="damagecount" style="font-weight:bold;"> </h1><p style="font-size: 10px;" class="viewall"> VIEW ALL </p></div>

                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


 


    <div class="row">
        <div class="col-lg-12 no-padding">
            <input type="hidden" id="homeval" value="1" />
            <div class="RowsContatiner animated fadeInRight" style="min-height:120vh">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> All Claims <small></small></h5>
                        </div>
                        <div class="ibox-content">
                            <table class="table  dtprops" width="100%"></table>
                        </div>
                    </div>
                </div>

            </div>

     

            <div class="AddEditContainer row" style="display:none;">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class="form-heading">  </h5>
                            <div class="ibox-tools">
                                @*<a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>*@

                                @*<a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="ToggleAdd('UserInRole');">
                                <i class="fa fa-minus-circle"></i> Cancel
                            </a>*@
                                @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#" >Cancel</a>
                                </li>

                            </ul>*@
                                @*<a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>*@
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>



@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}

@section Styles 
    {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")

    <style type="text/css">


        .dtprops td, .dtprops th 
        {
            white-space: nowrap;
        }

        .hclaimcount:hover {
            background: #2f4050 !important;
        }
        

    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        function LoadClaimsFilter(val) {
         
            $('.dtprops').DataTable().search(val)
                .draw();

        }


        $(document).ready(function () {
            $("#helpid").show();     
            LoadUserClaims();
            GetAllClaims("All");

                 


        });

      

</script>

}

