@{
    ViewBag.Title = "CARROLL";

}

<input type="hidden" id="pageid" value="incidentdashboard" />

<div class="wrapper wrapper-content">
    <div class="row hidewhenformopen">
        <div class="col-md-12 ipbackground" style="background-image: url(/img/dashboardbgnew.jpg);
    min-height: 285px !important;
    background-position: center;
    width: 100%;
    background-size: cover;">


            @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "management" || @Model.RoleType.ToLower() == "hr" || @Model.RoleType.ToLower() == "vp" || @Model.RoleType.ToLower() == "rvp" || @Model.RoleType.ToLower() == "regional" || @Model.RoleType.ToLower() == "property")
            {
                <button type="button" class="btn btn-lg " data-toggle="modal" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
    position: absolute;
  font-weight: bold;background:none !important;" data-target=".claimmodal" data-backdrop="static" data-keyboard="false">
                    <i style="
    font-weight: bold;" class="fa fa-plus-circle "></i><span style="font-family:inherit;"> New </span>
                </button>
            }



                <h1 class="visible-lg visible-md" style="color: white;
    position: absolute;
  bottom: 0%;
    left: 1%;font-weight:bold;width:80%;">
                    INCIDENT DASHBOARD & REPORTING
                </h1>

                <h1 class="visible-xs visible-sm" style="color: white;
    position: absolute;
  bottom: 0%;
    left: 1%;font-weight:bold; width:80%;">
                    INCIDENT DASHBOARD
                </h1>
            </div>

        <!-- Large modal -->

        <div class="modal fade bs-example-modal-lg incidentformmodal" style="    position: absolute;
    overflow: scroll;" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" style="width:68%" role="document">
                <div class="modal-header" style="background-clip: padding-box;
    background-color: #2f4050;border-bottom:none;padding-bottom:0px;">
                    <button type="button" class="close" data-dismiss="modal" style="color:white !important;opacity:1;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title form-heading" style="
font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-family: monospace;
    text-transform: uppercase;" id="gridSystemModalLabel"></h1>
                </div>
                <div class="modal-content" style="border: none !important;
    border-radius: 4px;
    box-shadow: none">
                    <div class="modal-body" style="padding-top:0px !important;">
                        <div class="row" style="padding: 0px;">
                            <div class="ibox-content dynamicForm" style="border-style:none !important;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg claimmodal" id="#myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" style="width:80%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                            Select Type Of Claim
                        </h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 start-claim" style="border:1px solid;margin-left: 25px; min-height:590px; width: 29%;">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ipadd11" style="margin-bottom:50px;">

                                    <h2> <strong>  Property Damage Claim </strong> </h2>
                                    <p> A Property Damage claim Report Should be filed when there is damage to the building or common areas. Examples include but are not limited to the following : </p>
                                    <ul>
                                        <li> Tree falling on a building </li>
                                        <li> Roof leak damage due to a storm </li>
                                        <li> Balcony Collapsing </li>
                                        <li> Mail Kiosk Support damage </li>
                                        <li> Damage to Community Access Gates  </li>
                                        <li> Unit Flooding causing floor damage to the unit </li>
                                    </ul>
                                    <p> If there is injury to an individual due to property damage, both a Property Liability Claim Report and a General Liability Claim Report must be completed. </p>
                                    <p> ** In the event of a fire, death or any other event that may receive press coverage, contact your Regional Manager immediately in addition to completing the Property Damage Claim Report. </p>
                                </div>
                                <div class="col-md-12 text-center ipadd" style="position: absolute;
    bottom: 10px;">
                                    <button class="btn btn-primary " onclick="LoadForm('FormPropertyDamageClaim');">
                                        Start Claim
                                    </button>
                                </div>

                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 start-claim" style="border:1px solid; margin-left: 25px;min-height: 590px;width: 29%;">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ipadd11" style="margin-bottom:50px;">

                                    <h2> <strong>  General Liability Claim</strong> </h2>
                                    <p> A General Liability Claim Report should be filed when there is an injury to an individual at the property examples include but are not limited to :</p>
                                    <ul>
                                        <li>Resident trips on sidewalk and injures themselves </li>
                                        <li>One resident's Dog bites another resident/visitor/etc </li>
                                        <li> Resident reports their child is injured on the playground or other equipment </li>
                                        <li> Resident is injured on stairs </li>
                                        <li> Resident's reports being injured (Physically or emotionally) due to criminal activity on property grounds.</li>
                                        <li> Resident drops weight on their foot in fitness center and claims injury</li>
                                    </ul>
                                    <p> ** In the event of a fire, death or any other event that may receive press coverage, contact your Regional Manager immediately in addition to completing the General Liability Claim Report </p>
                                </div>

                                <div class="col-md-12 text-center ipadd" style="position: absolute;bottom: 10px;">
                                    <button class="btn btn-primary " onclick="LoadForm('FormGeneralLiabilityClaim');">
                                        Start Claim
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 start-claim damage-claim" style="border:1px solid;margin-left: 25px;min-height: 590px;width: 29%;">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ipadd11" style="margin-bottom:50px;">
                                    <h2> <strong> Mold Damage Claim </strong> </h2>
                                    <p>
                                        If there is either evidence of mold (sight or scent) or suspicion of mold due to a health concern being expressed by the resident, an incident report should be completed.

                                    </p>
                                    <p> Please followup immediately with your Regional Manager and Regional Maintenance Supervisor for guidance on remediation as some properties may have partner specific guidelines/requirements    </p>
                                    <p>Carroll Protocol for remediating any incidents involving Mold, are found in Carroll U > Maintenance > Mold Operations Plan</p>
                                </div>
                                <div class="col-md-12 text-center ipadd" style="position:absolute; bottom:10px;">
                                    <button class="btn btn-primary vertical-align" onclick="LoadForm('FormMoldDamageClaim');">
                                        Start Claim
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade bs-example-modal-lg reviewmodal" id="reviewmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" style="width:60%" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                            Is the information provided accurate and complete?
                        </h1>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align:center">
                                <button class="btn btn-success " style="margin-left: 75px;
    margin-top: 10px;" onclick="submitformdata()">
                                    I AM READY TO SUBMIT
                                </button>

                                <button class="btn btn-danger " style="margin-left: 75px;
    margin-top: 10px;" onclick="closereviewmodal()">
                                    I WANT TO REVIEW
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divprocessingbtn" style="position: fixed;
    top: 6%;
    right: 2%;
    background: #2f4050;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: left;
    padding: 15px;
    border-radius: 10px;display:none;z-index:2147483648 !important;">
        Processing
    </div>


    <div class="modal fade bs-example-modal-lg" style="z-index:2147483649 !important;" id="toastnotificationhome" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" style="width:20%; float:right;" role="document">
            <div class="modal-content alert alert-success modal-alert" style="background:green; color:white; font-weight:bold">
                Processing
            </div>
        </div>
    </div>

    <div class="row hidewhenformopen visible-md visible-lg" style="margin-top:20px;margin-bottom:20px;" id="homecontainer">
        <div class="col-lg-4 db" onclick="FilterClaims('Property')" style="border-right: 1px solid #797979;">
            <div class="widget style1 navy-bg" style="background:none !important">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 class="font-bold" style="">
                            Property Damage Claim
                        </h3>
                        <div class="claimcount" style="display:none; text-align:center;">
                            <div class="font-bold hclaimcount pr" style=""><h1 class="propcount" style="font-weight:bold;"> </h1><p style="font-size: 10px;" class="viewall"> VIEW ALL </p></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 db" onclick="FilterClaims('General')" style="border-right: 1px solid #797979;">
            <div class="widget style1 lazur-bg" style="background:none !important">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 class="font-bold" style="">
                            General Liability Claim
                        </h3>
                        <div class="claimcount" style="display:none;text-align:center;">
                            <div class="font-bold hclaimcount ge" style=""><h1 class="liabcount" style="font-weight:bold;"> </h1><p style="font-size: 10px;" class="viewall"> VIEW ALL </p></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 db" onclick="FilterClaims('Mold')">
            <div class="widget style1 yellow-bg" style="background:none !important">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 class="font-bold" style="">
                            Mold Damage Claim
                        </h3>
                        <div class="claimcount" style="display:none;text-align:center">
                            <div class="font-bold hclaimcount mo" style=""><h1 class="damagecount" style="font-weight:bold;"> </h1><p style="font-size: 10px;" class="viewall"> VIEW ALL </p></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidewhenformopen visible-xs visible-sm" style="margin-top:0px;margin-bottom:20px;" id="homecontainer">

        <table style="WIDTH: 90%;
    margin-top: 15PX;
    text-align: center;
    color: white;
    font-weight: bold; font-size:12px;
    margin-left: 5%; clear:both;">
            <tr style="border-bottom: 1px solid;" onclick="FilterClaims('Property')"> <td style="width:80%;border-right: 3px solid white !important;    background: #797979;padding:10PX;"> PROPERTY DAMAGE CLAIM </td> <td style="background:#2f4050"> <span class="propcount" style="font-weight:bold;"> </span> </td></tr>
            <tr style="border-bottom: 1px solid;" onclick="FilterClaims('General')"> <td style="width:80%;border-right: 3px solid white !important; background: #797979;padding:10PX;"> GENERAL LIABILITY CLAIM </td> <td style="background:#2f4050"> <span class="liabcount" style="font-weight:bold;"> </span> </td></tr>
            <tr onclick="FilterClaims('Mold')"> <td style="width:80%;border-right: 3px solid white !important; background: #797979;padding:10PX;"> MOLD DAMAGE CLAIM </td> <td style="background:#2f4050"> <span class="damagecount" style="font-weight:bold;"> </span> </td></tr>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-12 no-padding">
            <input type="hidden" id="homeval" value="1" />
            <div class="RowsContatiner animated fadeInRight">
                <div class="col-lg-12 ptr" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> All Claims <small></small></h5>
                            <div id="filtercheck" style="display:none "> <input type="checkbox" value="1" id="filterval" /> <span> Show Updated Claims </span>  </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table  dtprops" style="cursor:pointer !important" width="100%"></table>
                        </div>
                    </div>
                </div>

            </div>



            <div class="AddEditContainer row" style="display:none;">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 class="form-heading">  </h5>
                            <div class="ibox-tools">
                                @*<a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>*@

                                @*<a class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="ToggleAdd('UserInRole');">
                                        <i class="fa fa-minus-circle"></i> Cancel
                                    </a>*@
                                @*<ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#" >Cancel</a>
                                        </li>

                                    </ul>*@
                                @*<a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>*@
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>



@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}

@section Styles
    {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")

}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

    <script>

        function LoadClaimsFilter(val) {

            $('.dtprops').DataTable().search(val)
                .draw();
        }

        // alert("Record Successfully added");

        //  $(".modal-alert").html("Record Successfully added");
        // $("#mobiletoastnotification").modal('show');

        $(document).ready(function ()
        {
            $("#helpid").show();
          
                LoadUserClaims();
                GetAllClaims("All", false);
           
           
            
        });

        $(document).on("change", "#filterval1", function (e) {

            GetAllClaims("All", $(this).is(":checked"));
        });

        //$("#filterval1").change(function () {
        //    GetAllClaims("All");

        //});



    </script>

}


<style type="text/css">

    .ppcancel {
        width: 110px;
        height: 30px;
        vertical-align: middle;
        padding-top: 3px !important;
    }

    #filtercheck {
        width: 200px !important;
        position: relative;
        top: 80px;
        margin-right: 15%;
        float: right;
    }

    #filtercheck input
    {
        height:15px;
        width:15px; 
    }

        #filtercheck span 
        {
            margin-top: -22px;
            display: block;
            margin-left: 20px;
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

    .hclaimcount:hover, .hclaimcount.active {
        background: #2f4050 !important;
    }

 

        @@media only screen and (max-width : 767px) {
            .ipbackground {
                margin-top: 0px !important;
            }

            #mobiletoastnotification {
                top: 30%;
            }

            .mobiletoast {
            }

            .ipbackground button {
                top: 54.5% !important;
                right: -2% !important;
                font-size: 14px;
                font-weight: bold;
            }

                .ipbackground button i {
                    font-size: 15px !important;
                }

            .ipbackground h1 {
                top: 22%;
                left: -11% !important;
                font-weight: bold;
                font-size: 20px !important;
                width: 90%;
            }

            .db {
                width: 95%;
                margin-left: 0%;
                cursor: pointer;
                border-right: none !important;
                display: inline-block !important;
            }

            .hidewhenformopen {
                margin-top: -100px !important;
                margin-bottom: 0px !important;
            }

            .ibox-title {
                padding: 15px 15px 7px !important;
            }

            .db h3.font-bold {
                font-size: 15px !important;
                text-transform: uppercase;
                color: #797979 !important;
                margin-bottom: 5px !important;
            }

            .widget {
                margin-bottom: -30px !important;
                margin-top: 10px !important;
            }

            .hclaimcount {
                width: 70px !important;
                text-align: center !important;
                display: inline-block;
                border-radius: 70px !important;
                background: #797979;
                padding-top: 0px !important;
                padding-bottom: 0px;
                height: 70px !important;
            }

                .hclaimcount h1 {
                    font-size: 15px !important;
                }

                .hclaimcount p {
                    font-size: 10px;
                }


            .RowsContatiner {
                margin-top: 20px !important;
            }

            .dtprops td:nth-child(5), .dtprops th:nth-child(5), .dtprops td:nth-child(0), .dtprops th:nth-child(0) {
                display: none !important;
            }

            .start-claim {
                width: 100% !important;
                margin-left: 0px !important;
                clear: both;
                margin-top: 10px;
            }

                .start-claim button {
                    margin-left: 70%;
                }

            .claimmodal .modal-title {
                font-size: 18px !important;
            }

            .claimmodal .modal-dialog, .incidentformmodal .modal-dialog {
                width: 95% !important;
            }

            .claimmodal h2 {
                font-size: 18px !important;
                text-align: center;
            }

            .claimmodal, .claimmodal p {
                font-size: 11px !important;
            }

                .claimmodal .modal-header {
                    padding: 5px !important;
                }

                .claimmodal .modal-body {
                    padding: 0px 30px 30px 30px !important;
                }

                .claimmodal .start-claim {
                    min-height: 450px !important;
                }

                .claimmodal .damage-claim {
                    min-height: 300px !important;
                }

            .reviewmodal .modal-lg {
                width: 95% !important;
            }

            .reviewmodal .btn {
                margin-left: 0px !important;
            }
        }

        @@media only screen and (min-width : 767px) {
            .dynamicForm {
                margin-left: 10% !important;
            }

            .ipbackground h1 {
                font-size: 30px !important;
                color: white !important;
                text-align: left !important;
            }

            .db {
                width: 30%;
                margin-left: 2%;
                cursor: pointer;
                /*border-right: 1px solid #797979*/
                display: inline-block;
            }

                .db h3 {
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #797979;
                    margin-bottom: 10px;
                }

            .hclaimcount {
                width: 100px;
                text-align: center;
                display: inline-block;
                border-radius: 100px;
                background: #797979;
                padding-top: 1px;
                padding-bottom: 0px;
                height: 100px;
            }

                .hclaimcount h1 {
                    font-size: 30px !important;
                }

                .hclaimcount p {
                    font-size: 10px;
                }
            /*.dtprops td, .dtprops th
        {
            display:block !important;
        }*/
            .RowsContatiner .ibox-title {
                padding: 17px !important;
            }
        }



        /* iPads (landscape) ----------- */
        @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
        {

            div.dataTables_wrapper div.dataTables_filter label {
                font-size: 12px;
                margin-top: 13px;
            }

            div.dataTables_wrapper div.dataTables_filter input {
                height: 23px !important;
            }




            .dtprops th:nth-child(6), .dtprops td:nth-child(6) {
                display: none !important;
            }


            .ipbackground {
                min-height: auto !important;
            }

            .start-claim {
                width: 90% !important;
                min-height: 250px !important;
            }

            .ipadd {
                position: relative !important;
            }

            .ipadd11 {
                margin-bottom: 10px !important;
            }

            .modal-lg {
                width: 85% !important;
            }

            .db h3 {
                font-size: 12px !important;
            }

            .ipadd11 h2 {
                font-size: 23px !important;
                margin-bottom: 20px !important;
                text-align: center !important;
            }

            .dynamicForm {
                margin-bottom: 70px !important;
            }

            .ptr {
                padding: 0px !important;
            }

            #filtercheck {
                width: 200px !important;
                position: relative;
                top: 80px !important;
                /* margin-left: 40% !important; */
                float: right;
                margin-right: -33px;
            }
        }


        /* iPads (portrait) ----------- */
        @@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

            div.dataTables_wrapper div.dataTables_length select {
                width: 60px;
                display: inline-block;
                height: 25px;
                vertical-align: text-top;
                padding: 2px;
            }


            .ibox-tools, .html5buttons, .dataTables_length {
                display: inline-block !important;
                width: 200px !important;
            }

            div.dataTables_wrapper div.dataTables_filter {
                text-align: right;
                margin-top: -40px;
            }
        
        div.dataTables_wrapper div.dataTables_filter label 
        {
            font-size: 12px;
            margin-top: 10px;
        }
                div.dataTables_wrapper div.dataTables_filter input
                {
                    height:23px !important;
                }




                #filtercheck {
                    width: 200px !important;
                    position: relative;
                    top:75px !important;
                    /* margin-left: 40% !important; */
                    float: right;
                    margin-right: -33px;
                }

            .dtprops th:nth-child(6), .dtprops td:nth-child(6) {
                display: none !important;
            }
            /* Styles */
            .ipbackground h1 {
                top: 240px !important
            }

            .ipbackground {
                margin-top: -250px !important;
            }

            .start-claim {
                width: 90% !important;
                min-height: 280px !important;
            }

            .ipadd {
                position: relative !important;
            }

            .ipadd11 {
                margin-bottom: 10px !important;
            }

            .modal-lg {
                width: 85% !important;
            }

            .damage-claim {
                margin-bottom: 100px !important;
            }

            .ipadd11 h2 {
                font-size: 23px !important;
                margin-bottom: 20px !important;
                text-align: center !important;
            }

            .dynamicForm {
                margin-bottom: 70px !important;
            }

            #homecontainer {
                margin-bottom: 15px !important;
            }

            .ptr {
                padding: 0px !important;
            }
        }


    #filtercheck input {
        height: 15px !important;
        width: 15px !important;
    }


    @@media only screen and (max-width : 468px) {

        div.dataTables_wrapper div.dataTables_filter label {
            font-size: 12px;
            margin-top: 13px;
        }

        div.dataTables_wrapper div.dataTables_filter input {
            height: 23px !important;
        }



        div.dataTables_info
        {
            padding-left:45px !important;
        }
        .ibox-content {
            padding-left: 0px !important;
            padding-top: 0px !important;
        }
        .hidewhenformopen {
            margin-top: -100px !important;
            margin-bottom: -16px !important;
        }

        .ptr {
            padding: 0px !important;
        }

        .ipbackground h1 {
            left: -8% !important;
        }


        #filtercheck {
            width: 200px !important;
            position: absolute;
            top: 95px !important;
            margin-left: 27% !important;
        }

            #filtercheck input {
                height: 15px !important;
                width: 15px !important;
            }

            #filtercheck span {
                margin-top: -20px;
                display: block;
                margin-left: 20px;
            }
    }
</style>

