@{
    ViewBag.Title = "Employee New Hire Notice";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Employee New Hire Notice </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/hrbg-min.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:black;text-transform:uppercase;"> <b>  Employee New Hire Notice </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {

                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>

                    <a disabled="disabled" class="btnDelete" href="#">
                        <i class="fa fa-trash"></i> Delete
                    </a>*@

                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('EmployeeLeaseRider');">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Employee New Hire Notice
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;padding-left:110px;
    border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">
                                        <p class="c1 c8" style="margin-left:125px;">
                                            <span class="c7">
                                                <img src="~/img/newhirenotice.png">
                                            </span>
                                        </p>
                                        <p class="c1 c8" style="    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;">
                                            <span class="c7"> NEW HIRE NOTICE </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0"> Employee Name:    <input type="text" style="width:40%" id="empname" />        Start Date:<input data-date-format="MM-DD-YYYY" type="date" id="startdate" />  </span>
                                        </p>
                                        <p class="c1" style="display:none;">
                                            <span class="c0">Employee Social Security Number:<input type="text" id="securitynumber" style="width:31%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Email Address: <input type="email" id="email" style="width:60%;" /> (do not leave blank) </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Manager:<input type="text" id="manager" style="width:83%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Location:<input type="text" id="location" style="width:83%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Position: <input type="radio" style="margin-left:20px;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Position <input type="text" id="position" style="width:83%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c4">(please make sure it is an approved Carroll Management Group title)</span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Status (full-time / part-time) :  <select id="status1"> <option value="Full Time"> Full Time </option><option value="Part Time"> Part Time </option> </select></span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Wage/Salary <input type="text" id="salary" style="width:30%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Allocation <input type="text" id="allocation" style="width:31.5%;" /> </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">
                                                New Hire Kit Ordered (date) : <input type="date" id="kitorderdate" style="width:63%;" />
                                            </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0"> Onboarding Call scheduled for (date):  <input type="date" id="onboardcall" style="width:55%;" /> </span>
                                        </p>


                                        <p class="c1">
                                            <span class="c0">Employee Signature <input type="text" id="esignature" style="width:42%;" />    Date <input type="date" name="name" id="edate" value="" /></span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">Manager&rsquo;s Authorizing Signature <input type="text" id="msignature" style="width:30%;" /> Date <input type="date" style="width:24%;" name="name" id="mdate" value="" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">RPM Signature<input type="text" id="rpmsignature" style="width:48%;" />Date <input type="date" name="name" id="rpmdate" value="" /></span>
                                        </p>
                                        <p class="c1" style="width:75%;">
                                            <span class="c6">
                                                Manager Responsibilities: Please return the signed form to Human Resources via email at HRNotifications@carrollmg.com with the I9 and appropriate documents.

                                            </span>
                                        </p>

                                        <br /> <br />
                                        <p>Rev. June 2018</p>
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>


            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Times";
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function ()
        {
            var leaseid = "";

            GetAllHRFORMs('New Hire Notice');
            
            $("input").change(function (e) 
            {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });

     
            

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                //if ($("#empname").val() == "") {
                //    errormsgsummary += "<li> Please Enter Employee Name </li>";
                //    $("#empname").addClass('has-error');
                //    if (control == "")
                //        control = $("#empname");
                //}

                //if ($("#startdate").val() == "") {
                //    errormsgsummary += "<li> Please Enter Date </li>";
                //    $("#startdate").addClass('has-error');
                //    if (control == "")
                //        control = $("#startdate");
                //}

                //if ($("#securitynumber").val() == "") {
                //    errormsgsummary += "<li> Please Enter Security Number </li>";
                //    $("#securitynumber").addClass('has-error');
                //    if (control == "")
                //        control = $("#securitynumber");
                //}


                if (!validateEmail($("#email").val())) 
                {
                    errormsgsummary += "<li> Please Enter Valid Email Address </li>";
                    $("#email").addClass('has-error');
                    if (control == "")
                        control = $("#email");
                }


                //if ($("#manager").val() == "") {
                //    errormsgsummary += "<li> Please Enter Manager Name </li>";
                //    $("#manager").addClass('has-error');
                //    if (control == "")
                //        control = $("#manager");
                //}

                //if ($("#location").val() == "") {
                //    errormsgsummary += "<li> Please Enter Location </li>";
                //    $("#location").addClass('has-error');
                //    if (control == "")
                //        control = $("#location");
                //}


                //if ($("#exempt").val() == "") {
                //    errormsgsummary += "<li> Please Enter Exempt Position  </li>";
                //    $("#exempt").addClass('has-error');
                //    if (control == "")
                //        control = $("#exempt");
                //}

                //if ($("#nonexempt").val() == "") {
                //    errormsgsummary += "<li> Please Enter Non Exempt Position  </li>";
                //    $("#nonexempt").addClass('has-error');
                //    if (control == "")
                //        control = $("#nonexempt");
                //}



                //if ($("#position").val() == "") {
                //    errormsgsummary += "<li> Please Enter Position  </li>";
                //    $("#position").addClass('has-error');
                //    if (control == "")
                //        control = $("#position");
                //}



                //if ($("#status1").val() == "") {
                //    errormsgsummary += "<li> Please Choose Status  </li>";
                //    $("#status1").addClass('has-error');
                //    if (control == "")
                //        control = $("#status1");
                //}



                //if ($("#salary").val() == "") {
                //    errormsgsummary += "<li> Please Enter Salary/Wage  </li>";
                //    $("#salary").addClass('has-error');
                //    if (control == "")
                //        control = $("#salary");
                //}


                //if ($("#allocation").val() == "") {
                //    errormsgsummary += "<li> Please Enter Allocation </li>";
                //    $("#allocation").addClass('has-error');
                //    if (control == "")
                //        control = $("#allocation");
                //}


                if (errormsgsummary != "")
                {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);
                    var insertForm = new FormData();
                    insertForm.append('empname', $("#empname").val());
                    insertForm.append('startdate', $("#startdate").val());
                    insertForm.append('securitynumber', $("#securitynumber").val());
                    insertForm.append('email', $("#email").val());
                    insertForm.append('manager', $("#manager").val());
                    insertForm.append('location', $("#location").val());
                    if ($("#exempt").is(":checked"))
                    {
                        insertForm.append('exempt', '1');
                    }
                    else {
                        insertForm.append('exempt', '0');
                    }

                    if ($("#nonexempt").is(":checked"))
                    {
                        insertForm.append('nonexempt', '1');
                    }
                    else {
                        insertForm.append('nonexempt', '0');
                    }
                   
                   
                    insertForm.append('position', $("#position").val());
                    insertForm.append('status', $("#status1").val());
                    insertForm.append('salary', $("#salary").val());
                    insertForm.append('kitordered', $("#kitorderdate").val());
                    insertForm.append('callscheduled', $("#onboardcall").val());
                    insertForm.append('allocation', $("#allocation").val());
                    insertForm.append('esignature', $("#esignature").val());
                    insertForm.append('edate', $("#edate").val());
                    insertForm.append('mdate', $("#mdate").val());
                    insertForm.append('msignature', $("#msignature").val());
                    insertForm.append('rpmsignature', $("#rpmsignature").val());
                    insertForm.append('rpmdate', $("#rpmdate").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertEmployeeNewHireNotice",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#empname").val('');
                                $("#startdate").val('');
                                $("#securitynumber").val('');
                                $("#email").val('');
                                $("#manager").val('');
                                $("#location").val('');
                                $("#exempt").val('');
                                $("#nonexempt").val('');
                                $("#position").val('');
                                $("#status1").val('');
                                $("#salary").val('');
                                $("#kitorderdate").val('');
                                $("#onboardcall").val('');
                                $("#allocation").val('');


                                GetAllHRFORMs('New Hire Notice');
                                $(".alert").html('Record Successfully Updated !');
                                $('#toastnotification').modal('show');


                                setTimeout(function () {

                                    $("#print").attr('disabled', false);
                                    $("#pdf").attr('disabled', false);
                                    $("#Submit").attr('disabled', true);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });

            $("#print").click(function (e) {
                e.preventDefault();
                if (leaseid != "") {

                    var printWindow = window.open("/Hr/PrintEmployeeNewHireNotice/?id=" + leaseid, 'Employeee Lease Rider', 'left=20, top=20, width=950, height=auto, toolbar=0, resizable=0');
                    printWindow.addEventListener('load', function () {
                        setTimeout(function () {
                            printWindow.print();
                            //printWindow.close(); Notification.success({ message: "PDF Downloaded .....", delay: 3000 });
                        }, 1000);
                    }, true);
                }
            });


            $("#pdf").click(function (e) {
                e.preventDefault();
                if (leaseid != "") {
                    var printWindow = window.open("/Hr/PdfEmployeeNewHireNotice/?id=" + leaseid, "Employee Lease Rider", 'left=20, top=20, width=950, height=auto, toolbar=0, resizable=0');
                    printWindow.addEventListener('load', function () {
                        setTimeout(function () {
                            printWindow.close();
                        }, 2000);
                    }, true);

                }

            });


      });

    </script>

}
