@{
    ViewBag.Title = "Employee New Hire Notice";
}

<input type="hidden" id="pageid" value="newhire" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Employee New Hire Notice </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">

    <div class="modal fade bs-example-modal-lg reviewmodal" id="reviewmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" style="width:40%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                        Rejecting ?
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 regionalblock" id="preregionalblock" style="text-align:center;display:none;">
                            <div class="col-md-12">  <h2 class="text-center"> Are you sure you want to reject ?  </h2></div>

                            <div class="col-md-12" style="text-align:center; margin-top:30px; ">
                                <button class="btn btn-danger" id="preregionalreject">
                                    YES
                                </button>
                                <button type="button" class=" btn btn-primary" data-dismiss="modal" aria-label="Close"> NO </button>

                            </div>

                        </div>


                        <div class="col-md-12 regionalblock" id="regionalblock" style="text-align:center;display:none;">
                            <div class="col-md-5"> Rejection Reason :</div>
                            <textarea cols="40" rows="5" class="col-md-6" id="reason"></textarea>
                            <br />
                            <p style="clear: both;
    padding-top: 20px !important;
    text-align: center;color:red;    float: right;
    margin-right: 25%;" id="reasonerror"> </p>
                            <div class="col-md-12" style="text-align:center; margin-top:50px; ">
                                <button class="btn btn-danger" id="regionalreject">
                                    Reject
                                </button>
                                <button type="button" class=" btn btn-primary" data-dismiss="modal" aria-label="Close"> Discard </button>

                            </div>

                        </div>

                        <div class="col-md-12 managerblock" id="managerblock" style="display:none; text-align:center">

                            <button class="btn btn-danger" id="resubmit">
                                Resubmit
                            </button>
                            <button type="button" id="hrcancel" class="btn btn-primary"> Cancel </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-lg rejectionmodal" id="rejectionmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" style="width:40%" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 regionalblock" id="regionalblock" style="text-align:center">
                            <h3> Rejection Details :  </h3>
                            <p style="text-align:left;"> Rejected By : <span id="rjby">  </span></p>
                            <p style="text-align:left;"> Rejected Reason : <span id="rjreason">  </span></p>
                            <p style="text-align:left;"> Rejected Date Time :<span id="rjdatetime">  </span></p>

                            <div id="signaturemetadata"> </div>
                        </div>

                        <div class="col-md-12 managerblock" id="managerblock">


                            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close"> Close </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @{ Html.RenderPartial("HrFormLogActivity"); }




    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/hrbg-min.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:black;text-transform:uppercase;"> <b>  Employee New Hire Notice </b></h1>
                <input type="hidden" id="pageidname" value="newhire" />
                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "corporate" || @Model.RoleType.ToLower() == "management" || @Model.RoleType.ToLower() == "hr" || @Model.RoleType.ToLower() == "vp" || @Model.RoleType.ToLower() == "rvp" || @Model.RoleType.ToLower() == "regional" || @Model.RoleType.ToLower() == "property" || @Model.RoleType.ToLower() == "asset manager")
                {

                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>

                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@

                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" class="addnew" onclick="LoadHrForm('EmployeeLeaseRider'); LoadHrPositions();">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Employee New Hire Notice
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" id="modaldiv" style="padding: 20px;padding-left:110px;
    border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">
                                        <p class="c1 c8" style="margin-left:19%;">
                                            <span class="c7">
                                                <img src="~/img/newhirenotice.png">
                                            </span>
                                        </p>
                                        <p class="c1 c8" style="margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 0px;">
                                            <span class="c7"> NEW HIRE NOTICE </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0 "><span class="empnameerror  lblerror">  Employee Name:  </span>   <input type="text" style="width:42%" id="empname" />    <span class=" startdateerror lblerror" >      Start Date:</span> 
                                            <input type="text" class="date-mask" style="width:20%;" id="startdate" value="" />  </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0 "> <span class="emailerror lblerror" >  Personal Email Address: </span> <input type="email" id="email" style="width:50%;" /> (do not leave blank) </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Manager: <input type="text" id="manager" style="width:78%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0  chkcorporateerror chkpropertyerror lblerror">
                                                Location: <input type="radio" id="chkcorporate" name="loc" value="1" /> Corporate &nbsp;&nbsp;&nbsp;&nbsp;
                                                <input style="margin-left:12px" type="radio" id="chkproperty" name="loc" value="0" /> Property
                                            </span>

                                            <span class="c0" id="divproperty" style="display:none; padding:20px;">
                                                Property : <select type="text" id="location"></select>
                                            </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0"><span class=" lblerror exempterror nonexempterror">Position: </span> <input type="radio" style="margin-left:0.5%;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" style="margin-left:6%;" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0 "> <span class="lblerror fullstatuserror partstatuserror">Status : </span>  <input type="radio" style="margin-left:1.5%;" value="1" name="time" id="fullstatus" />  Full Time  <input type="radio" style="margin-left:5%;" name="time" id="partstatus" value="1" />  Part Time </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0 lblerror salaryerror">Wage (Hourly) / Salary (Annual) <input type="text" class="allow_decimal" id="salary"  style="width:15%;margin-left:2%;" />  <input type="radio" style="margin-left:5%;" value="1" name="wage" id="salhourly" />  Hourly  <input type="radio" style="margin-left:5%;" name="wage" id="annualsalary" value="1" />  Annual  </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0"><span class=" positionerror lblerror">Position </span> <select style="width:250px;margin-left:10%; " class="select select2" id="position"> </select> </span>
                                        </p>

                                        <table style="width: 80%;
    margin-left: 10%;margin-bottom:20px;">
                                            <tr>
                                                <td colspan="1">
                                                    <h3 style="text-align: center;
    margin-left: 40%;"> Labor Allocation   </h3>
                                                </td>
                                            </tr>
                                            <tr> <td class="lblerror la_Prop2error la_Prop3error la_Prop1error"> Property </td> <td class="lblerror la_Prop2pererror la_Prop3pererror la_Prop1pererror"> Percentage </td> </tr>
                                            <tr> <td> <input type="text" id="la_Prop1" />  </td> <td> <input type="text" class="allow_decimal" id="la_Prop1per" /> </td> </tr>
                                            <tr> <td> <input type="text" id="la_Prop2" /> </td> <td> <input type="text" class="allow_decimal" id="la_Prop2per" /> </td> </tr>
                                            <tr> <td> <input type="text" id="la_Prop3" /> </td> <td> <input type="text" class="allow_decimal" id="la_Prop3per" /> </td> </tr>
                                        </table>

                                        <p class="c1" style="margin-bottom: 30px;margin-top:30px;">
                                            <span class="c0">
                                                New Hire Kit Ordered : <input type="radio" name="kitordered" id="kitorderdate" /> Yes  <input type="radio" name="kitordered" checked id="kitorderdate1" /> No
                                            </span>
                                        </p>
                                        <p class="c1" style="margin-bottom: 60px;">
                                            <span class="c0">
                                                Additional Instructions : <textarea id="additional" cols="55" rows="5" style="width:60%">  </textarea>
                                            </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0 ">Employee Signature <input disabled type="text" id="esignature" style="width:42.5%;" />    Date <input disabled type="text" style="width:21%" name="name" id="edate" value="" /></span>
                                        </p>
                                        
                                        <p class="c1">
                                            <span class="c0 "> <span class="lblerror msignatureerror">Manager&rsquo;s Authorizing Signature </span> <input type="text" id="msignature" style="width:32%;" /> Date <input type="text" class="date-mask" style="width:21%;" disabled name="name" id="mdate" value="" /> </span>
                                        </p>

                                        <p class="c1" style="margin-bottom: 60px;">
                                            <span class="c0">RPM Signature<input type="text" disabled id="rpmsignature" style="width:42.5%;margin-left:5%;" />Date <input disabled type="text" style="width:21%" name="name" id="rpmdate" value="" /></span>
                                        </p>
                                        <br /> <br />
                                        <p>Rev. June 2018</p>
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" id="Submit" style="margin-left:-10%;" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section ipadstyles
{
    
    <style type="text/css">
        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {


            #msignature {
                width: 33.2% !important;
            }
            
        }
        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) 
        {

            #modaldiv 
            {
                padding-left: 45px !important;
            }

            #esignature
            {
                width:44% !important;
            }

            #rpmsignature 
            {
                width: 45%!important;
                margin-left: 5% !important;
            }
            #location
            {
                width:40% !important;
            }
         }

    </style>
    
    
    
    }
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        a.rejectednotes {
            color: #293846 !important;
        }

        .btn-danger, .btn-success, .btn-danger:active, .btn-danger:hover, .btn-success:active, .btn-success:hover {
            background-color: #293846 !important;
            border-color: #293846 !important;
            color: #FFFFFF;
            border-radius: 20px !important;
        }

        .btn {
            border-radius: 20px !important;
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
            color: red;
            /*font-weight: bold !important;*/
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")
   
    <script>

        $(document).ready(function () {

            //$("#salary").keypress(function (e) {
            //    //if the letter is not digit then display error and don't type anything
            //    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //        //display error message
            //        $("#errmsg").html("Digits Only").show().fadeOut("slow");
            //        return false;
            //    }
            //});


            //$('#salary').keyup(function (e) {
            //    if (/\D/g.test(this.value)) {
            //        // Filter non-digits from input value.
            //        this.value = this.value.replace(/\D/g, '');
            //    }
            //});


            $(".addnew").click(function ()
            {
                $("#divproperty").hide();
                $("#location").attr('seloption', '');
                document.getElementById("submitform").reset();
                $("#esignature,#edate,#rpmsignature,#rpmdate,#manager").attr('disabled', true);
         //       document.getElementById("mdate").valueAsDate = new Date();
           //     document.getElementById("startdate").valueAsDate = new Date();

            });

            var leaseid = "";

            GetAllHRFORMs('New Hire Notice');

function AssignManager()
{

                if ($("#chkcorporate").is(":checked"))
                {                  
                    $("#manager").val($("#CreatedByName").val());
                    $("#manager").attr("disabled", false);
                }

                if ($("#chkproperty").is(":checked"))
                {
                    if ($("#position").val() == "Property Manager") {
                        $("#manager").val('');
                    }
                    else
                    {
                        var pattern = /run/;

                        $.get($BaseApiUrl + "api/Data/GetPropertyManager?PropertyId=" + $("#location").val(), function (data) {

                            if (data == "No Manager") {
                                manager = "";
                                alert("Invalid Property Code");
                                $("#manager").val('');
                            }
                            else if (data.indexOf("Error") == true) {
                                manager = "";
                                //  alert(data);
                                $("#manager").val('');
                            }
                            else {
                                //    var values = data.split(",");
                                $("#la_Prop1").val($("#location option:selected").text());
                                manager = data;
                                $("#manager").val(data);
                            }
                        });

                        $("#manager").attr("disabled", true);
                    }
                }
            }

            $("#position,#location").change(function () {

                AssignManager();

            });

            $("input,select,textarea").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                    $("." + $(this).attr('id') + "error").addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                    $("." + $(this).attr('id') + "error").removeClass("has-error");
                }
            });

  //          document.getElementById("mdate").valueAsDate = new Date();


            $(document).on('click', ".resendrpmmail,.resendempmail", function () {

                var action = $(this).attr('data-action');
                var refid = $(this).attr('data-ref');

                var insertForm = new FormData();
                insertForm.append('form', "NewHire");
                insertForm.append('action', action);
                insertForm.append('refid', refid);
                insertForm.append('CreatedBy', $("#CreatedBy").val());
                insertForm.append('CreatedByName', $("#CreatedByName").val());
                if ($("#divprocessingbtn").length > 0) {
                    $("#divprocessingbtn").show();
                }


                $.ajax({
                    url: $BaseApiUrl + "api/data/ResentHrWorkflow",
                    type: 'POST',
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    data: insertForm,
                    success: function (data) {
                        // To-do code if ajax request is successful

                        if (data == true)
                        {
                            GetAllHRFORMs('New Hire Notice');
                            $(".alert").html('Email Resent Success');
                            if ($("#divprocessingbtn").length > 0) {
                                $("#divprocessingbtn").hide();
                            }
                            $('#toastnotification').modal('show');

                            setTimeout(function () {

                                $('#toastnotification').modal('hide');
                            }, 3000);
                        }
                        else
                        {
                            $(".alert").html("<span style='color:red'>" + data + "</span>");
                            if ($("#divprocessingbtn").length > 0) {
                                $("#divprocessingbtn").hide();
                            }
                            $('#toastnotification').modal('show');

                            setTimeout(function () {

                                $('#toastnotification').modal('hide');
                            }, 7000);
                        }
                        GetAllHRFORMs('New Hire Notice');

                    },
                    error: function (ts) {
                        alert('error' + ts.exceptionMessage);
                    }
                });
            });


            //  reject clicked
            $(document).on('click', ".reject", function () {
                leaseid = $(this).attr('data-ref');
                $(".reviewmodal").modal('show');


                if ($("#UserR").val() == "hr")
                //  if($("#UserR").val() == "Administrator")
                {
                    console.log($("#UserR").val() + "hr")
                    $("#managerblock").show();
                    $("#regionalblock").hide();
                }
                else {
                    console.log($("#UserR").val() + "other")
                    $("#managerblock").hide();
                    $("#preregionalblock").show();
                    $("#regionalblock").hide();
                    $("#reason").val('');
                }
            });

            $("#preregionalreject").click(function () {

                $("#preregionalblock").hide();
                $("#regionalblock").show();
                $("#reason").val('');
            });

            // regional rejected
            $(document).on('click', ".rejectednotes", function () {
                leaseid = $(this).attr('data-ref');
                var insertForm = new FormData();

                insertForm.append('refid', leaseid);
                insertForm.append('CreatedByName', $("#CreatedByName").val());
                if ($("#divprocessingbtn").length > 0) {
                    $("#divprocessingbtn").show();
                }

                $('.reviewmodal').modal('hide');

                $(".alert").html('Processing');

                $('#toastnotification').modal('show');

                $.ajax({
                    url: $BaseApiUrl + "api/data/RejectionDetailsForNewHire",
                    type: 'POST',
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    data: insertForm,
                    success: function (data) {
                        // To-do code if ajax request is successful

                        if ($("#divprocessingbtn").length > 0) {
                            $("#divprocessingbtn").hide();
                        }

                        $('#toastnotification').modal('hide');
                        $('#rejectionmodal').modal('show');

                        console.log(data);

                        $("#rjby").html(data.newhiredetails.firstName + data.newhiredetails.lastName);
                        $("#rjreason").html(data.newhiredetails.rejectedReason);
                        $("#rjdatetime").html(data.newhiredetails.rejectedDateTime);
                        var signm = "<h3> Signature Meta Data : </h3>";

                        // for emp
                        if (data.emp != null) {
                            signm += "<h3> Employee </h3><p> Browser : " + data.emp.browserInformation + "   </p><p> Ip Address : " + data.emp.ipAddress + "   </p><p> Date Time : " + data.emp.clientdatetime + "   </p>";
                        }
                        // for pm
                        if (data.pm != null) {
                            signm += "<h3> Property Manager </h3><p> Browser : " + data.pm.browserInformation + "   </p><p> Ip Address : " + data.pm.ipAddress + "   </p><p> Date Time : " + data.pm.clientdatetime + "   </p>";
                        }
                        // regional
                        if (data.regional != null) {
                            signm += "<h3> Regional Manager </h3><p> Browser : " + data.regional.browserInformation + "   </p><p> Ip Address : " + data.regional.ipAddress + "   </p><p> Date Time : " + data.regional.clientdatetime + "   </p>";
                        }

                        $("#rjdatetime").html(signm);


                    },
                    error: function (ts) {
                        alert('error' + ts.exceptionMessage);
                    }
                });

            });



            // regional rejected
            $(document).on('click', "#regionalreject ", function () {

                if ($("#reason").val().replace(/\n/g, "") == "")
                {
                    $("#reason").addClass('has-error');

                    $("#reasonerror").addClass('has-error').html('Please enter rejection reason');

                    return false;
                }
                var insertForm = new FormData();
                insertForm.append('status', 'reject');
                insertForm.append('reason', $("#reason").val().replace(/\n/g, ""));
                insertForm.append('refid', leaseid);
                insertForm.append('CreatedBy', $("#CreatedBy").val());
                insertForm.append('CreatedByName', $("#CreatedByName").val());
                if ($("#divprocessingbtn").length > 0) {
                    $("#divprocessingbtn").show();
                }

                $('.reviewmodal').modal('hide');

                $(".alert").html('Processing');
                $('#toastnotification').modal('show');

                $.ajax({
                    url: $BaseApiUrl + "api/data/newhirerejection",
                    type: 'POST',
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    data: insertForm,
                    success: function (data) {
                        // To-do code if ajax request is successful

                        if (data == true) {
                            GetAllHRFORMs('New Hire Notice');
                            $(".alert").html('New Hire Rejected Successfully');
                            if ($("#divprocessingbtn").length > 0) {
                                $("#divprocessingbtn").hide();
                            }
                            $('#toastnotification').modal('show');

                            setTimeout(function () {

                                $('#toastnotification').modal('hide');
                            }, 3000);
                        }
                        else {
                            $("#status").html(data);
                        }


                    },
                    error: function (ts) {
                        alert('error' + ts.exceptionMessage);
                    }
                });

            });

            // Cancelled by HR

            // regional rejected
            $(document).on('click', "#hrcancel ", function () {
                var insertForm = new FormData();
                insertForm.append('status', 'cancell');
                insertForm.append('reason', $("#reason").val());
                insertForm.append('refid', leaseid);
                insertForm.append('CreatedBy', $("#CreatedBy").val());
                insertForm.append('CreatedByName', $("#CreatedByName").val());

                if ($("#divprocessingbtn").length > 0) {
                    $("#divprocessingbtn").show();
                }

                $('.reviewmodal').modal('hide');

                $(".alert").html('Processing');
                $('#toastnotification').modal('show');

                $.ajax({
                    url: $BaseApiUrl + "api/data/newhirerejection",
                    type: 'POST',
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    data: insertForm,
                    success: function (data) {
                        // To-do code if ajax request is successful

                        if (data == true) {
                            GetAllHRFORMs('New Hire Notice');
                            $(".alert").html('New Hire Cancelled Successfully');
                            if ($("#divprocessingbtn").length > 0) {
                                $("#divprocessingbtn").hide();
                            }
                            $('#toastnotification').modal('show');

                            setTimeout(function () {

                                $('#toastnotification').modal('hide');
                            }, 3000);
                        }
                        else {
                            $("#status").html(data);
                        }


                    },
                    error: function (ts) {
                        alert('error' + ts.exceptionMessage);
                    }
                });
            });

            // Resubmit
            var insertoredit = true;

            $(document).on('click', "#resubmit,.resubmit", function () {

                var eid = $(this).attr('data-ref');
                insertoredit = false;

                if (eid != "")
                    leaseid = eid;

                $(".alert").html('Processing');
                $('#toastnotification').modal('show');

                $.get($BaseApiUrl + "api/Data/GetEmployeeNewHireNotice?riderid=" + leaseid, function (data) {


                    if (data != "") {

                        $("#empname").val(data.employeeName);
                        var d = data.startDate.substring(5, 7) + "-" + data.startDate.substring(8, 10) + "-" + data.startDate.substring(0, 4);
                        $("#startdate").val(d);

                        $("#email").val(data.emailAddress);
                        $("#manager").val(data.manager);

                        if (data.location == "Corporate") {
                            $("#chkcorporate").prop("checked", true);
                            iscorporate = true;
                            $("#divproperty").hide();
                        }
                        else {
                            $("#chkproperty").prop("checked", true);

                            iscorporate = false;
                            $("#divproperty").show();

                            $("#location").attr('seloption', data.location);

                            // LoadPropertiesForSelect(true,"location");

                            //  setTimeout(function () { $("#location").val(data.location);  }, 5000);

                        }
                        LoadHrPositions();
                        $("#email").val(data.emailAddress);

                        if (data.position_Exempt == "1") {
                            $("#exempt").prop("checked", true);
                        }
                        else
                            $("#exempt").prop("checked", false);

                        if (data.position_NonExempt == "1") {
                            $("#nonexempt").prop("checked", true);
                        }
                        else
                            $("#nonexempt").prop("checked", false);



                        if (data.status == "FULL TIME") {
                            $("#fullstatus").prop("checked", true);
                            $("#partstatus").prop("checked", false);

                        }
                        else {
                            $("#fullstatus").prop("checked", false);
                            $("#partstatus").prop("checked", true);
                        }



                        if (data.sal_Time == "Annually") {
                            $("#annualsalary").prop("checked", true);
                            $("#salhourly").prop("checked", false);

                        }
                        else {
                            $("#annualsalary").prop("checked", false);
                            $("#salhourly").prop("checked", true);
                        }


                        if (data.kitordered == "Yes") {
                            $("#kitorderdate").prop("checked", true);
                            $("#kitorderdate1").prop("checked", false);
                        }
                        else {
                            $("#kitorderdate").prop("checked", false);
                            $("#kitorderdate1").prop("checked", true);
                        }



                        setTimeout(function () {
                            console.log(data.position);
                            $('#position option[value="' + data.position + '"]').attr("selected", "selected");
                            $("#position").val("" + data.position);
                        }, 4000);


                        $("#la_Prop1").val(data.la_Property1);
                        $("#la_Prop2").val(data.la_Property2);

                        $("#la_Prop3").val(data.la_Property3);
                        $("#la_Prop1per").val(data.la_Property1_Per);
                        $("#la_Prop2per").val(data.la_Property2_Per);
                        $("#la_Prop3per").val(data.la_Property3_Per);
                        $("#salary").val(data.wage_Salary);
                        $("#additional").val(data.additionalText);
                        $("#msignature").val(data.msignature);
                        //  $("#salary").val(data.wage_Salary);

                        //document.getElementById("mdate").valueAsDate = new Date();
                        //document.getElementById("startdate").valueAsDate = new Date();
                        $("#mdate,#startdate").datepicker({
                            format: "mm/dd/yyyy"
                        }).datepicker("setDate", 'now');
                      

                       // $("#datechoosen").datepicker("setDate", new Date(data.date));
                        //if (data.mdate != null) {

                        //    var d1 = data.mdate.substring(0, 4) + "-" + data.mdate.substring(5, 7) + "-" + data.mdate.substring(8, 10);
                        //    $("#mdate").val(d1);

                        //}

                        //   $("#dateposted").val(data.datePosted);
                        $("#notes1").val(data.notes);

                        $('.reviewmodal').modal('hide');
                        $('#myModal').modal('show');
                        if ($("#divprocessingbtn").length > 0) {
                            $("#divprocessingbtn").hide();
                        }
                        $('#toastnotification').modal('hide');
                        $("#esignature,#edate,#rpmsignature,#rpmdate").attr('disabled', true);

                    }
                });

            });

            var iscorporate = true;

            $("#chkcorporate,#chkproperty").change(function (e) {

                e.preventDefault();

                if ($("#chkcorporate").is(":checked")) {
                    iscorporate = true;
                    $("#divproperty").hide();
                    $("#manager").val($("#CreatedByName").val());
                    $("#la_Prop1,#la_Prop1per,#la_Prop2,#la_Prop2per,#la_Prop3,#la_Prop3per").val('');
                }
                if ($("#chkproperty").is(":checked")) {
                    iscorporate = false;
                    $("#divproperty").show();
                }

                AssignManager();
            });


            $("#exempt").change(function () {

                if ($("#exempt").is(":checked"))
                {
                    $("#annualsalary").prop('checked', true);
                }
                
            });
            
            $("#nonexempt").change(function ()
            {
                if ($("#nonexempt").is(":checked"))
                {
                    
                    $("#salhourly").prop('checked', true);
                }               

            });




            var manager = "";

            $("#location").change(function () {

                if ($("#location").val() == "") {

                    alert("Please Select Property");
                    manager = "";
                }
                else {

                    AssignManager();
                }
            });


            $("#Submit").click(function (e) {
                e.preventDefault();

                $("input,select,textarea").removeClass('has-error');
                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#empname").val() == "") {
                    errormsgsummary += "<li> Please Enter Employee Name </li>";
                    $(".empnameerror").addClass('has-error');
                    if (control == "")
                        control = $("#empname");
                }

                if ($("#chkcorporate").is(":checked") == false && $("#chkproperty").is(":checked") == false) {
                    errormsgsummary += "<li> Please  Select Corporate or Property for location </li>";
                    $(".chkcorporateerror").addClass('has-error');
                    if (control == "")
                        control = $("#chkcorporate");
                }

                if ($("#startdate").val() == "") {
                    errormsgsummary += "<li> Please Enter Date </li>";
                    $(".startdateerror").addClass('has-error');
                    if (control == "")
                        control = $("#startdate");
                }

                if (!validateEmail($("#email").val())) {
                    errormsgsummary += "<li> Please Enter Valid Email Address </li>";
                    $(".emailerror").addClass('has-error');
                    if (control == "")
                        control = $("#email");
                }



                //if ($("#manager").val() == "") {
                //    errormsgsummary += "<li> Please Enter Manager Name </li>";
                //    $("#manager").addClass('has-error');
                //    if (control == "")
                //        control = $("#manager");
                //}

                //if ($("#location").val() == "" && iscorporate == false) {
                //    errormsgsummary += "<li> Please Enter Location </li>";
                //    $("#location").addClass('has-error');
                //    if (control == "")
                //        control = $("#location");
                //}

                if ($("#position").val() == "") {
                    errormsgsummary += "<li> Please Choose Position </li>";
                    $(".positionerror").addClass('has-error');
                    if (control == "")
                        control = $("#position");
                }



                // check either exempt or non exemppt checked

                if (!$("#exempt").is(":checked") && !$("#nonexempt").is(":checked")) {
                    errormsgsummary += "<li> Please Select Position Exempt or Non Exempt </li>";
                    $(".exempterror").addClass('has-error');
                    if (control == "")
                        control = $("#exempt");
                }

                // check status choosen full time or part time


                if (!$("#fullstatus").is(":checked") && !$("#partstatus").is(":checked")) {
                    errormsgsummary += "<li> Please Select Status Option either Full Time or Part Time </li>";
                    $(".fullstatuserror").addClass('has-error');
                    if (control == "")
                        control = $("#fullstatus");
                }



                if ($("#salary").val() == "") {
                    errormsgsummary += "<li> Please Enter Salary/Wage  </li>";
                    $(".salaryerror").addClass('has-error');
                    if (control == "")
                        control = $("#salary");
                }

                if ($("#msignature").val() == "") {
                    errormsgsummary += "<li> Please Enter PM Signature  </li>";
                    $(".msignatureerror").addClass('has-error');
                    if (control == "")
                        control = $("#msignature");
                }


                //if ($("#onboardcall").val() == "") {
                //    errormsgsummary += "<li> Please Enter OnBoard Call Date </li>";
                //    $("#onboardcall").addClass('has-error');
                //    if (control == "")
                //        control = $("#onboardcall");
                //}
                if (iscorporate == false) {

                    if ($("#la_Prop1per").val() == "" /*&& $("#la_Prop2per").val() == ""*/) {
                        errormsgsummary += "<li> Please Enter Division Of Labor Percentage  </li>";
                        $(".la_Prop1pererror").addClass('has-error');
                        if (control == "")
                            control = $("#la_Prop1per");
                    }

                    //if ($("#la_Prop1per").val() != "" && parseFloat($("#la_Prop1per").val()) < 100) {

                    //    if ($("#la_Prop2per").val() == "" && $("#la_Prop3per").val() == "") {
                    //        errormsgsummary += "<li> Please Enter Division Of Labor Percentage </li>";
                    //        $("#la_Prop1").addClass('has-error');
                    //        $("#la_Prop2").addClass('has-error');
                    //        $("#la_Prop3").addClass('has-error');
                    //        if (control == "")
                    //            control = $("#la_Prop2");
                    //    }
                    //    else {
                    //        var total = parseFloat($("#la_Prop1per").val()) + parseFloat($("#la_Prop2per").val()) + parseFloat($("#la_Prop3per").val());
                    //        if (total < 100)
                    //            errormsgsummary += "<li> Division Of Labor Percentage should be 100% </li>";
                    //        // return false;
                    //    }

                    //}

                    var p1 = 0, p2 = 0, p3 = 0;

                    if ($("#la_Prop1per").val() != "")
                        p1 = parseFloat($("#la_Prop1per").val());
                    if ($("#la_Prop2per").val() != "")
                        p2 = parseFloat($("#la_Prop2per").val());
                    if ($("#la_Prop3per").val() != "")
                        p3 = parseFloat($("#la_Prop3per").val());
                    var sum = parseFloat(p1) + parseFloat(p2) + parseFloat(p3);

                    console.log(sum);


                    if (sum != 100) {

                        if ($("#la_Prop1per").val() != "" && $("#la_Prop1").val() == "") {

                            errormsgsummary += "<li> Please Enter Property Name for  Percentage1 </li>";
                            $("la_Prop1error").addClass('has-error');

                            if (control == "")
                                control = $("#la_Prop1");
                        }


                        if ($("#la_Prop2per").val() != "" && $("#la_Prop2").val() == "") {

                            errormsgsummary += "<li> Please Enter Property Name for  Percentage2 </li>";
                            $(".la_Prop2error").addClass('has-error');

                            if (control == "")
                                control = $("#la_Prop2");
                        }


                        if ($("#la_Prop3per").val() != "" && $("#la_Prop3").val() == "") {

                            errormsgsummary += "<li> Please Enter Property Name for  Percentage3 </li>";
                            $(".la_Prop3error").addClass('has-error');

                            if (control == "")
                                control = $("#la_Prop3");
                        }

                        errormsgsummary += "<li> Division Of Labor Percentage should be 100% </li>";
                        control = $("#la_Prop3"); $(".la_Prop3pererror").addClass('has-error');
                        $(".la_Prop3error").addClass('has-error');
                    }
                }

                if (errormsgsummary != "") {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;">  Please fill out all the missing fields </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);
                    $("input,select").prop('disabled', false);

                    var insertForm = new FormData();
                    insertForm.append('empname', $("#empname").val());
                    insertForm.append('startdate', $("#startdate").val());
                    insertForm.append('securitynumber', $("#securitynumber").val());
                    insertForm.append('email', $("#email").val());

                    insertForm.append('iscorporate', iscorporate);
                    if (iscorporate == true) {
                        insertForm.append('location', 'Corporate');
                        insertForm.append('manager', $("#manager").val());
                    }
                    else {
                        insertForm.append('location', $("#location option:selected").val());
                        insertForm.append('manager', $("#manager").val());
                    }

                    insertForm.append('propertyid', $("#location").val());

                    if ($("#exempt").is(":checked")) {
                        insertForm.append('exempt', '1');
                    }
                    else {
                        insertForm.append('exempt', '0');
                    }

                    if ($("#nonexempt").is(":checked")) {
                        insertForm.append('nonexempt', '1');
                    }
                    else {
                        insertForm.append('nonexempt', '0');
                    }

                    if (insertoredit == false) {
                        insertForm.append('isedit', '1');
                        insertForm.append('refid', leaseid);
                    }
                    else
                        insertForm.append('isedit', '0');


                    var status = "";

                    if ($("#fullstatus").is(":checked")) {
                        status = "FULL TIME";
                    }
                    else if ($("#partstatus").is(":checked")) {
                        status = "PART TIME";
                    }

                    var saltime = "";

                    if ($("#salhourly").is(":checked")) {
                        saltime = "Hourly";
                    }
                    else if ($("#annualsalary").is(":checked")) {
                        saltime = "Annually";
                    }

                    insertForm.append('position', $("#position").val());
                    insertForm.append('status', status);
                    insertForm.append('salary', $("#salary").val());
                    insertForm.append('salarytime', saltime);
                    insertForm.append('prop1', $("#la_Prop1").val());
                    insertForm.append('prop1per', $("#la_Prop1per").val());
                    insertForm.append('prop2', $("#la_Prop2").val());
                    insertForm.append('prop2per', $("#la_Prop2per").val());
                    insertForm.append('prop3', $("#la_Prop3").val());
                    insertForm.append('prop3per', $("#la_Prop3per").val());
                    insertForm.append('additional', $("#additional").val());

                    if ($("#kitorderdate").is(":checked")) {
                        insertForm.append('kitordered', 'Yes');
                    }
                    else if ($("#kitorderdate1").is(":checked")) {
                        insertForm.append('kitordered', 'No');
                    }


                    //    insertForm.append('callscheduled', $("#onboardcall").val());
                    insertForm.append('allocation', $("#allocation").val());
                    insertForm.append('esignature', $("#esignature").val());
                    insertForm.append('edate', $("#edate").val());
                    insertForm.append('mdate', $("#mdate").val());
                    insertForm.append('msignature', $("#msignature").val());
                    insertForm.append('rpmsignature', $("#rpmsignature").val());
                    insertForm.append('rpmdate', $("#rpmdate").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertEmployeeNewHireNotice",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#empname").val('');
                                $("#startdate").val('');
                                $("#securitynumber").val('');
                                $("#email").val('');
                                $("#manager").val('');
                                $("#location").val('');
                                $("#exempt").val('');
                                $("#nonexempt").val('');
                                $("#position").val('');
                                $("#status1").val('');
                                $("#salary").val('');
                                $("#kitorderdate").val('');
                                $("#onboardcall").val('');
                                $("#allocation").val('');
                                $("#status").html('');
                                document.getElementById("submitform").reset();
                                insertoredit = true;
                                GetAllHRFORMs('New Hire Notice');
                                ShowToastNotification('Record Successfully Updated', 3);


                                setTimeout(function () {
                                    $("#print").attr('disabled', false);
                                    $("#pdf").attr('disabled', false);
                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.exceptionMessage);
                        }
                    });

                }
            });
        });

    </script>

}
