@{
    ViewBag.Title = "Employee New Hire Notice";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Employee New Hire Notice </strong>
            </li>
        </ol>
    </div>

    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/hrbg-min.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:black;text-transform:uppercase;"> <b>  Employee New Hire Notice </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {

                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>

                    <a disabled="disabled" class="btnDelete" href="#">
                        <i class="fa fa-trash"></i> Delete
                    </a>*@

                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('EmployeeLeaseRider'); LoadHrPositions();">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>
            <div class="ibox-content" style="padding:80px; padding-top:40px;">

                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:60%" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="padding: 0px;
    border: none;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;display:none;" id="gridSystemModalLabel">
                                    Employee New Hire Notice
                                </h1>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;padding-left:110px;
    border: 2px solid black;">
                                    <form id="submitform" onsubmit="return false;">
                                        <p class="c1 c8" style="margin-left:19%;">
                                            <span class="c7">
                                                <img src="~/img/newhirenotice.png">
                                            </span>
                                        </p>
                                        <p class="c1 c8" style="margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;"> <span class="c7"> NEW HIRE NOTICE </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0"> Employee Name:    <input type="text" style="width:40%" id="empname" />        Start Date:<input data-date-format="MM-DD-YYYY" type="date" id="startdate" />  </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Personal Email Address: <input type="email" id="email" style="width:60%;" /> (do not leave blank) </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Manager:<input  type="text" id="manager" style="width:83%;" /> </span>
                                        </p>
                                        <p class="c1">
                                            <span class="c0">
                                                Location: <input type="radio" id="chkcorporate" name="loc" /> Corporate &nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" id="chkproperty" name="loc" /> Property
                                            </span>

                                            <span class="c0" id="divproperty" style="display:none; padding:40px;" >
                                                Property : <select type="text" id="location" ></select>
                                            </span>
                                        </p>
                                    
                                        <p class="c1">
                                            <span class="c0">Position: <input type="radio" style="margin-left:25.5%;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" style="margin-left:6%;" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Status :  <input type="radio" style="margin-left:26.5%;" value="1" name="time" id="fullstatus" />  Full Time  <input type="radio" style="margin-left:5%;" name="time" id="partstatus" value="1" />  Part Time </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Wage (Hourly) / Salary (Annual) <input type="text" id="salary" style="width:15%;margin-left:2%;" />  <input type="radio" style="margin-left:5%;" value="1" name="wage" id="salhourly" />  Hourly  <input type="radio" style="margin-left:5%;" name="wage" id="annualsalary" value="1" />  Annual  </span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Position <select style="width:250px;margin-left:10%; " class="select select2" id="position"> </select> </span>
                                        </p>

                                        <table style="width: 80%;
    margin-left: 10%;margin-bottom:20px;">
                                            <tr>
                                                <td colspan="1">
                                                    <h3 style="text-align: center;
    margin-left: 40%;">
                                                        Labor Allocation
                                                    </h3>
                                                </td>
                                            </tr>
                                            <tr> <td> Property </td> <td> Percentage </td> </tr>
                                            <tr> <td> <input type="text" id="la_Prop1" style="margin-bottom:10px;" />  </td> <td> <input type="number" id="la_Prop1per" /> </td> </tr>
                                            <tr> <td> <input type="text" id="la_Prop2" /> </td> <td> <input type="number" id="la_Prop2per" /> </td> </tr>
                                        </table>

                                        <p class="c1" style="margin-bottom: 60px;">
                                            <span class="c0">
                                                New Hire Kit Ordered : <input type="radio" name="kitordered" id="kitorderdate" /> Yes  <input type="radio" name="kitordered" id="kitorderdate1" /> No
                                            </span>
                                        </p>
                                     
                                        <p class="c1">
                                            <span class="c0">Employee Signature <input disabled type="text" id="esignature" style="width:42%;" />    Date <input disabled type="date" name="name" id="edate" value="" /></span>
                                        </p>

                                        <p class="c1">
                                            <span class="c0">Manager&rsquo;s Authorizing Signature <input type="text" id="msignature" style="width:32%;" /> Date <input type="date" style="width:21%;" name="name" id="mdate" value="" /> </span>
                                        </p>

                                        <p class="c1" style="margin-bottom: 60px;">
                                            <span class="c0">RPM Signature<input type="text" disabled id="rpmsignature" style="width:47.5%;" />Date <input disabled type="date" name="name" id="rpmdate" value="" /></span>
                                        </p>

                                        <p class="c1" style="width:75%;text-align:center; font-weight:bold">
                                                Please Email I9 and Signed Documents to HRNotifications@carrollmg.com                                           
                                        </p>

                                        <br /> <br />
                                        <p>Rev. June 2018</p>
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                                            <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table  dtprops" width="100%"></table>


            </div>
        </div>
    </div>

</div>





@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
          
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function ()
        {
            var leaseid = "";

            GetAllHRFORMs('New Hire Notice');
            
            $("input").change(function (e) 
            {
                e.preventDefault();

                if ($(this).val() == "")
                {
                    $(this).addClass("has-error");
                }
                else
                {
                    $(this).removeClass("has-error");
                }

            });

            var iscorporate = false;

            $("#chkcorporate,#chkproperty").change(function (e) {

                e.preventDefault();

                if ($("#chkcorporate").is(":checked"))
                {
                    iscorporate = true;
                    $("#divproperty").hide();
                    $("#manager").val('');
                }
                if ($("#chkproperty").is(":checked")) {
                    iscorporate = false;
                    $("#divproperty").show();
                }


            });

            var manager = "";

            $("#location").change(function () {

                if ($("#location").val() == "") {

                    alert("Please Select Property");
                    manager = "";
                }
                else {

                    var pattern = /run/;

                    $.get($BaseApiUrl + "api/Data/GetPropertyManager?PropertyId=" + $("#location").val(), function (data) {
                      
                        if (data == "No Manager") {
                            manager = "";
                            alert("Invalid Property Code");
                            $("#manager").val('');
                        }
                        else if (data.indexOf("Error") == true)
                        {
                            manager = "";
                            alert(data);
                            $("#manager").val('');
                        }
                        else {
                        //    var values = data.split(",");
                            manager = data;
                            $("#manager").val(data);
                        }
                    });
                }
            });

     
            

            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#empname").val() == "") {
                    errormsgsummary += "<li> Please Enter Employee Name </li>";
                    $("#empname").addClass('has-error');
                    if (control == "")
                        control = $("#empname");
                }

                if ($("#startdate").val() == "") {
                    errormsgsummary += "<li> Please Enter Date </li>";
                    $("#startdate").addClass('has-error');
                    if (control == "")
                        control = $("#startdate");
                }

              

                if (!validateEmail($("#email").val())) 
                {
                    errormsgsummary += "<li> Please Enter Valid Email Address </li>";
                    $("#email").addClass('has-error');
                    if (control == "")
                        control = $("#email");
                }



                if ($("#manager").val() == "") {
                    errormsgsummary += "<li> Please Enter Manager Name </li>";
                    $("#manager").addClass('has-error');
                    if (control == "")
                        control = $("#manager");
                }

                if ($("#location").val() == "" && iscorporate == false) {
                    errormsgsummary += "<li> Please Enter Location </li>";
                    $("#location").addClass('has-error');
                    if (control == "")
                        control = $("#location");
                }

                // check either exempt or non exemppt checked

                if (!$("#exempt").is(":checked") && !$("#nonexempt").is(":checked"))
                {
                    errormsgsummary += "<li> Please Select Position Exempt or Non Exempt </li>";
                    $("#exempt").addClass('has-error');
                    if (control == "")
                        control = $("#exempt");
                }

                // check status choosen full time or part time


                if (!$("#fullstatus").is(":checked") && !$("#partstatus").is(":checked")) {
                    errormsgsummary += "<li> Please Select Status Option either Full Time or Part Time </li>";
                    $("#fullstatus").addClass('has-error');
                    if (control == "")
                        control = $("#fullstatus");
                }



                if ($("#salary").val() == "") {
                    errormsgsummary += "<li> Please Enter Salary/Wage  </li>";
                    $("#salary").addClass('has-error');
                    if (control == "")
                        control = $("#salary");
                }

                //if ($("#kitorderdate").val() == "") {
                //    errormsgsummary += "<li> Please Enter Kit Ordered Date  </li>";
                //    $("#kitorderdate").addClass('has-error');
                //    if (control == "")
                //        control = $("#kitorderdate");
                //}


                //if ($("#onboardcall").val() == "") {
                //    errormsgsummary += "<li> Please Enter OnBoard Call Date </li>";
                //    $("#onboardcall").addClass('has-error');
                //    if (control == "")
                //        control = $("#onboardcall");
                //}

                if ($("#la_Prop1per").val() == "" && $("#la_Prop2per").val() == "")
                {
                    errormsgsummary += "<li> Please Enter Salary/Wage  </li>";
                    $("#la_Prop1per").addClass('has-error');
                    if (control == "")
                        control = $("#la_Prop1per");
                }


                if ($("#la_Prop1per").val() == ""  &&  $("#la_Prop2per").val() == "") {
                    errormsgsummary += "<li> Please Enter Division Of Labout Percentage </li>";
                    $("#la_Prop1").addClass('has-error');
                    $("#la_Prop2").addClass('has-error');
                    if (control == "")
                        control = $("#la_Prop2");
                }
                else
                {
                    var total = parseFloat($("#la_Prop1per").val()) + parseFloat($("#la_Prop2per").val());
                    if (total < 100)
                        errormsgsummary += "<li> Division Of Labout Percentage should be 100% </li>";
                }

                if ((parseFloat($("#la_Prop1per").val()) + parseFloat($("#la_Prop2per").val()) == 100))
                {

                    if ($("#la_Prop1per").val() != "" && $("#la_Prop1").val() == "")
                    {

                        errormsgsummary += "<li> Please Enter Property Name for  Percentage1 </li>";
                        $("#la_Prop1").addClass('has-error');
                     
                        if (control == "")
                            control = $("#la_Prop1");
                    }


                    if ($("#la_Prop2per").val() != "" && $("#la_Prop2").val() == "") {

                        errormsgsummary += "<li> Please Enter Property Name for  Percentage2 </li>";
                        $("#la_Prop2").addClass('has-error');

                        if (control == "")
                            control = $("#la_Prop2");
                    }


                }

                if (errormsgsummary != "")
                {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {
                    $('#myModal').modal('hide');

                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);
                    $("input,select").prop('disabled', false);

                    var insertForm = new FormData();
                    insertForm.append('empname', $("#empname").val());
                    insertForm.append('startdate', $("#startdate").val());
                    insertForm.append('securitynumber', $("#securitynumber").val());
                    insertForm.append('email', $("#email").val());
                  
                    insertForm.append('iscorporate', iscorporate);
                    if (iscorporate == true) {
                        insertForm.append('location', 'Corporate');
                        insertForm.append('manager', $("#manager").val());
                    }
                    else
                    {
                        insertForm.append('location', $("#location option:selected").val());
                        insertForm.append('manager', manager);    
                    }
                  
                    insertForm.append('propertyid', $("#location").val());
                    if ($("#exempt").is(":checked"))
                    {
                        insertForm.append('exempt', '1');
                    }
                    else
                    {
                        insertForm.append('exempt', '0');
                    }

                    if ($("#nonexempt").is(":checked"))
                    {
                        insertForm.append('nonexempt', '1');
                    }
                    else {
                        insertForm.append('nonexempt', '0');
                    }

                    var status = "";

                    if ($("#fullstatus").is(":checked"))
                    {
                        status = "FULL TIME";
                    }
                    else if ($("#partstatus").is(":checked"))
                    {                             
                            status = "PART TIME";
                    }

                    var saltime = "";

                    if ($("#salhourly").is(":checked"))
                    {
                        saltime = "Hourly";
                    }
                    else if ($("#annualsalary").is(":checked"))
                    {
                        saltime = "Annually";
                    }
                   
                    insertForm.append('position', $("#position").val());
                    insertForm.append('status',status);
                    insertForm.append('salary', $("#salary").val());
                    insertForm.append('salarytime', saltime);
                    insertForm.append('prop1', $("#la_Prop1").val());
                    insertForm.append('prop1per', $("#la_Prop1per").val());
                    insertForm.append('prop2', $("#la_Prop2").val());
                    insertForm.append('prop2per', $("#la_Prop2per").val());

                    if ($("#kitorderdate").is(":checked"))
                    {
                        insertForm.append('kitordered', 'Yes');
                    }
                    else if ($("#kitorderdate1").is(":checked"))
                    {
                        insertForm.append('kitordered', 'No');
                    }

                    
                //    insertForm.append('callscheduled', $("#onboardcall").val());
                    insertForm.append('allocation', $("#allocation").val());
                    insertForm.append('esignature', $("#esignature").val());
                    insertForm.append('edate', $("#edate").val());
                    insertForm.append('mdate', $("#mdate").val());
                    insertForm.append('msignature', $("#msignature").val());
                    insertForm.append('rpmsignature', $("#rpmsignature").val());
                    insertForm.append('rpmdate', $("#rpmdate").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertEmployeeNewHireNotice",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];

                                $("#empname").val('');
                                $("#startdate").val('');
                                $("#securitynumber").val('');
                                $("#email").val('');
                                $("#manager").val('');
                                $("#location").val('');
                                $("#exempt").val('');
                                $("#nonexempt").val('');
                                $("#position").val('');
                                $("#status1").val('');
                                $("#salary").val('');
                                $("#kitorderdate").val('');
                                $("#onboardcall").val('');
                                $("#allocation").val('');
                                $("#status").html('');
                                document.getElementById("submitform").reset();

                                GetAllHRFORMs('New Hire Notice');
                                $(".alert").html('Record Successfully Updated !');
                                $('#toastnotification').modal('show');


                                setTimeout(function () {

                                    $("#print").attr('disabled', false);
                                    $("#pdf").attr('disabled', false);
                                    $("#Submit").attr('disabled', false);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.errorMessage);
                        }
                    });

                }


            });



      });

    </script>

}
