
@{
    ViewBag.Title = "Payroll Status Change Notice";
}

<input type="hidden" id="pageid" value="payroll" />
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li class="active">
                <strong> Payroll Status Change Notice </strong>
            </li>
        </ol>
    </div>
</div>

@{ Html.RenderPartial("HrFormLogActivity"); }



<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/hrbg-min.jpg');background-size: cover;padding: 200px 15px 7px;">

                <h1 style="color:black;text-transform:uppercase"> <b> Payroll Status Change  </b></h1>

                @if (@Model.RoleType.ToLower() == "administrator" || @Model.RoleType.ToLower() == "hr")
                {

                    <div class="ibox-tools" style="margin-top:-55px;">
                        @*<a disabled="disabled" class="btnEdit" href="#" onclick="ToggleEdit('PropertyCard');"><i class="fa fa-edit"></i> Edit</a>

                            <a disabled="disabled" class="btnDelete" href="#">
                                <i class="fa fa-trash"></i> Delete
                            </a>*@

                        <a style="color:white;font-size: 30px;font-weight:bold" href="#" onclick="LoadHrForm('PayRollChange'); LoadPayRoles(); LoadHrPositions();">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    </div>
                }
            </div>

            <div class="ibox-content" style="margin-left:0%; padding-top:0px;width:95%">
                <div id="status1"> </div>
                <div class="modal fade bs-example-modal-lg claimmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" style="width:70%" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                @*<h1 class="modal-title" style="font-weight:bold;text-align: center;
                                    color: black;" id="gridSystemModalLabel">
                                                                    Payroll Status Change
                                                                </h1>*@
                            </div>
                            <div class="modal-body">
                                <div class="row" style="padding: 20px;">
                                    <form id="submitform" onsubmit="return false;">
                                        <DIV id="page_1">
                                            <DIV class="dclr"></DIV>
                                            <img style="margin-left: 33%;
    MARGIN-TOP: 22PX;" src="/img/payroll.png" id="p1img1">
                                            <P class="p0 ft0" style="margin-top:0PX;">PAYROLL STATUS CHANGE NOTICE</P>
                                            <P class="p1 ft1">Employee Name: <input style=" display:inline; " type="text" id="empname" class="" />    Current Property : <select style=" display:inline; " id="location" class=""> </select></P>
                                            <P class="p1 ft1" style="margin-top:10px !important;">Employee Email: <input style=" display:inline; width:40%;" type="text" step="" id="empemail" class="" /> </P>
                                            <P class="p3 ft3"> <h4> Select Type Of Change  (check all that apply) : </h4></P>
                                            <P class="p6 ft1">  <input type="checkbox" class="showchange" data-div="divpropertychange" id="chkpropertychange" /> Property Change <input type="checkbox" class="showchange" data-div="divpaychange" id="chkpaychange" /> Pay / Position Change  <input type="checkbox" class="showchange" data-div="divlaborallocation" id="chklaborallocation" /> Labor Allocation  <input type="checkbox" class="showchange" data-div="divleaveabsence" id="chkleave" /> Leave Of Absence   </P>
                                            <P class="p6 ft1">  </P>

                                            <div class="" style="border: 2px solid black; width:100%">
                                                <div style="width:100%;display:none;" id="divpropertychange">
                                                    <P class="p4 ft5">Property Change</P>
                                                    <P class="p5 ft6"> Change Effective Date : <input type="date" id="effectivedate" /> </P>
                                                    <P class="p5 ft6"> Property Transfer:</P>
                                                    <P class="p6 ft1">From property # : <input style=" display:inline;width:10%; " type="text" id="frompropnum" class="" /> From Property Name: <input disabled style=" display:inline; " type="text" id="frompropname" class="" />From Manager:  <input disabled style=" display:inline; " type="text" id="frommanager" class="" /></P>
                                                    <P class="p6 ft1">To property # : <input style=" display:inline;width:10%;  " type="text" id="topropnum" class="" /> To Property Name: <input style=" display:inline; " disabled type="text" id="topropname" class="" />To Manager: <input style=" display:inline; " disabled type="text" id="tomanager" class="" /></P>
                                                    <hr style="border-top: 2px solid black;" />
                                                </div>
                                                <div style="width:102%;display:none;" id="divpaychange">
                                                    <TABLE cellpadding=0 cellspacing=0 class="t0">
                                                        <TR>
                                                            <TD class="tr0 td0"><P class="p7 ft7">Pay / Position Change</P></TD>
                                                            <TD class="tr0 td1"><P class="p8 ft8">&nbsp;</P></TD>
                                                            <TD class="tr0 td2"><P class="p8 ft8">&nbsp;</P></TD>
                                                            <TD class="tr0 td3"><P class="p8 ft8">&nbsp;</P></TD>
                                                        </TR>
                                                    </TABLE>
                                                    <div style="width:50%; padding:10px; padding-top:0px; border:1px solid black;display:inline-block;">
                                                        <h4 style="text-align: center;
    font-weight: bold;
    font-size: 15px;margin-top:-8px">
                                                            From
                                                        </h4>

                                                        <p class="c1">
                                                            <span class="c0">Title:  <select id="fromtitle"> </select> </span>
                                                        </p>

                                                        <p class="c1">
                                                            <span class="c0">Position: <input type="radio" style="margin-left:17%;" value="1" name="exempt" id="fromexempt" />  Exempt  <input type="radio" style="margin-left:6%;" name="exempt" id="fromnonexempt" value="1" />  Non-exempt </span>
                                                        </p>

                                                        <p class="c1">
                                                            <span class="c0">Status :  <input type="radio" style="margin-left:19%;" value="1" name="time" id="fromfullstatus" />  Full Time  <input type="radio" style="margin-left:4%;" name="time" id="frompartstatus" value="1" />  Part Time </span>
                                                        </p>

                                                        <p class="c1">
                                                            <span class="c0">Wage / Salary  <input type="radio" style="margin-left:9.5%;" name="wage" id="fromannualsalary" />  Annual <input type="radio" style="margin-left:7.5%;" name="wage" id="fromsalhourly" />  Hourly   </span>
                                                        </p>

                                                        <p class="c1">
                                                            <span class="c0">Rate  <input type="text" id="fromrate" style="width:30%;margin-left:26%;" />    </span>
                                                        </p>
                                                    </div>

                                                    <div style="width:49%; padding:10px; padding-top:0px; border:1px solid black;display:inline-block;   margin-left: -3px !important;">
                                                        <h4 style="text-align: center;
    font-weight: bold;
    font-size: 15px;margin-top:-8px; ">
                                                            To
                                                        </h4>
                                                        <p class="c1">
                                                            <span class="c0">Title:  <select id="totitle"> </select> </span>
                                                        </p>
                                                        <p class="c1">
                                                            <span class="c0">Position: <input type="radio" style="margin-left:17%;" value="1" name="texempt" id="toexempt" />  Exempt  <input type="radio" style="margin-left:6%;" name="texempt" id="tononexempt" value="1" />  Non-exempt </span>
                                                        </p>

                                                        <p class="c1">
                                                            <span class="c0">Status :  <input type="radio" style="margin-left:19%;" value="1" name="ttime" id="tofullstatus" />  Full Time  <input type="radio" style="margin-left:4%;" name="ttime" id="topartstatus" value="1" />  Part Time </span>
                                                        </p>

                                                        <p class="c1">
                                                            <span class="c0">Wage / Salary   <input type="radio" style="margin-left:9.5%;" name="twage" id="toannualsalary" value="1" />  Annual  <input type="radio" style="margin-left:7.5%;" value="1" name="twage" id="tosalhourly" />  Hourly    </span>
                                                        </p>
                                                        <p class="c1">
                                                            <span class="c0">Rate  <input type="text" id="torate" style="width:30%;margin-left:26%;" />    </span>
                                                        </p>
                                                    </div>

                                                    <TABLE cellpadding=0 cellspacing=0 class="t0">

                                                        <TR>
                                                            <TD colspan=3 class="tr3 td4"><P class="p13 ft12"><SPAN class="ft1">Beginning Pay Period Effective: <select id="beginpayperiod">  </select>  </SPAN> <br /> (pay and position changes can take place at the beginning of a pay period)</P></TD>
                                                            <TD class="tr3 td3"><P class="p8 ft8">&nbsp;</P></TD>
                                                        </TR>
                                                    </TABLE>

                                                    <hr style="border-top: 2px solid black;" />
                                                </div>
                                                <div style="width:100%;display:none" id="divlaborallocation">
                                                    <TABLE id="divlaborallocation" cellpadding=0 cellspacing=0 class="t0">
                                                        <TR>
                                                            <TD class="tr5 td0"><P class="p7 ft7"> Labor Allocation </P></TD>
                                                            <TD class="tr5 td1"><P class="p8 ft13">&nbsp;</P></TD>
                                                            <TD class="tr5 td2"><P class="p8 ft13">&nbsp;</P></TD>
                                                            <TD class="tr5 td3"><P class="p8 ft13">&nbsp;</P></TD>
                                                        </TR>
                                                        <TR>
                                                            <TD class="tr6 td0"><P class="p7 ft12">(Total MUST equal 100%)</P></TD>
                                                            <TD class="tr6 td1"><P class="p8 ft14">&nbsp;</P></TD>
                                                            <TD class="tr6 td2"><P class="p8 ft14">&nbsp;</P></TD>
                                                            <TD class="tr6 td3"><P class="p8 ft14">&nbsp;</P></TD>
                                                        </TR>

                                                        <TR>
                                                            <TD class="tr7 td0"><P class="p14 ft1">Property</P></TD>
                                                            <TD class="tr7 td1"><P class="p10 ft1">Percentage</P></TD>

                                                        </TR>
                                                        <TR>
                                                            <TD class="tr7 td0"><P class="p14 ft1"> <input type="text" style="display:inline; width:70%" id="prop1" /></P></TD>
                                                            <TD class="tr7 td1"><P class="p10 ft1"><input type="text" style="display:inline; width:60%" id="prop1per" /></P></TD>

                                                        </TR>
                                                        <TR>
                                                            <TD class="tr7 td0"><P class="p14 ft1"> <input type="text" style="display:inline; width:70%" id="prop2" /></P></TD>
                                                            <TD class="tr7 td1"><P class="p10 ft1"><input type="text" style="display:inline; width:60%" id="prop2per" /></P></TD>

                                                        </TR>

                                                        <TR>
                                                            <TD class="tr7 td0"><P class="p14 ft1"> <input type="text" style="display:inline; width:70%" id="prop3" /></P></TD>
                                                            <TD class="tr7 td1"><P class="p10 ft1"><input type="text" style="display:inline; width:60%" id="prop3per" /></P></TD>

                                                        </TR>
                                                    </TABLE>
                                                    <hr style="border-top: 2px solid black;" />
                                                </div>

                                                <div id="divallowance" style="width:100%;display:none;">
                                                    <P class="p15 ft5">Allowances</P>
                                                    <P class="p16 ft15">(Corporate Only)</P>
                                                    <TABLE cellpadding=0 cellspacing=0 class="t1">
                                                        <TR>
                                                            <TD class="tr7 td9"><P class="p9 ft6">Select Type:</P></TD>
                                                            <TD class="tr7 td10"><P class="p8 ft1"><SPAN class="ft9"><input type="checkbox" id="chkcaramount" />  </SPAN>Car Amount: $ <input type="text" style="width:30%" id="txtcaramount" value="0" /> / month</P></TD>
                                                            <TD class="tr7 td11"><P class="p17 ft1"><SPAN class="ft9"><input type="checkbox" id="chkphoneamount" />  </SPAN>Phone Amount: $ <input type="text" style="width:30%" id="txtphoneamount" value="0" /> / month</P></TD>
                                                        </TR>
                                                    </TABLE>
                                                    <hr style="border-top: 2px solid black;" />
                                                </div>

                                                <div style="width:100%;display:none" id="divleaveabsence">
                                                    <TABLE cellpadding=0 cellspacing=0 class="t1">
                                                        <TR>
                                                            <TD class="tr5 td9"><P class="p8 ft13">&nbsp;</P></TD>
                                                            <TD colspan=2 class="tr5 td14"><P class="p18 ft16">Leave of Absence</P></TD>
                                                        </TR>
                                                        <TR>
                                                            <TD class="tr1 td9"><P class="p8 ft8">&nbsp;</P></TD>
                                                            <TD class="tr1 td10"><P class="p19 ft6">FMLA Eligible? <SPAN class="ft9"><input type="checkbox" id="chkfmlayes" />  </SPAN><SPAN class="ft1">Yes </SPAN><SPAN class="ft9"><input type="checkbox" id="chkfmlano" />  </SPAN><SPAN class="ft1">No</SPAN></P></TD>
                                                            <TD class="tr1 td11"><P class="p8 ft6">Enrolled in Benefits? <SPAN class="ft9"><input type="checkbox" id="chkbenefityes" /> </SPAN><SPAN class="ft1">Yes </SPAN><SPAN class="ft9"><input type="checkbox" id="chkbenefitno" />  </SPAN><SPAN class="ft1">No</SPAN></P></TD>
                                                        </TR>
                                                    </TABLE>
                                                    <P class="p20 ft1">
                                                        Purpose: <select style="width:32%; margin-right:30px;" id="purpose">
                                                            <option value="FMLA – Birth of a Child">
                                                                FMLA – Birth of a Child
                                                            </option>
                                                            <option value="FMLA – Personal Medical">
                                                                FMLA – Personal Medical
                                                            </option>
                                                            <option value="FMLA – Family Medical">
                                                                FMLA – Family Medical
                                                            </option>
                                                            <option value="Personal Leave – Birth of a Child">
                                                                Personal Leave – Birth of a Child
                                                            </option>
                                                            <option value="Personal Leave – Personal Medical">
                                                                Personal Leave – Personal Medical
                                                            </option>
                                                            <option value="Personal Leave – Family Medical">
                                                                Personal Leave – Family Medical
                                                            </option>
                                                            <option value="Military Leave">
                                                                Military Leave
                                                            </option>
                                                            <option value="Other">
                                                                Other
                                                            </option>
                                                        </select>   Other Reason:  <input type="text" id="purposeother" style="display:none; margin-left:15px; width:35%;" />
                                                    </P>
                                                    <P class="p20 ft1">  Begin: <input type="date" style="width:20%;" id="leavebegin" /> Expected End:<input type="date" id="leaveend" style="width:20%;" /> PTO balance:<input type="text" style="width:25%" id="ptobalance" /> </P>

                                                    <hr style="border-top: 2px solid black;" />
                                                </div>

                                                <div id="divnotes" style="width:100%;">
                                                    <P class="p21 ft5">Notes:</P>
                                                    <P class="p6 ft1"> <textarea type="text" style="width:95%" id="notes1"> </textarea></P>
                                                    <P class="p6 ft1">  </P>
                                                </div>
                                                <P class="p6 ft1">Employee Signature: <input type="text" disabled id="esignature" />  Date: <input type="date" disabled id="edate" /> </P>
                                                <P class="p6 ft1">Manager Signature: <input type="text" id="msignature" /> Date: <input disabled type="date" id="mdate" /></P>
                                            </div>
                                        </DIV>
                                        <div id="status"> </div>
                                        <div class="col-md-12" style="text-align:center;margin-bottom:20px;">
                                            <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <table class="table  dtprops" width="100%"></table>




            </div>
        </div>
    </div>

</div>




@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}
@section Styles {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .showchange {
            margin-left: 20px !important;
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: inherit;
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 9pt;
            font-family: inherit;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: inherit;
            font-style: italic
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c7 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c6 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c2 {
            font-size: 14pt;
            font-family: inherit;
            font-weight: 700
        }

        .c8 {
            font-weight: 700;
            font-size: 11pt;
            font-family: inherit;
        }

        .c5 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }



        #page_1 {
            position: relative;
            overflow: hidden;
            margin: -62px 0px 9px 70px;
            padding: 0px;
            border: none;
            width: 768px;
        }

            #page_1 #p1dimg1 {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
                width: 720px;
                height: 872px;
            }

                #page_1 #p1dimg1 #p1img1 {
                    width: 720px;
                    height: 872px;
                }




        .dclr {
            clear: both;
            float: none;
            height: 1px;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }

        .ft0 {
            font: bold 19px 'Calibri';
            line-height: 23px;
        }

        .ft1 {
            font: 15px 'Calibri';
            line-height: 18px;
        }

        .ft2 {
            font: italic 13px 'Calibri';
            text-decoration: underline;
            line-height: 15px;
        }

        .ft3 {
            font: italic 13px 'Calibri';
            line-height: 15px;
        }

        .ft4 {
            font: italic 13px 'Calibri';
            text-decoration: underline;
            color: #0563c1;
            line-height: 15px;
        }

        .ft5 {
            font: bold 15px 'Calibri';
            text-decoration: underline;
            line-height: 18px;
        }

        .ft6 {
            font: italic 15px 'Calibri';
            line-height: 18px;
        }

        .ft7 {
            font: bold 14px 'Calibri';
            text-decoration: underline;
            line-height: 17px;
        }

        .ft8 {
            font: 1px 'Calibri';
            line-height: 1px;
        }

        .ft9 {
            font: 19px 'Times New Roman';
            line-height: 21px;
        }

        .ft10 {
            font: 16px 'Calibri';
            line-height: 19px;
        }

        .ft11 {
            font: 15px 'Calibri';
            color: #ffffff;
            line-height: 18px;
        }

        .ft12 {
            font: italic bold 13px 'Calibri';
            line-height: 15px;
        }

        .ft13 {
            font: 1px 'Calibri';
            line-height: 17px;
        }

        .ft14 {
            font: 1px 'Calibri';
            line-height: 16px;
        }

        .ft15 {
            font: italic bold 13px 'Calibri';
            line-height: 14px;
        }

        .ft16 {
            font: bold 15px 'Calibri';
            text-decoration: underline;
            line-height: 17px;
        }

        .p0 {
            text-align: left;
            padding-left: 227px;
            margin-top: 62px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            padding-left: 22px;
            margin-top: 31px;
            margin-bottom: 0px;
        }

        .p2 {
            text-align: left;
            padding-left: 94px;
            margin-top: 11px;
            margin-bottom: 0px;
        }

        .p3 {
            text-align: left;
            padding-left: 104px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p4 {
            text-align: left;
            padding-left: 309px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p5 {
            text-align: left;
            padding-left: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p6 {
            text-align: left;
            padding-left: 8px;
            margin-top: 18px;
            margin-bottom: 10px;
        }

        .p7 {
            text-align: center;
            padding-left: 246px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p8 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: left;
            padding-left: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: left;
            padding-left: 1px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p11 {
            text-align: left;
            padding-left: 44px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p12 {
            text-align: right;
            padding-right: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p13 {
            text-align: center;
            padding-left: 16px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p14 {
            text-align: left;
            padding-left: 144px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p15 {
            text-align: left;
            padding-left: 325px;
            margin-top: 65px;
            margin-bottom: 0px;
        }

        .p16 {
            text-align: left;
            padding-left: 314px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p17 {
            text-align: left;
            padding-left: 39px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p18 {
            text-align: left;
            padding-left: 179px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p19 {
            text-align: left;
            padding-left: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p20 {
            text-align: left;
            padding-left: 8px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p21 {
            text-align: left;
            padding-left: 8px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .p22 {
            text-align: left;
            margin-top: 110px;
            margin-bottom: 0px;
        }

        .p23 {
            text-align: left;
            margin-top: 12px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 474px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 147px;
            vertical-align: bottom;
        }

        .td2 {
            padding: 0px;
            margin: 0px;
            width: 83px;
            vertical-align: bottom;
        }

        .td3 {
            padding: 0px;
            margin: 0px;
            width: 16px;
            vertical-align: bottom;
        }

        .td4 {
            padding: 0px;
            margin: 0px;
            width: 704px;
            vertical-align: bottom;
        }

        .td5 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 474px;
            vertical-align: bottom;
        }

        .td6 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 147px;
            vertical-align: bottom;
        }

        .td7 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 83px;
            vertical-align: bottom;
        }

        .td8 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 16px;
            vertical-align: bottom;
        }

        .td9 {
            padding: 0px;
            margin: 0px;
            width: 125px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 241px;
            vertical-align: bottom;
        }

        .td11 {
            padding: 0px;
            margin: 0px;
            width: 354px;
            vertical-align: bottom;
        }

        .td12 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 125px;
            vertical-align: bottom;
        }

        .td13 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 595px;
            vertical-align: bottom;
        }

        .td14 {
            padding: 0px;
            margin: 0px;
            width: 595px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 19px;
        }

        .tr1 {
            height: 41px;
        }

        .tr2 {
            height: 23px;
        }

        .tr3 {
            height: 36px;
        }

        .tr4 {
            height: 18px;
        }

        .tr5 {
            height: 17px;
        }

        .tr6 {
            height: 16px;
        }

        .tr7 {
            height: 22px;
        }

        .t0 {
            width: 720px;
            margin-top: 6px;
            font: italic 15px 'Calibri';
        }

        .t1 {
            width: 720px;
            font: italic 15px 'Calibri';
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")

    <script>

        $(document).ready(function () {
            var leaseid = "";

            GetAllHRFORMs('PayRollChange');

            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });

            document.getElementById("mdate").valueAsDate = new Date();


            $(".showchange").change(function (e) {

                if ($(this).is(':checked')) {

                    $("#" + $(this).attr('data-div')).show();
                }
                else {
                    $("#" + $(this).attr('data-div')).hide();
                }

            });




            $(document).on('click', ".resendrpmmail,.resendempmail", function () {

                var action = $(this).attr('data-action');
                var refid = $(this).attr('data-ref');

                var insertForm = new FormData();
                insertForm.append('form', "PayRoll");
                insertForm.append('action', action);
                insertForm.append('refid', refid);
                insertForm.append('CreatedBy', $("#CreatedBy").val());
                insertForm.append('CreatedByName', $("#CreatedByName").val());
                if ($("#divprocessingbtn").length > 0) {
                    $("#divprocessingbtn").show();
                }


                $.ajax({
                    url: $BaseApiUrl + "api/data/ResentHrWorkflow",
                    type: 'POST',
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    data: insertForm,
                    success: function (data) {
                        // To-do code if ajax request is successful

                        if (data == true) {
                            GetAllHRFORMs('PayRollChange');
                            $(".alert").html('Email Resent Success');
                            if ($("#divprocessingbtn").length > 0) {
                                $("#divprocessingbtn").hide();
                            }
                            $('#toastnotification').modal('show');

                            setTimeout(function () {

                                $('#toastnotification').modal('hide');
                            }, 3000);
                        }
                        else {
                            $("#status").html(data);
                        }


                    },
                    error: function (ts) {
                        alert('error' + ts.exceptionMessage);
                    }
                });
            });


            $("#purpose").change(function () {

                if ($("#purpose").val() == "Other") {
                    $("#purposeother").show();
                }
                else {
                    $("#purposeother").hide();
                }
            });

            $("#fromexempt").change(function () {

                if ($("#fromexempt").is(":checked")) {
                    $("#fromannualsalary").prop("checked", true);
                    $("#fromsalhourly").prop("checked", false);
                }
            });

            $("#fromnonexempt").change(function () {

                if ($("#fromnonexempt").is(":checked")) {
                    $("#fromannualsalary").prop("checked", false);
                    $("#fromsalhourly").prop("checked", true);
                }
            });
            $("#toexempt").change(function () {
                if ($("#toexempt").is(":checked")) {
                    $("#toannualsalary").prop("checked", true);
                    $("#tosalhourly").prop("checked", false);
                }

            });

            $("#tononexempt").change(function () {
                if ($("#tononexempt").is(":checked")) {
                    $("#toannualsalary").prop("checked", false);
                    $("#tosalhourly").prop("checked", true);
                }

            });
            $("#location").focusout(function () {

                if ($("#location").val() == "") {

                    alert("Please Select Property");

                }
                else {

                    $.get($BaseApiUrl + "api/Data/GetPropertyNumberNameMananger?PropertyNumber=" + $("#location").val(), function (data) {
                        if (data == "") {

                            alert("Invalid Property Code");
                            $("#frompropname ").val('');
                            $("#frommanager").val('');
                        }
                        else {
                            var values = data.split(",");
                            $("#frompropname ").val(values[0]);
                            $("#frommanager").val(values[1]);
                            $("#frompropnum").val(values[2]);
                        }
                    });
                }

            });


            $("#topropnum").focusout(function () {

                if ($("#topropnum").val() == "") {

                    alert("Please Enter To Property Number");

                }
                else {

                    $.get($BaseApiUrl + "api/Data/GetPropertyNameMananger?PropertyNumber=" + $("#topropnum").val(), function (data) {
                        if (data == "") {
                            alert("Invalid Property Code");
                            $("#topropname ").val('');
                            $("#tomanager,  ").val('');
                        }
                        else {
                            var values = data.split(",");
                            $("#topropname").val(values[0]);
                            $("#tomanager").val(values[1]);
                        }
                    });
                }

            });

            $("#Submit").click(function (e) {

                e.preventDefault();

                var errormsgsummary = "";
                var control = "";

                $("#status").html('');

                //if ($("#empname").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Employee Name </li>";
                //    $("#empname").addClass('has-error');
                //    if (control == "")
                //        control = $("#empname");
                //}

                //if ($("#effectivedate").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Effective Date </li>";
                //    $("#effectivedate").addClass('has-error');
                //    if (control == "")
                //        control = $("#effectivedate");
                //}

                //if ($("#manager").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Manager </li>";
                //    $("#manager").addClass('has-error');
                //    if (control == "")
                //        control = $("#manager");
                //}

                //if ($("#todaydate").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Today's Date </li>";
                //    $("#todaydate").addClass('has-error');
                //    if (control == "")
                //        control = $("#todaydate");
                //}

                //if ($("#location").val() == "") {
                //    errormsgsummary += "<li> Please Enter Location </li>";
                //    $("#location").addClass('has-error');
                //    if (control == "")
                //        control = $("#location");
                //}


                //if ($("#position").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Position Of Employee </li>";
                //    $("#position").addClass('has-error');
                //    if (control == "")
                //        control = $("#position");
                //}

                //if ($("#dob").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Date Of Birth </li>";
                //    $("#dob").addClass('has-error');
                //    if (control == "")
                //        control = $("#dob");
                //}


                //if ($("#status1").val() == "")
                //{
                //    errormsgsummary += "<li> Please Choose Status  </li>";
                //    $("#status1").addClass('has-error');
                //    if (control == "")
                //        control = $("#status1");
                //}


                //if ($("#salary").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Salary/Wage  </li>";
                //    $("#salary").addClass('has-error');
                //    if (control == "")
                //        control = $("#salary");
                //}

                //if ($("#allocation").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Allocation  </li>";
                //    $("#allocation").addClass('has-error');
                //    if (control == "")
                //        control = $("#allocation");
                //}


                //if ($("#streetaddress").val() == "")
                //{
                //    errormsgsummary += "<li> Please Enter Street Address  </li>";
                //    $("#streetaddress").addClass('has-error');
                //    if (control == "")
                //        control = $("#streetaddress");
                //}


                //if ($("#city_state_zip").val() == "") {
                //    errormsgsummary += "<li> Please Enter City/State/Zip  </li>";
                //    $("#city_state_zip").addClass('has-error');
                //    if (control == "")
                //        control = $("#city_state_zip");
                //}


                //if ($("#prop1per").val() == "" || $("#prop2per").val() == "") {
                //    errormsgsummary += "<li> Please Enter Division Of Labour Percentage </li>";
                //    $("#prop1per").addClass('has-error');
                //    $("#prop2per").addClass('has-error');
                //    if (control == "")
                //        control = $("#prop2per");
                //}
                //else {
                //    var total = parseFloat($("#prop1per").val()) + parseFloat($("#prop2per").val());
                //    if (total < 100)
                //        errormsgsummary += "<li> Division Of Labour Percentage should be 100% </li>";
                //}

                if ($("#msignature").val() == "") {
                    errormsgsummary += "<li> Please Enter Manager's Signature  </li>";
                    $("#msignature").addClass('has-error');
                    if (control == "")
                        control = $("#msignature");
                }


                if ($("#la_Prop1per").val() == "" /*&& $("#la_Prop2per").val() == ""*/) {
                    errormsgsummary += "<li> Please Enter Division Of Labour Percentage  </li>";
                    $("#la_Prop1per").addClass('has-error');
                    if (control == "")
                        control = $("#la_Prop1per");
                }

                if ($("#la_Prop1per").val() != "" && parseFloat($("#la_Prop1per").val()) < 100) {

                    if ($("#la_Prop2per").val() == "" && $("#la_Prop3per").val() == "") {
                        errormsgsummary += "<li> Please Enter Division Of Labour Percentage </li>";
                        $("#la_Prop1").addClass('has-error');
                        $("#la_Prop2").addClass('has-error');
                        $("#la_Prop3").addClass('has-error');
                        if (control == "")
                            control = $("#la_Prop2");
                    }
                    else {
                        var total = parseFloat($("#la_Prop1per").val()) + parseFloat($("#la_Prop2per").val()) + parseFloat($("#la_Prop3per").val());
                        if (total < 100)
                            errormsgsummary += "<li> Division Of Labout Percentage should be 100% </li>";
                    }

                }

                if ((parseFloat($("#la_Prop1per").val()) + parseFloat($("#la_Prop2per").val()) + parseFloat($("#la_Prop3per").val()) == 100)) {

                    if ($("#la_Prop1per").val() != "" && $("#la_Prop1").val() == "") {

                        errormsgsummary += "<li> Please Enter Property Name for  Percentage1 </li>";
                        $("#la_Prop1").addClass('has-error');

                        if (control == "")
                            control = $("#la_Prop1");
                    }


                    if ($("#la_Prop2per").val() != "" && $("#la_Prop2").val() == "") {

                        errormsgsummary += "<li> Please Enter Property Name for  Percentage2 </li>";
                        $("#la_Prop2").addClass('has-error');

                        if (control == "")
                            control = $("#la_Prop2");
                    }


                    if ($("#la_Prop3per").val() != "" && $("#la_Prop3").val() == "") {

                        errormsgsummary += "<li> Please Enter Property Name for  Percentage3 </li>";
                        $("#la_Prop3").addClass('has-error');

                        if (control == "")
                            control = $("#la_Prop3");
                    }
                }

                if ($("#purpose").val() == "Other" && $("#purposeother").val() == "") {
                    errormsgsummary += "<li> Please Enter Other Purpose  </li>";
                    $("#purposeother").addClass('has-error');
                    if (control == "")
                        control = $("#purposeother");
                }

                if (errormsgsummary != "") {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else {

                    var insertForm = new FormData();
                    insertForm.append('empname', $("#empname").val());
                    insertForm.append('property', $("#location").val());
                    insertForm.append('empemail', $("#empemail").val());
                    insertForm.append('effectivedate', $("#effectivedate").val());
                    //   insertForm.append('typeofchange', $("#typeofchange").val());


                    if ($("#chkpropertychange").is(":checked")) {
                        insertForm.append('showproperty', 'true');
                    }
                    else {
                        insertForm.append('showproperty', 'false');
                    }

                    if ($("#chkpaychange").is(":checked")) {
                        insertForm.append('showpay', 'true');
                    }
                    else {
                        insertForm.append('showpay', 'false');
                    }



                    if ($("#chklaborallocation").is(":checked")) {
                        insertForm.append('showlab', 'true');
                    }
                    else {
                        insertForm.append('showlab', 'false');
                    }

                    if ($("#chkAllowances").is(":checked")) {
                        insertForm.append('showall', 'true');
                    }
                    else {
                        insertForm.append('showall', 'false');
                    }

                    if ($("#chkleave").is(":checked")) {
                        insertForm.append('showleave', 'true');
                    }
                    else {
                        insertForm.append('showleave', 'false');
                    }

                    insertForm.append('frompropnum', $("#frompropnum").val());

                    insertForm.append('frompropname', $("#frompropname").val());
                    insertForm.append('frommanager', $("#frommanager").val());
                    insertForm.append('topropnum', $("#topropnum").val());
                    insertForm.append('topropname', $("#topropname").val());
                    insertForm.append('tomanager', $("#tomanager").val());
                    insertForm.append('paychangeto', $("#paychangeto").val());
                    insertForm.append('paychangefrom', $("#paychangefrom").val());
                    insertForm.append('fromtitle', $("#fromtitle").val());
                    insertForm.append('totitle', $("#totitle").val());
                    if ($("#fromexempt").is(":checked")) {
                        insertForm.append('fromposition', 'Exempt');
                    }
                    else if ($("#fromnonexempt").is(":checked")) {
                        insertForm.append('fromposition', 'NonExempt');
                    }

                    if ($("#fromfullstatus").is(":checked")) {
                        insertForm.append('fromstatus', 'FULL');
                    }
                    else if ($("#frompartstatus").is(":checked")) {
                        insertForm.append('fromstatus', 'PART');
                    }



                    if ($("#fromannualsalary").is(":checked")) {
                        insertForm.append('fromwage', 'Annual');
                    }
                    else if ($("#fromsalhourly").is(":checked")) {
                        insertForm.append('fromwage', 'Hourly');
                    }
                    insertForm.append('fromrate', $("#fromrate").val());

                    if ($("#toexempt").is(":checked")) {
                        insertForm.append('toposition', 'Exempt');
                    }
                    else if ($("#tononexempt").is(":checked")) {
                        insertForm.append('toposition', 'NonExempt');
                    }

                    if ($("#tofullstatus").is(":checked")) {
                        insertForm.append('tostatus', 'FULL');
                    }
                    else if ($("#topartstatus").is(":checked")) {
                        insertForm.append('tostatus', 'PART');
                    }



                    if ($("#toannualsalary").is(":checked")) {
                        insertForm.append('towage', 'Annual');
                    }
                    else if ($("#tosalhourly").is(":checked")) {
                        insertForm.append('towage', 'Hourly');
                    }
                    insertForm.append('torate', $("#torate").val());



                    insertForm.append('beginpayperiod', $("#beginpayperiod").val());
                    insertForm.append('prop1', $("#prop1").val());
                    insertForm.append('prop2', $("#prop2").val());
                    insertForm.append('prop3', $("#prop3").val());
                    insertForm.append('prop1per', $("#prop1per").val());
                    insertForm.append('prop2per', $("#prop2per").val());
                    insertForm.append('prop3per', $("#prop3per").val());
                    insertForm.append('chkcaramount', $("#chkcaramount").is(":checked"));
                    insertForm.append('chkphoneamount', $("#chkphoneamount").is(":checked"));

                    if ($("#txtcaramount").val() != "")
                        insertForm.append('txtcaramount', $("#txtcaramount").val());
                    else
                        insertForm.append('txtcaramount', '0');

                    if ($("#txtphoneamount").val() != "")
                        insertForm.append('txtphoneamount', $("#txtphoneamount").val());
                    else
                        insertForm.append('txtphoneamount', '0');

                    insertForm.append('chkfmlayes', $("#chkfmlayes").is(":checked"));
                    insertForm.append('chkfmlano', $("#chkfmlano").is(":checked"));
                    insertForm.append('chkbenefityes', $("#chkbenefityes").is(":checked"));
                    insertForm.append('chkbenefitno', $("#chkbenefitno").is(":checked"));

                    insertForm.append('purpose', $("#purpose").val());
                    insertForm.append('purposeother', $("#purposeother").val());
                    insertForm.append('leavebegin', $("#leavebegin").val());
                    insertForm.append('leaveend', $("#leaveend").val());
                    insertForm.append('ptobalance', $("#ptobalance").val());
                    insertForm.append('notes1', $("#notes1").val());

                    insertForm.append('esignature', $("#esignature").val());
                    insertForm.append('edate', $("#edate").val());
                    insertForm.append('mdate', $("#mdate").val());
                    insertForm.append('msignature', $("#msignature").val());

                    insertForm.append('CreatedBy', $("#CreatedBy").val());
                    insertForm.append('CreatedByName', $("#CreatedByName").val());

                    $('#myModal').modal('hide');
                    $(".alert").html('Processing');
                    $('#toastnotification').modal('show');
                    $("#Submit").prop('disabled', false);
                    $.ajax({
                        url: $BaseApiUrl + "api/data/InsertPayRollStatusChangeNotice",
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data) {
                            // To-do code if ajax request is successful

                            if (data['error'] == false) {
                                leaseid = data['insertedId'];
                                GetAllHRFORMs('PayRollChange');

                                $("#status").html('');
                                document.getElementById("submitform").reset();

                                ShowToastNotification('Record Successfully Updated', 3);

                                setTimeout(function () {

                                    $("#print").attr('disabled', false);
                                    $("#pdf").attr('disabled', false);
                                    $("#Submit").attr('disabled', true);
                                    $('#toastnotification').modal('hide');
                                }, 3000);
                            }
                            else {
                                $("#status").html(data['errorMsg']);

                            }


                        },
                        error: function (ts) {
                            alert('error' + ts.exceptionMessage);
                        }
                    });

                }


            });



        });

    </script>

}
