@model Carroll.Portals.Models.PrintEmployeeNewHireNotice

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print Employee New Hire Notice  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
                      font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #666666;
            padding: 5px;
        }

    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page" style="padding-left:10%;">

        <form id="submitform" onsubmit="return false;">
            <p class="c1 c8" style="margin-left:125px;">
                <span class="c7">
                    <img src="~/img/newhirenotice.png">
                </span>
            </p>
            <p class="c1 c8" style="margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;">
                <span class="c7"> NEW HIRE NOTICE </span>
            </p>
            <p class="c1">
                <span class="c0"> Employee Name:    <input type="text" style="width:40%" value="@Model.EmployeeName" id="empname" />        Start Date:<input value="@Model.StartDate.Value.ToShortDateString()" data-date-format="MM-DD-YYYY" type="text" id="startdate" />  </span>
            </p>

            <p class="c1">
                <span class="c0">Personal Email Address: <input type="email" id="email" value="@Model.EmailAddress" style="width:60%;" /> (do not leave blank) </span>
            </p>

            <p class="c1">
                <span class="c0">Manager:<input type="text" id="manager" style="width:83%;" value="@Model.Manager" /> </span>
            </p>
            <p class="c1">
                <span class="c0">Location:<input type="text" id="location" style="width:83%;" value="@Model.Location" /> </span>
            </p>
            <p class="c1">
                <span class="c0">
                    Position: @{ if (Model.Position_Exempt == "1")
                        {
                            <input type="radio" checked value="1" name="exempt" id="exempt" />
                        }
                        else
                        {
                            <input type="radio" value="1" name="exempt" id="exempt" />
                        }




                    }   Exempt @{ if (Model.Position_NonExempt == "")
                        { <input type="radio" checked value="1" name="exempt" id="exempt" /> }
                        else
                        {
                            <input type="radio" value="1" name="exempt" id="exempt" />
                        }
                    }
                </span>
            </p>
            <p class="c1">
                <span class="c0">Position <input type="text" id="position" style="width:83%;" value="@Model.Position" /> </span>
            </p>
            <p class="c1">
                <span class="c4">(please make sure it is an approved Carroll Management Group title)</span>
            </p>
            <p class="c1">
                <span class="c0">
                    Status (full-time / part-time) :  <select id="status1">
                        @{ if (Model.Status.ToString() == "Full Time ")
                            {
                                <option selected value="Full Time"> Full Time </option>
                                <option value="Part Time"> Part Time </option>
                            }
                            else
                            {
                                <option value="Full Time"> Full Time </option>
                                <option selected value="Part Time"> Part Time </option>

                            }
                        }
                    </select>
                </span>
            </p>
            <p class="c1">
                <span class="c0">Wage/Salary <input type="text" id="salary" value="@Model.Wage_Salary" style="width:30%;" /> </span>
            </p>
            <p class="c1">
                <span class="c0">Allocation <input type="text" id="allocation" value="@Model.Allocation" style="width:31.5%;" /> </span>
            </p>

            <p class="c1">
                <span class="c0">
                    New Hire Kit Ordered : <input type="text" value="@Model.kitordered" id="kitorderdate" style="width:63%;" />
                </span>
            </p>


            <p class="c1">
                <span class="c0">Employee Signature <input type="text" id="esignature" value="@Model.esignature" style="width:42%;" />    Date <input type="text" name="name" id="edate" value="@Model.edate.Value.ToShortDateString()" /></span>
            </p>
            <p class="c1">
                <span class="c0">Manager&rsquo;s Authorizing Signature <input type="text" id="msignature" value="@Model.msignature" style="width:30%;" /> Date <input type="text" style="width:24%;" name="name" id="mdate" value="@Model.mdate.Value.ToShortDateString()" /> </span>
            </p>
            <p class="c1">
                <span class="c0">RPM Signature<input type="text" id="rpmsignature" style="width:48%;" value="@Model.rpmsignature" />Date <input type="text" name="name" id="rpmdate" value="@Model.rpmdate.Value.ToShortDateString()" /></span>
            </p>
            <p class="c1" style="width:75%;">
                <span class="c6">
                    Manager Responsibilities: Please return the signed form to Human Resources via email at HRNotifications@carrollmg.com with the I9 and appropriate documents.

                </span>
            </p>

            <br /> <br />
            <p>Rev. June 2018</p>

        </form>



    </div>

    <div class="page">

        <div id="page_1">
            <DIV id="p1dimg 1" style="text-align:center;margin-left:-10%;">
                <img src="/img/requistionrequestheader.jpg" />
                <h1 style="font-weight:bold">  Activity - @Model.SequenceNumber </h1>
            </DIV>


            <table id="viewlog" class="table table-striped col-md-6">
                <thead>
                    <tr>
                        <th style="width:40%">Description</th>
                        <th style="width:30%;">Date</th>
                        <th style="width:20%"> Created By </th>
                    </tr>
                </thead>
                <tbody id="hractivitybody">

                    @foreach (var item in Model.printActivity.log)
                    {
                        <tr> <td> @item.ActivitySubject </td> <td> @item.ActivityDate.ToString().Substring(0, 19) </td> <td> @item.ActivityByName </td> </tr>

                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="text-align:center">
            <h2> Signature Meta Data </h2>
            <br />
            <table id="signaturelog" class="table table-striped col-md-6">
                <thead>
                    <tr>
                        <th style="width:15%"> Type </th>
                        <th style="width:10%">Ip Address</th>
                        <th style="width:50%;text-align:center">Browser </th>
                        <th style="width:25%;text-align:center"> Date Time </th>
                    </tr>
                </thead>
                <tbody id="hrsignmetadata">
                <tbody id="hractivitybody">

                    @foreach (var item in Model.printActivity.metadata)
                    {
                        <tr> <td> @item.Action.Replace("Email", "Signature") </td> <td> @item.ip </td> <td> @item.browserinfo </td> <td> @item.datetime.ToString().Substring(0, 19)</td> </tr>

                    }


                </tbody>
            </table>
        </div>


        @if (Model.printActivity.rejection != null && Model.printActivity.rejection.Count > 0)
        {

            <div class="col-md-12 rejectionblock" style="text-align:center;">
                <h2> Rejection  </h2>
                <br />
                <table id="rejectionlog" class="table table-striped col-md-6">
                    <thead>
                        <tr>
                            <th style="width:15%"> Rejected By </th>
                            <th style="width:60%;text-align:center">Reason </th>
                            <th style="width:25%;text-align:center"> Date Time </th>
                        </tr>
                    </thead>
                    <tbody id="rjmetadata">

                        @foreach (var item in Model.printActivity.rejection)
                        {
                            <tr> <td> @item.FirstName &nbsp;&nbsp;  @item.LastName </td> <td>  @item.RejectedReason </td>  <td> @item.RejectedDateTime.ToString().Substring(0, 19) </td>  </tr>
                        }


                    </tbody>
                </table>
            </div>

        }

    </div>
</body>
</html>


