@model Carroll.Portals.Models.PrintEmployeeNewHireNotice

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print Employee New Hire Notice  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet">
    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

         .italic {
            font-family: 'Herr Von Muellerhoff', cursive;
            font-weight: bold;
            font-size:22px;
        }

        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #666666;
            padding: 5px;
        }

        .sign {
            font-family: 'Herr Von Muellerhoff', cursive;
        }

     
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page" style="padding-left:5%;">

        @if (Model.IsRejected == true)
        {

            <p style="
    color: #ff0000;
    font-size: 135pt;
      position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    left: 0%;
    opacity: 0.4 !important;
    top: 0%;
    display: block;
    text-transform: uppercase;     
    -webkit-transform: rotateZ(-50deg);
     -moz-transform: rotateZ(-50deg);
     -webkit-transform-style:preserve-3d;
     
    transform: rotateZ(-50deg);
">Rejected</p>
        
        
        
        @*<p style="
    color: #ff0000;
    font-size: 135pt;
    opacity: 2 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    left: 0px;
    opacity: 0.4 !important;
    top: 70%;
    text-transform: uppercase;
">Rejected</p>

            <p style="
    color: #ff0000;
    font-size: 135pt;
    opacity: 2 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    left: 0px;
    opacity: 0.4 !important;
    bottom: -34%;
    display: block;
    text-transform: uppercase;
">Rejected</p>*@

          
        }


            <form id="submitform" onsubmit="return false;">
                <p class="c1 c8" style="margin-left:25%;">
                    <span class="c7">
                        <img src="~/img/newhirenotice.png" style="margin-bottom:0px;">
                    </span>
                </p>
                <p class="c1 c8" style="margin-left: 30%;
    margin-top: 0px;
    margin-bottom: 0px;">
                    <span class="c7"> NEW HIRE NOTICE </span>
                </p>
                <p class="c1">
                    <span class="c0"> Employee Name:    <input type="text" style="width:50%" value="@Model.EmployeeName" id="empname" />        Start Date:<input value="@Model.StartDate.Value.ToString("MM/dd/yyyy")" style="width:20%;" data-date-format="MM-DD-YYYY" type="text" id="startdate" />  </span>
                </p>

                <p class="c1">
                    <span class="c0">Personal Email Address: <input type="email" id="email" value="@Model.EmailAddress" style="width:60%;" /> (do not leave blank) </span>
                </p>

                <p class="c1">


                    Location: @if (Model.iscorporate.ToString().ToLower() == "true")
                    {
                        <span class="c0">
                            <input type="radio" id="chkcorporate" checked name="loc" /> Corporate &nbsp; &nbsp;&nbsp; &nbsp;

                            <input style="margin-left:12px" type="radio" id="chkproperty" name="loc" /> Property
                        </span>

                    }
                    else
                    {
                        <span class="c0">
                            <span>    <input type="radio" id="chkcorporate" name="loc" /> Corporate &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;   <input type="radio" id="chkcorporate" Checked name="loc" /> Property </span>
                            <input type="text" id="location" style="width:50%;" value="@Model.Location" />
                        </span>

                    }

                </p>

                <p class="c1">
                    <span class="c0">Manager:<input type="text" id="manager" style="width:89%;" value="@Model.Manager" /> </span>
                </p>
                <p class="c1">
                    <span class="c0">
                        Position:  @if (Model.Position_Exempt == "1")
                        {

                            <span> <input type="radio" checked style="margin-left:0.5%;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" style="margin-left:6%;" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>

                        }  @if (Model.Position_NonExempt == "1")
                        {
                            <span> <input type="radio" style="margin-left:0.5%;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" checked style="margin-left:6%;" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>

                        }
                    </span>
                </p>
                <p class="c1">

                    Status : @if (Model.Status == "FULL TIME")
                    {

                        <span class="c0">
                            <input type="radio" checked style="margin-left:1.5%;" value="1" name="time" id="fullstatus" /> Full Time <input type="radio" style="margin-left:5%;" name="time" id="partstatus" value="1" /> Part Time
                        </span>

                    }
                    else
                    {
                        <span class="c0">
                            <input type="radio" style="margin-left:1.5%;" value="1" name="time" id="fullstatus" /> Full Time
                            <input type="radio" checked style="margin-left:5%;" name="time" id="partstatus" value="1" /> Part Time
                        </span>
                    }


                </p>

                <p class="c1">
                    <span class="c0">Wage (Hourly) / Salary (Annual) <input type="text" id="salary" value="@Model.Wage_Salary" style="width:15%;margin-left:2%;" />  / @Model.Sal_Time  </span>
                </p>

                <p class="c1">
                    <span class="c0">Position  :  <input type="text" id="salary" value="@Model.Position" style="width:55%;margin-left:2%;" /> </span>
                </p>

                <table style="width: 80%;
    margin-left: 10%;margin-bottom:0px;">
                    <tr>
                        <td colspan="1">
                            <h3 style="text-align: center;
    margin-left: 40%;padding:0px !important">
                                Labor Allocation
                            </h3>
                        </td>
                    </tr>
                    <tr> <td> Property </td> <td> Percentage </td> </tr>

                    @if (Model.iscorporate.ToString().ToLower() != "true")
                    {

                        if (!string.IsNullOrEmpty(Model.La_Property1))
                        {
                            <tr> <td> <input type="text" id="la_Prop1" style="width:95%" value="@Model.La_Property1" />  </td> <td> <input type="text" value="@Model.La_Property1_Per" id="la_Prop1per" /> </td> </tr>
                            if (!string.IsNullOrEmpty(Model.La_Property2))
                            {
                                <tr> <td> <input type="text" id="la_Prop2" style="width:95%" value="@Model.La_Property2" /> </td> <td> <input type="text" value="@Model.La_Property2_Per" id="la_Prop2per" /> </td> </tr>

                            }


                            if (!string.IsNullOrEmpty(Model.La_Property3))
                            {
                                <tr> <td> <input type="text" id="la_Prop2" style="width:95%" value="@Model.La_Property3" /> </td> <td> <input type="text" value="@Model.La_Property3_Per" id="la_Prop2per" /> </td> </tr>
                            }
                            else
                            {
                                <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                            }

                            if (string.IsNullOrEmpty(Model.La_Property2))
                            {

                                <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>


                            }
                        }
                        else
                        {
                            <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                            <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                            <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                        }


                    }
                    else
                    {
                        <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                        <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                        <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                    }

                </table>

                <p class="c1" style="margin-top: 30px; margin-bottom:30px; display:none">
                    <span class="c0">
                        New Hire Kit Ordered :  <span style="margin-left:10%;">  @Model.kitordered </span>
                    </span>
                </p>
                <p class="c1" style="margin-top: 10px;">
                    <span class="c0">
                        Additional Instructions :
                    </span>
                <p style="border: 1px solid;

padding: 10px;

margin: 10px;">@Model.AdditionalText</p>

            </p>

            <p class="c1" style="margin-top:40px;">
                <span class="c0">
                    Employee Signature <input type="text" id="esignature" class="italic" value="@Model.esignature" style="width:48%;" />    Date
                    @if (Model.edate != null)
                    {
                        <input type="text" name="name" id="edate" value="@Model.edate.Value.ToString("MM/dd/yyyy")" />
                    }
                    else
                    {
                        <input type="text" name="name" id="edate" value="" />
                    }

                </span>
            </p>
            <p class="c1">
                <span class="c0">
                    Manager&rsquo;s Authorizing Signature <input type="text" class="italic" id="msignature" value="@Model.msignature" style="width:37%;" /> Date
                    @if (Model.mdate != null)
                    {
                        <input type="text" name="name" id="edate" value="@Model.mdate.Value.ToString("MM/dd/yyyy")" />
                    }
                    else
                    {
                        <input type="text" name="name" id="edate" value="" />
                    }

                </span>
            </p>
            @if (Model.iscorporate.ToString().ToLower() != "true")
            {
                <p class="c1" style="margin-bottom:20px;">
                    <span class="c0">
                        RPM Signature  <input type="text" id="rpmsignature" class="italic" style="width:49%;margin-left:4%;" value="@Model.rpmsignature" />Date
                        @if (Model.rpmdate != null)
                        {
                            <input type="text" name="name" id="edate" value="@Model.rpmdate.Value.ToString("MM/dd/yyyy")" />
                        }
                        else
                        {
                            <input type="text" name="name" id="edate" value="" />
                        }

                    </span>
                </p>
            }

            <br /> <br />
            <p>Rev. June 2018</p>

            </form>

    </div>

    <div class="page">
        @*@if (Model.IsRejected == true)
        {
            <div class="lbl"> Rejected </div>
        }*@
        <div id="page_1">
            <DIV id="p1dimg 1" style="text-align:center;margin-left:-10%;">
                <img src="/img/requistionrequestheader.jpg" />
                <h1 style="font-weight:bold;text-align:center">  Activity - @Model.SequenceNumber </h1>
            </DIV>


            <table id="viewlog" class="table table-striped col-md-6">
                <thead>
                    <tr>
                        <th style="width:40%">Description</th>
                        <th style="width:30%;">Date</th>
                        <th style="width:20%"> Created By </th>
                    </tr>
                </thead>
                <tbody id="hractivitybody">

                    @foreach (var item in Model.printActivity.log)
                    {
                        <tr> <td> @item.ActivitySubject </td> <td> @item.ActivityDate.ToString().Substring(0, 19) </td> <td> @item.ActivityByName </td> </tr>

                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="text-align:center">
            <h2> Signature Meta Data </h2>
            <br />
            <table id="signaturelog" class="table table-striped col-md-6">
                <thead>
                    <tr>
                        <th style="width:15%"> Type </th>
                        <th style="width:10%">Ip Address</th>
                        <th style="width:50%;text-align:center">Browser </th>
                        <th style="width:25%;text-align:center"> Date Time </th>
                    </tr>
                </thead>
                <tbody id="hrsignmetadata">
                <tbody id="hractivitybody">

                    @foreach (var item in Model.printActivity.metadata)
                    {
                        <tr> <td> @item.Action.Replace("Email", "Signature") </td> <td> @item.ip </td> <td> @item.browserinfo </td> <td> @item.datetime.ToString().Substring(0, 19)</td> </tr>

                    }


                </tbody>
            </table>
        </div>


        @if (Model.printActivity.rejection != null && Model.printActivity.rejection.Count > 0)
        {

            <div class="col-md-12 rejectionblock" style="text-align:center;">
                <h2> Rejection  </h2>
                <br />
                <table id="rejectionlog" class="table table-striped col-md-6">
                    <thead>
                        <tr>
                            <th style="width:15%"> Rejected By </th>
                            <th style="width:60%;text-align:center">Reason </th>
                            <th style="width:25%;text-align:center"> Date Time </th>
                        </tr>
                    </thead>
                    <tbody id="rjmetadata">

                        @foreach (var item in Model.printActivity.rejection)
                        {
                            <tr> <td> @item.name  </td> <td>  @item.rejectionDesc </td>  <td> @item.datetime</td>  </tr>
                        }


                    </tbody>
                </table>
            </div>

        }

    </div>
    <script >

        var inputs = document.getElementsByTagName('input');
        for (i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }

        var inputs = document.getElementsByTagName('select');
        for (i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }

        var inputs = document.getElementsByTagName('textarea');
        for (i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }



    </script>
</body>
</html>


