@model Carroll.Portals.Models.PrintPayRollStatusChange

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print PayRoll Status Change </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

   

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page">
        <div id="page_1" style="padding:15px;">
            <DIV class="dclr"></DIV>
            <img style="margin-left: 33%;
    MARGIN-TOP: 22PX;" src="/img/payroll.png" id="p1img1">
            <P class="p0 ft0" style="margin-top:0PX;">PAYROLL STATUS CHANGE NOTICE</P>
            <P class="p1 ft1">Employee Name: <input style=" display:inline; " type="text" id="empname" class="" value="@Model.EmployeeName" /> Change effective date: <input style=" display:inline;" value="@Model.ChangeEffectiveDate.Value.ToShortDateString()" type="text" id="effdate" class="" /></P>
            <P class="p2 ft3"><SPAN class="ft2">Manager Responsibilities</SPAN>: Complete the Payroll Status Change Notice, sign the form, and submit to</P>
            <P class="p3 ft3">Human Resources to <A href="mailto:HRNotifications@carrollmg.com"><SPAN class="ft4">HRNotifications@carrollmg.com</SPAN></A> within 48 hours of change effective date.</P>
            <P class="p6 ft1">
                Select Type of Change <select id="typeofchange">
                    @{
                        if (Model.TypeOfChange == "Property Change")
                        {

                            <option selected value="Property Change"> Property Change </option>
                        }
                        else
                        {
                            <option value="Property Change"> Property Change </option>
                        }
                        if (Model.TypeOfChange == "Pay Change")
                        {

                            <option selected value="Pay Change"> Pay Change </option>
                        }
                        else
                        {
                            <option value="Pay Change"> Pay Change </option>
                        }
                        if (Model.TypeOfChange == "Both")
                        {

                            <option selected value="Both"> Both </option>
                        }
                        else
                        {
                            <option value="Both"> Both </option>
                        }
                    }

                </select>
            </P>
            <br />
            <div class="" style="border: 2px solid black; width:100%">

                <P class="p4 ft5">Property Change</P>
                <P class="p5 ft6">Property Transfer:</P>
                <P class="p6 ft1">From property # : <input style=" display:inline;width:10%; " type="text" id="frompropnum" value="@Model.FromPropNum" class="" /> From Property Name: <input style=" display:inline; " value="@Model.FromPropName" type="text" id="frompropname" class="" />From Manager:  <input style=" display:inline; " value="@Model.FromManager" type="text" id="frommanager" class="" /></P>
                <P class="p6 ft1">To property # : <input style=" display:inline;width:10%;  " value="@Model.ToPropNum" type="text" id="topropnum" class="" /> To Property Name: <input style=" display:inline; " type="text" value="@Model.ToPropName" id="topropname" class="" />To Manager: <input style=" display:inline; " type="text" id="tomanager" value="@Model.ToManager" class="" /></P>
                <hr style="border-top: 2px solid black;" />
                <TABLE cellpadding=0 cellspacing=0 class="t0">
                    <TR>
                        <TD class="tr0 td0"><P class="p7 ft7">Pay Change</P></TD>
                        <TD class="tr0 td1"><P class="p8 ft8">&nbsp;</P></TD>
                        <TD class="tr0 td2"><P class="p8 ft8">&nbsp;</P></TD>
                        <TD class="tr0 td3"><P class="p8 ft8">&nbsp;</P></TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td0"><P class="p9 ft1"><SPAN class="ft6">Pay Rate Change: </SPAN>From $<input style=" display:inline; " type="text" value="@Model.PayChangeFrom" id="paychangefrom" class="" /> To $<input style=" display:inline; " type="text" id="paychangeto" value="@Model.PayChangeTo" class="" /></P></TD>
                        <TD class="tr1 td1">
                            <P class="p8 ft10">
                                <SPAN class="ft6">Select: </SPAN><SPAN class="ft9">
                                    @{
                                        if (Model.PayChangeFullTime == true)
                                        {
                                            <input type="checkbox" checked id="chkfull" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkfull" />
                                        }

                                    }

                                </SPAN>Full Time
                            </P>
                        </TD>
                        <TD class="tr1 td2">
                            <P class="p10 ft10">
                                <SPAN class="ft9">
                                    @{
                                        if (Model.PayChangePartTime == true)
                                        {
                                            <input type="checkbox" checked id="chkpart" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkpart" />
                                        }

                                    }
                                </SPAN>Part Time
                            </P>
                        </TD>
                        <TD class="tr1 td3"><P class="p8 ft8">&nbsp;</P></TD>
                    </TR>
                    <TR>
                        <TD class="tr2 td0"><P class="p8 ft8">&nbsp;</P></TD>
                        <TD class="tr2 td1">
                            <P class="p11 ft10">
                                <SPAN class="ft9">
                                    @{
                                        if (Model.PayChangeHourly == true)
                                        {
                                            <input type="checkbox" checked id="chkpart" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkpart" />
                                        }

                                    }
                                </SPAN>Hourly
                            </P>
                        </TD>
                        <TD class="tr2 td2">
                            <P class="p8 ft10">
                                <SPAN class="ft9">
                                    @{
                                        if (Model.PayChangeSalary == true)
                                        {
                                            <input type="checkbox" checked id="chkpart" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkpart" />
                                        }

                                    }
                                </SPAN>Salary
                            </P>
                        </TD>
                        <TD class="tr2 td3"><P class="p12 ft11">.</P></TD>
                    </TR>
                    <TR>
                        <TD colspan=3 class="tr3 td4"><P class="p13 ft12"><SPAN class="ft1">Beginning Pay Period Effective:<input type="text" value="@Model.BeginPayPeriod" id="beginpayperiod" />  </SPAN>(pay changes can only take place at the beginning of a pay period)</P></TD>
                        <TD class="tr3 td3"><P class="p8 ft8">&nbsp;</P></TD>
                    </TR>
                </TABLE>
                <hr style="border-top: 2px solid black;" />
                <TABLE cellpadding=0 cellspacing=0 class="t0">
                    <TR>
                        <TD class="tr5 td0"><P class="p7 ft7">Division of Labor</P></TD>
                        <TD class="tr5 td1"><P class="p8 ft13">&nbsp;</P></TD>
                        <TD class="tr5 td2"><P class="p8 ft13">&nbsp;</P></TD>
                        <TD class="tr5 td3"><P class="p8 ft13">&nbsp;</P></TD>
                    </TR>
                    <TR>
                        <TD class="tr6 td0"><P class="p7 ft12">(Total MUST equal 100%)</P></TD>
                        <TD class="tr6 td1"><P class="p8 ft14">&nbsp;</P></TD>
                        <TD class="tr6 td2"><P class="p8 ft14">&nbsp;</P></TD>
                        <TD class="tr6 td3"><P class="p8 ft14">&nbsp;</P></TD>
                    </TR>
                    <TR>
                        <TD class="tr4 td0"><P class="p9 ft6">Labor Allocation:</P></TD>
                        <TD class="tr4 td1"><P class="p8 ft8">&nbsp;</P></TD>
                        <TD class="tr4 td2"><P class="p8 ft8">&nbsp;</P></TD>
                        <TD class="tr4 td3"><P class="p8 ft8">&nbsp;</P></TD>
                    </TR>
                    <TR>
                        <TD class="tr7 td0"><P class="p14 ft1">Property</P></TD>
                        <TD class="tr7 td1"><P class="p10 ft1">Percentage</P></TD>

                    </TR>
                    <TR>
                        <TD class="tr7 td0"><P class="p14 ft1"> <input type="text" style="display:inline; width:70%" value="@Model.La_Property1" id="prop1" /></P></TD>
                        <TD class="tr7 td1"><P class="p10 ft1"><input type="text" style="display:inline; width:60%" value="@Model.La_Property1_Per" id="prop1per" /></P></TD>

                    </TR>
                    <TR>
                        <TD class="tr7 td0"><P class="p14 ft1"> <input type="text" style="display:inline; width:70%" value="@Model.La_Property2" id="prop2" /></P></TD>
                        <TD class="tr7 td1"><P class="p10 ft1"><input type="text" style="display:inline; width:60%" value="@Model.La_Property2_Per" id="prop2per" /></P></TD>

                    </TR>

                </TABLE>

                <hr style="border-top: 2px solid black;" />
                <P class="p15 ft5">Allowances</P>
                <P class="p16 ft15">(Corporate Only)</P>
                <TABLE cellpadding=0 cellspacing=0 class="t1">
                    <TR>
                        <TD class="tr7 td9"><P class="p9 ft6">Select Type:</P></TD>
                        <TD class="tr7 td10">
                            <P class="p8 ft1">
                                <SPAN class="ft9">
                                    @{ if (Model.Chk_CarAmount == true)
                                        {
                                            <input type="checkbox" checked id="chkcaramount" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkcaramount" />
                                        }

                                    }
                                </SPAN>Car Amount: $ <input type="text" style="width:30%" id="txtcaramount" value="@Model.CarAmountPerMonth" /> / month
                            </P>
                        </TD>
                        <TD class="tr7 td11">
                            <P class="p17 ft1">
                                <SPAN class="ft9">
                                    @{ if (Model.Chk_PhoneAmount == true)
                                        {
                                            <input type="checkbox" checked id="chkphoneamount" /> }
                                        else
                                        {
                                            <input type="checkbox" id="chkphoneamount" />

                                        }}
                                </SPAN>Phone Amount: $ <input type="text" style="width:30%" id="txtphoneamount" value="@Model.PhoneAmountPerMonth" /> / month
                            </P>
                        </TD>
                    </TR>
                </TABLE>

                <hr style="border-top: 2px solid black;" />
                <TABLE cellpadding=0 cellspacing=0 class="t1">
                    <TR>
                        <TD class="tr5 td9"><P class="p8 ft13">&nbsp;</P></TD>
                        <TD colspan=2 class="tr5 td14"><P class="p18 ft16">Leaves of Absence</P></TD>
                    </TR>
                    <TR>
                        <TD class="tr1 td9"><P class="p8 ft8">&nbsp;</P></TD>
                        <TD class="tr1 td10">
                            <P class="p19 ft6">
                                FMLA Eligible? <SPAN class="ft9">
                                    @{
                                        if (Model.FmlaYes == true)
                                        {
                                            <input type="checkbox" checked id="chkfmlayes" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkfmlayes" />

                                        }
                                    }
                                </SPAN> <SPAN class="ft1">Yes </SPAN> <SPAN class="ft9">

                                    @{ if (Model.FmlaNo == true)
                                        {
                                            <input type="checkbox" checked id="chkfmlano" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkfmlano" />
                                        }
                                    }
                                </SPAN><SPAN class="ft1">No</SPAN>
                            </P>
                        </TD>
                        <TD class="tr1 td11">
                            <P class="p8 ft6">
                                Enrolled in Benefits? <SPAN class="ft9">
                                    @{ if (Model.EnrolledBenefitsYes == true)
                                        {
                                            <input type="checkbox" checked id="chkbenefityes" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkbenefityes" />
                                        }
                                    }
                                </SPAN><SPAN class="ft1">Yes </SPAN><SPAN class="ft9">
                                    @{ if (Model.EnrolledBenefitNo == true)
                                        {
                                            <input type="checkbox" checked id="chkbenefitno" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkbenefitno" />
                                        }
                                    }
                                </SPAN><SPAN class="ft1">No</SPAN>
                            </P>
                        </TD>
                    </TR>
                </TABLE>
                <P class="p20 ft1">Purpose: <input type="text" style="width:32%" value="@Model.Leave_Purpose" id="purpose" />  Begin: <input type="text" style="width:20%;" value="@Model.Leave_Begin.Value.ToShortDateString()" id="leavebegin" /> Expected End:<input type="text" id="leaveend" value="@Model.Leave_End.Value.ToShortDateString()" style="width:20%;" /> PTO balance:<input type="text" style="width:25%" value="@Model.Pto_Balance" id="ptobalance" /> </P>
                <hr style="border-top: 2px solid black;" />
                <P class="p21 ft5">Notes:</P>
                <P class="p6 ft1"> <input type="text" style="width:95%" value="@Model.Notes1" id="notes1" /></P>
                <P class="p6 ft1"> <input type="text" style="width:95%" value="@Model.Notes2" id="notes2" /> </P>
                <P class="p6 ft1">Employee Signature:<input type="text" style="width:53%" value="@Model.ESignature" />  Date: <input type="text" name="name" value="@Model.EDate.Value.ToShortDateString()" /> </P>
                <P class="p6 ft1">Manager Signature: <input type="text" style="width:53%" value="@Model.MSignature" /> Date:<input type="text" name="name" value="@Model.MDate.Value.ToShortDateString()" /> </P>
            </div>
            </div>
    </div>
    <style type="text/css">
        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c7 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c6 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c2 {
            font-size: 14pt;
            font-family: "Times";
            font-weight: 700
        }

        .c8 {
            font-weight: 700;
            font-size: 11pt;
            font-family: "Times"
        }

        .c5 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        button {
            margin-left: 4%;
        }

        .has-error {
            border-color: red;
        }

        hr{
            margin:0px !important;

        }


        #page_1 {
            position: relative;
            overflow: hidden;
            margin: -62px 0px 9px 0px;
            padding: 0px;
            border: none;
            width: 768px;
        }

            #page_1 #p1dimg1 {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: -1;
                width: 720px;
                height: 872px;
            }

                #page_1 #p1dimg1 #p1img1 {
                    width: 720px;
                    height: 872px;
                }




        .dclr {
            clear: both;
            float: none;
            height: 1px;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }

        .ft0 {
            font: bold 19px 'Calibri';
            line-height: 23px;
        }

        .ft1 {
            font: 15px 'Calibri';
            line-height: 18px;
        }

        .ft2 {
            font: italic 13px 'Calibri';
            text-decoration: underline;
            line-height: 15px;
        }

        .ft3 {
            font: italic 13px 'Calibri';
            line-height: 15px;
        }

        .ft4 {
            font: italic 13px 'Calibri';
            text-decoration: underline;
            color: #0563c1;
            line-height: 15px;
        }

        .ft5 {
            font: bold 15px 'Calibri';
            text-decoration: underline;
            line-height: 18px;
        }

        .ft6 {
            font: italic 15px 'Calibri';
            line-height: 18px;
        }

        .ft7 {
            font: bold 14px 'Calibri';
            text-decoration: underline;
            line-height: 17px;
        }

        .ft8 {
            font: 1px 'Calibri';
            line-height: 1px;
        }

        .ft9 {
            font: 19px 'Times New Roman';
            line-height: 21px;
        }

        .ft10 {
            font: 16px 'Calibri';
            line-height: 19px;
        }

        .ft11 {
            font: 15px 'Calibri';
            color: #ffffff;
            line-height: 18px;
        }

        .ft12 {
            font: italic bold 13px 'Calibri';
            line-height: 15px;
        }

        .ft13 {
            font: 1px 'Calibri';
            line-height: 17px;
        }

        .ft14 {
            font: 1px 'Calibri';
            line-height: 16px;
        }

        .ft15 {
            font: italic bold 13px 'Calibri';
            line-height: 14px;
        }

        .ft16 {
            font: bold 15px 'Calibri';
            text-decoration: underline;
            line-height: 17px;
        }

        .p0 {
            text-align: left;
            padding-left: 227px;
            margin-top: 62px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            padding-left: 22px;
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .p2 {
            text-align: left;
            padding-left: 94px;
            margin-top: 11px;
            margin-bottom: 0px;
        }

        .p3 {
            text-align: left;
            padding-left: 104px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p4 {
            text-align: left;
            padding-left: 309px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p5 {
            text-align: left;
            padding-left: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p6 {
            text-align: left;
            padding-left: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p7 {
            text-align: center;
            padding-left: 246px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p8 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: left;
            padding-left: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: left;
            padding-left: 1px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p11 {
            text-align: left;
            padding-left: 44px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p12 {
            text-align: right;
            padding-right: 8px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p13 {
            text-align: center;
            padding-left: 16px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p14 {
            text-align: left;
            padding-left: 144px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p15 {
            text-align: left;
            padding-left: 325px;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        .p16 {
            text-align: left;
            padding-left: 314px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p17 {
            text-align: left;
            padding-left: 39px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p18 {
            text-align: left;
            padding-left: 179px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p19 {
            text-align: left;
            padding-left: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p20 {
            text-align: left;
            padding-left: 8px;
            margin-top: 21px;
            margin-bottom: 0px;
        }

        .p21 {
            text-align: left;
            padding-left: 8px;
            margin-top: 20px;
            margin-bottom: 0px;
        }

        .p22 {
            text-align: left;
            margin-top: 110px;
            margin-bottom: 0px;
        }

        .p23 {
            text-align: left;
            margin-top: 12px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 474px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 147px;
            vertical-align: bottom;
        }

        .td2 {
            padding: 0px;
            margin: 0px;
            width: 83px;
            vertical-align: bottom;
        }

        .td3 {
            padding: 0px;
            margin: 0px;
            width: 16px;
            vertical-align: bottom;
        }

        .td4 {
            padding: 0px;
            margin: 0px;
            width: 704px;
            vertical-align: bottom;
        }

        .td5 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 474px;
            vertical-align: bottom;
        }

        .td6 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 147px;
            vertical-align: bottom;
        }

        .td7 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 83px;
            vertical-align: bottom;
        }

        .td8 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 16px;
            vertical-align: bottom;
        }

        .td9 {
            padding: 0px;
            margin: 0px;
            width: 125px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 241px;
            vertical-align: bottom;
        }

        .td11 {
            padding: 0px;
            margin: 0px;
            width: 354px;
            vertical-align: bottom;
        }

        .td12 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 125px;
            vertical-align: bottom;
        }

        .td13 {
            border-bottom: #000000 1px solid;
            padding: 0px;
            margin: 0px;
            width: 595px;
            vertical-align: bottom;
        }

        .td14 {
            padding: 0px;
            margin: 0px;
            width: 595px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 19px;
        }

        .tr1 {
            height: 41px;
        }

        .tr2 {
            height: 23px;
        }

        .tr3 {
            height: 36px;
        }

        .tr4 {
            height: 18px;
        }

        .tr5 
        {
            height: 17px;
        }

        .tr6 
        {
            height: 16px;
        }

        .tr7 
        {
            height: 22px;
        }

        .t0 
        {
            width: 720px;
            margin-top: 6px;
            font: italic 15px 'Calibri';
        }

        .t1 
        {
            width: 720px;
            font: italic 15px 'Calibri';
        }
    </style>
</body>
</html>


