@model Carroll.Portals.Models.PrintPayRollStatusChange

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print PayRoll Status Change </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">

        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td, table th {
            padding: 0
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c1 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c7 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-style: normal
        }

        .c6 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c2 {
            font-size: 14pt;
            font-family: "Times";
            font-weight: 700
        }

        .c8 {
            font-weight: 700;
            font-size: 11pt;
            font-family: "Times"
        }

        .c5 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        input {
            border: none;
            border-bottom: 1px solid #302e2e69;
            padding: 5px;
        }
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page" >

       
            <p class="c1 c8" style="margin-left:30%;">
                <span class="c7">
                    <img src="~/img/newhirenotice.png">
                </span>
            </p>
            <p class="c0 c5"><span class="c3"></span></p>
            <p class="c0" style="margin-left: 5%;"><span class="c2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="c2 c7">PAYROLL STATUS CHANGE NOTICE</span></p>

            <p class="c0"><span class="c1">Employee Name: <input type="text" id="empname" value="@Model.EmployeeName"  style="width:30%" />  Change effective as of: <input type="text" id="effectivedate" value="@Model.ChangeEffectiveDate.Value.ToShortDateString()" />  </span></p>
            <p class="c0"><span class="c4">Manager Responsibilities: Complete the Payroll Status Change Notice, sign the form, and submit to Human Resources for any payroll/status adjustments. PLEASE NOTE pay changes need to have an effective date at the beginning of a pay period unless otherwise noted. Please send completed forms to HRNotifications@carrollmg.com.</span></p>
            <p class="c0"><span class="c1">Manager:<input type="text" value="@Model.Manager" id="manager" style="width:55.5%; margin-right:5%" />  Today&rsquo;s Date:<input type="text" id="todaydate" value="@Model.TodayDate.Value.ToShortDateString()" /> </span></p>
            <p class="c0"><span class="c1">Client/Location:<input type="text" id="location" style="width:82%;" value="@Model.Client_Location" /> </span></p>
            <p class="c0"><span class="c7 c8"> Check the boxes that apply and provide the explanation below: </span></p>
            <p class="c0"><span class="c1">  <input type="checkbox" id="newhire" class="bs-checkbox" checked="@Model.NewHire" />  New Hire  <input type="checkbox" checked="@Model.ReHire"  class="bs-checkbox" id="rehire" />  ReHire <input checked="@Model.Transfer"  type="checkbox" id="transfer" class="bs-checkbox" />  Transfer Position<input type="text" style="width:20%" id="exempt" value="@Model.Exempt" />  Exempt <input type="text" style="width:20%" id="nonexempt" value="@Model.NonExempt" />  Non-exempt </span></p>
            <p class="c0"><span class="c1">Position<input style="width:87%;" type="text" id="position" value="@Model.Position" /> </span></p>
            <p class="c0"><span class="c1">SS#<input type="text" style="width:42%" id="sshash" value="@Model.SsHash" /> DOB : <input type="text" value="@Model.DOB.Value.ToShortDateString()" id="dob" />  Status : @Model.Status_FullTime_PartTime </span></p>
            <p class="c0"><span class="c1">Wage/Salary<input type="text" style="width:40%" id="salary" value="@Model.Wage_Salary" /> Allocation<input value="@Model.Allocation" type="text" style="width:37%" id="allocation" /> </span></p>
            <p class="c0"><span class="c1">Street Address <input type="text" style="width:82%" id="streetaddress"  value="@Model.StreetAddress"  /> </span></p>
            <p class="c0"><span class="c1">City / State / Zip <input type="text" id="city_state_zip" style="width:80.5%" value="@Model.City_State_Zip"  /> </span></p>
            <p class="c0"><span class="c1">Phone (home, cell, work)<input type="tel" id="phone" style="width:75.5%"  value="@Model.Phone"  /> </span></p>
            <p class="c0"><span class="c1">Change of Pay Rate From $<input type="text" id="payratefrom" value="@Model.Change_Pay_Rate_From"  style="width:30%" />  to $<input value="@Model.Change_Pay_Rate_To"  style="width:30%" type="text" id="payrateto" /> </span></p>
            <p class="c0"><span class="c1">Change of Position/Property From<input type="text" value="@Model.Change_Property_From"  id="propertyfrom" style="width:30%" />  To <input value="@Model.Change_Property_To"  style="width:26%" type="text" id="propertyto" /> </span></p>
            <p class="c0"><span class="c1">Change of Address, Emergency Contact Information or Updated Employee Info</span></p>
            <p class="c0"><span class="c1"><input type="text" id="address_emergency1" value="@Model.Address_ContactInfo"  style="width:91%" /> </span></p>
            <p class="c0"><span class="c1"><input type="text" id="address_emergency2" style="width:91%" /> </span></p>
            <p class="c0"><span class="c1">Leave of Absence Date(s) of Leave<input type="text" style="width:28%" id="leavedate" value="@Model.Leave_Absence"  /> <input type="text" id="leave_paid" value="@Model.Leave_Paid" style="width:10%"  /> Paid <input type="text" value="@Model.Leave_UnPaid"  id="leave_unpaid" /> Unpaid </span></p>
            <p class="c0"><span class="c1">Disciplinary Suspension Date(s) of Suspension <input style="width:10%" type="text" value="@Model.Date_Of_Suspence"  id="suspensiondate" /> <input type="text" value="@Model.Suspence_Paid" style="width:15%"  id="suspension_paid" />Paid<input type="text" value="@Model.Suspence_UnPaid"  id="suspension_unpaid" /> Unpaid</span></p>
            <p class="c0"><span class="c1">Leave of Absence Date(s) of Leave<input type="text" style="width:28%" id="leavedate" value="@Model.Leave_Absence"  /> <input type="text" id="leave_paid" value="@Model.Leave_Paid" style="width:10%"  /> Paid <input type="text" value="@Model.Leave_UnPaid"  id="leave_unpaid" /> Unpaid </span></p>
            <p class="c0" style="width:91%"><span class="c1">Explanation: Please include other relevant information below for the record if it was discussed with the employee (proposed increase, date for next performance review, on-call arrangement, benefits or non-standard benefits, special circumstances, etc.) <input type="text" style="width:91%" id="explanation1" value="@Model.Explanation"  /></span></p>
            <p class="c0"><span class="c1"><input type="text" id="explanation2" style="width:91%" /></span></p>
            <p class="c0"><span class="c1">Employee Signature ____________________________________________ Date ______________</span></p>
            <p class="c0"><span class="c1">Manager&rsquo;s Signature____________________________________________ Date______________</span></p>
            <p class="c0"><span class="c1">Executive or Regional Manager Signature____________________________ Date______________</span></p>
        


    </div>
</body>
</html>


