@{
    ViewBag.Title = "Partners List";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2> Equity Partners </h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
           
            <li class="active">
                <strong>Equity Partners</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/equitybg.png');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:white;text-transform:uppercase;margin-top:-10px;"> <b>  Equity Partners </b></h1>
                <div class="ibox-tools" style="margin-top:-40px;color:white; font-size:20px;min-height:50px;">

                    @if (@Model.RoleType.ToLower() == "administrator")
                    {
                        <a disabled="disabled" class="btnEdit" style="color:white;" href="#" onclick="ToggleEdit('partner');"><i class="fa fa-edit"></i> Edit</a>

                        <a disabled="disabled" style="color:white;" class="btnDelete" href="#">
                            <i class="fa fa-trash"></i> Delete
                        </a>

                        <a style="color:white;" href="#" onclick="ToggleAdd('partner');">
                            <i class="fa fa-plus-circle"></i> New
                        </a>
                    }
                    </div>
            </div>
            

            <div class="ibox-content">
                <table style="width:100%;" class="table  dtprops">
                    <thead>
                        <tr>
                            @*<th></th>*@
                            <th>Partner Name</th>
                            <th>Address Line1</th>
                            <th>Address Line2</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Zip</th>
                            <th>Contact Person</th>
                            <th>Record Date</th>
                            <th>Created By</th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

</div>
<div class="AddEditContainer row" style="display:none;">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add/Edit Partner</h5>
                <div class="ibox-tools">
                    @*<a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>*@
                    <a class="warning"  href="#" onclick="ToggleAdd('partner');">
                        <i class="fa fa-minus-circle"></i> Cancel
                    </a>
                    @*<ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" >Cancel</a>
                        </li>
                   
                    </ul>*@
                    @*<a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>*@
                </div>
            </div>
            <div class="ibox-content dynamicForm">

            </div>
        </div>
    </div>

</div>
    
@if (ViewBag.ErrorMessage == "AuthorizationRequired")
            {
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
            {
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}

@section Styles {
@Styles.Render("~/content/plugins/jquery-ui/jqueryuiStylescss")
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")
@Styles.Render("~/content/plugins/dataPickerStylescss")




    <style>
        .dtprops td, .dtprops th {
            white-space: nowrap;
        }
        ul.token-input-list-facebook {
            width: 100%;
        }
     
    </style>
}

@section Scripts {
@Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/scripts/plugins/dataTablesjs")
    @Scripts.Render("~/scripts/plugins/input-maskjs")
    @Scripts.Render("~/scripts/plugins/token-inputjs")
@Scripts.Render("~/scripts/plugins/dataPickerjs")




    <script>


        $(document).ready(function () {
            LoadPartners();
          
            //$('body').on('click', '.dtprops tbody tr', function () {

            //});

            $('.dataTables_scrollBody').css('height', '600px'); 
            $('#button').click(function () {
               // table.row('.selected').remove().draw(false);
            });
        });
    </script>

}















 @*$(document).ready(function () {
            $("#Data").jqGrid({
                url: '/Home/LoadData',
                loadonce:true,
                datatype: "json",
                mtype: "GET",
                colNames:["ID"],
                colModel: [
            { name: "Id",index:'ID',width:800, align: "center"}
                          ],
                pager: "#Pager",
                rowNum: '10',
                rowList: [10, 20, 30],
                sortname: "ID",
                sortorder: "asc",
                height: "auto",
                gridview:true,
                sortname: "ID",
                viewrecords: true,
                caption: "My First Grid",
                loadComplete: function (data) {
    var $this = $(this),
        datatype = $this.getGridParam('datatype');

    if (datatype === "xml" || datatype === "json") {
        setTimeout(function () {
            $this.trigger("reloadGrid");
        }, 100);
    }
}
            });
        });*@


@*$(document).ready(function () {
         $.ajax({
             type: "POST",
             dataType: "json",
             url: "studentService.asmx/GetStudents",
             success: function (data) {
                 var datatableVariable = $('#studentTable').DataTable({
                     data: data,
                     columns: [
                         { 'data': 'iD' },
                         { 'data': 'firstName' },
                         { 'data': 'lastName' },
                         {
                             'data': 'feesPaid', 'render': function (feesPaid) {
                                 return '$ ' + feesPaid;
                             }
                         },
                         { 'data': 'gender' },
                         { 'data': 'emailId' },
                         { 'data': 'telephoneNumber' },
                         {
                             'data': 'dateOfBirth', 'render': function (date) {
                                 var date = new Date(parseInt(date.substr(6)));
                                 var month = date.getMonth() + 1;
                                 return date.getDate() + "/" + month + "/" + date.getFullYear();
                             }
                         }]
                 });
                 $('#studentTable tfoot th').each(function () {
                     var placeHolderTitle = $('#studentTable thead th').eq($(this).index()).text();
                     $(this).html('<input type="text" class="form-control input input-sm" placeholder="Search ' + placeHolderTitle + '" />');
                 });
                 datatableVariable.columns().every(function () {
                     var column = this;
                     $(this.footer()).find('input').on('keyup change', function () {
                         column.search(this.value).draw();
                     });
                 });
                 $('.showHide').on('click', function () {
                     var tableColumn = datatableVariable.column($(this).attr('data-columnindex'));
                     tableColumn.visible(!tableColumn.visible());
                 });
             }
         });

     });
 </script>*@  

@*{ data: null, render: function ( data, type, row ) {
                // Combine the first and last names into a single table field
                return data.first_name+' '+data.last_name;
            } },*@


@*$('#RectifiedCount tbody tr').live('click', function (event) {
    var aData = oTable.fnGetData(this); // get datarow
    if (null != aData)  // null if we clicked on title row
    {
        //now aData[0] - 1st column(count_id), aData[1] -2nd, etc.
    }
});*@