@model Carroll.Portals.Models.PrintEmployeeNewHireNotice

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Review Employee New Hire Notice  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #666666;
            padding: 5px;
        }
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page" style="padding-left:10%;">

        <form id="submitform" onsubmit="return false;">
            <p class="c1 c8" style="margin-left:19%;">
                <span class="c7">
                    <img src="~/img/newhirenotice.png">
                </span>
            </p>
            <p class="c1 c8" style="margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;">
                <span class="c7"> NEW HIRE NOTICE </span>
            </p>
            <p class="c1">
                <span class="c0"> Employee Name:    <input type="text" style="width:40%" value="@Model.EmployeeName" id="empname" />        Start Date:<input value="@Model.StartDate.Value.ToShortDateString()" data-date-format="MM-DD-YYYY" type="text" id="startdate" />  </span>
            </p>

            <p class="c1">
                <span class="c0">Personal Email Address: <input type="email" id="email" value="@Model.EmailAddress" style="width:60%;" /> (do not leave blank) </span>
            </p>

            <p class="c1">
                <span class="c0">Manager:<input type="text" id="manager" style="width:83%;" value="@Model.Manager" /> </span>
            </p>
            <p class="c1">
                <span class="c0">Location:<input type="text" id="location" style="width:83%;" value="@Model.Location" /> </span>
            </p>
            <p class="c1">
                <span class="c0">
                    Position:  @if (Model.Position_Exempt == "1")
                    {
                        <span> <input type="text" value=" Exempt" />  </span>

                    }  @if (Model.Position_NonExempt == "1")
                    {
                        <span> <input type="text" value="Non Exempt" /> </span>

                    }
                </span>
            </p>
            <p class="c1">
                <span class="c0">Status :  <input type="text" value=" @Model.Status" />  </span>
            </p>

            <p class="c1">
                <span class="c0">Wage (Hourly) / Salary (Annual) <input type="text" id="salary" value="@Model.Wage_Salary" style="width:15%;margin-left:2%;" />  / @Model.Status  </span>
            </p>

            <p class="c1">
                <span class="c0">Position  :  <input type="text" id="salary" value="@Model.Position" style="width:15%;margin-left:2%;" /> </span>
            </p>

            <table style="width: 80%;
    margin-left: 10%;margin-bottom:0px;">
                <tr>
                    <td colspan="1">
                        <h3 style="text-align: center;
    margin-left: 40%;padding:0px !important">
                            Labor Allocation
                        </h3>
                    </td>
                </tr>
                <tr> <td> Property </td> <td> Percentage </td> </tr>
                <tr> <td> <input type="text" id="la_Prop1" value="@Model.La_Property1" />  </td> <td> <input type="number" value="@Model.La_Property1_Per" id="la_Prop1per" /> </td> </tr>
                <tr> <td> <input type="text" id="la_Prop2" value="@Model.La_Property2" /> </td> <td> <input type="number" value="@Model.La_Property2_Per" id="la_Prop2per" /> </td> </tr>
            </table>

            <p class="c1" style="margin-top: 60px;">
                <span class="c0">
                    New Hire Kit Ordered :  <span style="margin-left:10%;">  @Model.kitordered </span>
                </span>
            </p>
            @{
                if (ViewBag.Action == "Employee Email")
                {
                    <p class="c1" style="margin-top:50px;">
                        <span class="c0">Employee Signature <input type="text" id="esignature" value="" style="width:42%;" />    Date <input type="date" name="name" id="edate" value="" /></span>
                    </p>

                    <p class="c1">
                        <span class="c0">Manager&rsquo;s Authorizing Signature <input disabled type="text" id="msignature" value="@Model.msignature" style="width:30%;" /> Date <input disabled type="text" style="width:24%;" name="name" id="mdate" value="@Model.mdate.Value.ToShortDateString()" /> </span>
                    </p>
                }
                else if (ViewBag.Action == "Regional Email")
                {
                    <p class="c1" style="margin-top:50px;">
                        <span class="c0">Employee Signature <input disabled type="text" id="esignature" value="@Model.esignature" style="width:42%;" />    Date <input type="text" disabled name="name" id="edate" value="@Model.edate.Value.ToShortDateString()" /></span>
                    </p>

                    <p class="c1">
                        <span class="c0">Manager&rsquo;s Authorizing Signature <input  disabled type="text" id="msignature" value="@Model.msignature" style="width:30%;" /> Date <input disabled type="text" style="width:24%;" name="name" id="mdate" value="@Model.mdate.Value.ToShortDateString()" /> </span>
                    </p>

                    <p class="c1">
                        <span class="c0">RPM Signature<input type="text" id="rpmsignature" style="width:48%;" value="" />Date <input type="date" name="name" id="rpmdate" value="" /></span>
                    </p>
                }
                <input type="hidden" id="Action" value="@ViewBag.Action" />
            }

            <p class="c1" style="width:100%;text-align:center; font-weight:bold">
                Please Email I9 and Signed Documents to HRNotifications@carrollmg.com
            </p>

            <br /> <br />
            <p>Rev. June 2018</p>
            <div id="status"> </div>
            <div class="col-md-12" style="text-align:center;margin-bottom:20px;">

                <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

            </div>
        </form>
    </div>\
    <style type="text/css">

   
    .has-error {
    border-color: red;
    }


    </style>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        $(document).ready(function () {



            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });


            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#Action").val() == "Employee Email") {
                    if ($("#esignature").val() == "") {
                        errormsgsummary += "<li> Please Enter Signature </li>";
                        $("#esignature").addClass('has-error');
                        if (control == "")
                            control = $("#esignature");
                    }

                    if ($("#edate").val() == "") {
                        errormsgsummary += "<li> Please Enter Date </li>";
                        $("#edate").addClass('has-error');
                        if (control == "")
                            control = $("#edate");
                    }

                }
                else if ($("#Action").val() == "Regional Email")
                {
                    if ($("#rpmsignature").val() == "")
                    {
                        errormsgsummary += "<li> Please Enter Signature </li>";
                        $("#rpmsignature").addClass('has-error');
                        if (control == "")
                            control = $("#rpmsignature");
                    }

                    if ($("#rpmdate").val() == "") {
                        errormsgsummary += "<li> Please Enter Date </li>";
                        $("#rpmdate").addClass('has-error');
                        if (control == "")
                            control = $("#rpmdate");
                    }

                }

                if (errormsgsummary != "")
                {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {

                    var insertForm = new FormData();
                   
                    insertForm.append('action', $("#Action").val());
                    insertForm.append('refid', '@ViewBag.ReferenceId');
                    insertForm.append('iscorporate', '@ViewBag.IsCorporate');
                    var axurl = "";
                    var $BaseApiUrl = "http://localhost:1002/"; 

                    if ($("#Action").val() == "Employee Email"  )
                    {
                        insertForm.append('signature', $("#esignature").val());
                        insertForm.append('date', $("#edate").val());
                        if('@ViewBag.IsCorporate' == 'True')
                        axurl = "/Hr/UpdateWorkflowEmployeeNewHireNotice";
                        else
                        axurl = $BaseApiUrl +"api/data/UpdateWorkflowEmployeeNewHireNotice";

                    }
                    else
                    {
                        insertForm.append('signature', $("#rpmsignature").val());
                        insertForm.append('date', $("#rpmdate").val());
                        axurl = "/Hr/UpdateWorkflowEmployeeNewHireNotice";
                    }

                  

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: axurl,
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data)
                        {
                            // To-do code if ajax request is successfull
                            alert("Successfully Submitted");
                            
                            $("#status").html("<p style='color:green'> Successfully Submitted </p> ");

                           setTimeout(function () { window.close(); }, 2000);
                            //}
                            //else
                            //{
                            //    $("#status").html(data['errorMsg']);
                            //}
                        },
                        error: function (ts) {
                            alert("Successfully Submitted");
                           setTimeout(function () { window.close(); }, 2000);
                        }
                    });

                }


            });

        });

    </script>
</body>
</html>


