@model Carroll.Portals.Models.PrintEmployeeNewHireNotice

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Review Employee New Hire Notice  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet">

    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        .italic {
            font-family: 'Herr Von Muellerhoff', cursive;
            font-weight: bold;
            font-size: 22px;
        }


        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }

        @@import url('https://themes.googleusercontent.com/fonts/css?kit=7ebMze0MJP7bZu91CQ7uEDTuLqYM6x6ICRZT_kL-IXY');

        ol {
            margin: 0;
            padding: 0
        }

        table
        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c6 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: italic
        }

        .c9 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Times";
            font-style: normal
        }

        .c7 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-style: normal
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Times";
            font-style: normal
        }

        .c5 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: justify
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 5pt;
            line-height: 1.15;
            text-align: left
        }

        .c2 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c8 {
            margin-left: 144pt;
            text-indent: 36pt
        }

        .c3 {
            height: 11pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        /*li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        /*p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }*/

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .dtprops td, .dtprops th {
            white-space: nowrap;
        }

        input {
            border: none;
            border-bottom: 1px solid #666666;
            padding: 5px;
        }

     
        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
            #msignature
        {
            width: 38% !important;
        }
            .page {
                padding: 5% !important;
                margin-left: 10% !important;
            }

        }

        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

            .page
            {
                padding:5% !important;
                margin-bottom:300px !important; 
            }


            #modaldiv {
                padding-left: 45px !important;
            }

            #esignature {
                width: 47% !important;
            }

            #rpmsignature {
                width: 48% !important;
                margin-left: 5% !important;
            }

            #location {
                width: 40% !important;
            }

            #padd
            {
                width:90% !important;
            }
        }
    </style>
   

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page" style="padding-left:10%;">

        <form id="submitform" onsubmit="return false;">
            <p class="c1 c8" style="margin-left:19%;">
                <span class="c7">
                    <img src="~/img/newhirenotice.png">
                </span>
            </p>
            <p class="c1 c8" style="margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;">
                <span class="c7"> NEW HIRE NOTICE </span>
            </p>
            <p class="c1">
                <span class="c0"> Employee Name:    <input type="text" style="width:50%" value="@Model.EmployeeName" id="empname" />  Start Date:<input style="width:20%;" value="@Model.StartDate.Value.ToString("MM/dd/yyyy")" data-date-format="MM-DD-YYYY" type="text" id="startdate" />  </span>
            </p>

            <p class="c1">
                <span class="c0">Personal Email Address: <input type="email" id="email" value="@Model.EmailAddress" style="width:56%;" /> (do not leave blank) </span>
            </p>


            <p class="c1">


                Location: @if (Model.iscorporate.ToString().ToLower() == "true")
                {
                    <span class="c0">
                        <input type="radio" id="chkcorporate" checked name="loc" /> Corporate &nbsp; &nbsp; &nbsp;

                        <input style="margin-left:12px" type="radio" id="chkproperty" name="loc" /> Property
                    </span>

                }
                else
                {
                    <span class="c0">
                        <span>  <input type="radio" id="chkcorporate" Checked name="loc" /> Corporate &nbsp; &nbsp; &nbsp; <input type="radio" id="chkcorporate" Checked name="loc" /> Property </span>
                        <input type="text" id="location" style="width:50%;" value="@Model.Location" />
                    </span>

                }

            </p>
            <p class="c1">
                <span class="c0">Manager:<input type="text" id="manager" style="width:89%;" value="@Model.Manager" /> </span>
            </p>
            <p class="c1">
                <span class="c0">
                    Position:  @if (Model.Position_Exempt == "1")
                    {

                        <span> <input type="radio" checked style="margin-left:0.5%;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" style="margin-left:6%;" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>

                    }  @if (Model.Position_NonExempt == "1")
                    {
                        <span> <input type="radio" style="margin-left:0.5%;" value="1" name="exempt" id="exempt" />  Exempt  <input type="radio" checked style="margin-left:6%;" name="exempt" id="nonexempt" value="1" />  Non-exempt </span>

                    }
                </span>
            </p>
            <p class="c1">

                Status : @if (Model.Status == "FULL TIME")
                {

                    <span class="c0">
                        <input type="radio" checked style="margin-left:1.5%;" value="1" name="time" id="fullstatus" /> Full Time <input type="radio" style="margin-left:5%;" name="time" id="partstatus" value="1" /> Part Time
                    </span>

                }
                else
                {
                    <span class="c0">
                        <input type="radio" style="margin-left:1.5%;" value="1" name="time" id="fullstatus" /> Full Time
                        <input type="radio" checked style="margin-left:5%;" name="time" id="partstatus" value="1" /> Part Time
                    </span>
                }


            </p>

            <p class="c1">
                <span class="c0">Wage (Hourly) / Salary (Annual) <input type="text" id="salary" value="@Model.Wage_Salary" style="width:15%;margin-left:2%;" />  / @Model.Sal_Time  </span>
            </p>

            <p class="c1">
                <span class="c0">Position  :  <input type="text" id="salary" value="@Model.Position" style="width:55%;margin-left:2%;" /> </span>
            </p>

            <table style="width: 80%;
    margin-left: 10%;margin-bottom:0px;">
                <tr>
                    <td colspan="1">
                        <h3 style="text-align: center;
    margin-left: 40%;padding:0px !important">
                            Labor Allocation
                        </h3>
                    </td>
                </tr>
                <tr> <td> Property </td> <td> Percentage </td> </tr>

                @if (Model.iscorporate.ToString().ToLower() != "true")
                {
                    if (!string.IsNullOrEmpty(Model.La_Property1))
                    {
                        <tr> <td> <input type="text" id="la_Prop1" style="width:95%" value="@Model.La_Property1" />  </td> <td> <input type="text" class="allow_decimal" value="@Model.La_Property1_Per" id="la_Prop1per" /> </td> </tr>

                        if (!string.IsNullOrEmpty(Model.La_Property2))
                        {
                            <tr> <td> <input type="text" id="la_Prop2" style="width:95%" value="@Model.La_Property2" /> </td> <td> <input type="text" class="allow_decimal" value="@Model.La_Property2_Per" id="la_Prop2per" /> </td> </tr>
                        }

                        if (!string.IsNullOrEmpty(Model.La_Property3))
                        {
                            <tr> <td> <input type="text" id="la_Prop2" style="width:95%" value="@Model.La_Property3" /> </td> <td> <input type="text" class="allow_decimal" value="@Model.La_Property3_Per" id="la_Prop2per" /> </td> </tr>
                        }
                        else
                        {
                            <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                        }

                        if (string.IsNullOrEmpty(Model.La_Property2))
                        {

                            <tr> <td> <input type="text" style="width:95%" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>


                        }

                    }
                    else
                    {
                        <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                        <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                        <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                    }

                }
                else
                {
                    <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                    <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                    <tr> <td> <input type="text" id="la_Prop2" value="" /> </td> <td> <input type="text" value="" id="la_Prop2per" /> </td> </tr>
                }
            </table>

            <p class="c1" style="margin-top: 60px;display:none">
                <span class="c0">
                    New Hire Kit Ordered :  <span style="margin-left:10%;">  @Model.kitordered </span>
                </span>
            </p>

            <p class="c1" style="margin-top: 10px;">
                <span class="c0">
                    Additional Instructions :
                </span>

            <p style="border: 1px solid;

padding: 10px;

margin: 10px; min-height:50px;" id="padd">@Model.AdditionalText</p>


        @{
            if (ViewBag.Action == "Employee Email")
            {
                <p class="c1" style="margin-top:50px;">
                    <span class="c0">Employee Signature <input type="text" id="esignature" class="italic" value="" style="width:49%;" />    Date <input type="text" name="name" style="width:21%;" id="edate" value="@DateTime.Now.ToString("MM/dd/yyyy")" /></span>
                </p>

                <p class="c1">
                    <span class="c0">Manager&rsquo;s Authorizing Signature <input disabled type="text" class="italic" id="msignature" value="@Model.msignature" style="width:37%;" /> Date <input disabled type="text" style="width:21%;" name="name" id="mdate" value="@Model.mdate.Value.ToString("MM/dd/yyyy")" /> </span>
                </p>

            }
            else if (ViewBag.Action == "Regional Email")
            {
                <p class="c1" style="margin-top:50px;">
                    <span class="c0">Employee Signature <input disabled type="text" id="esignature" class="italic" value="@Model.esignature" style="width:49%;" />    Date <input type="text" disabled style="width:21%;" name="name" id="edate" value="@Model.edate.Value.ToString("MM/dd/yyyy")" /></span>
                </p>

                <p class="c1">
                    <span class="c0">Manager&rsquo;s Authorizing Signature <input disabled type="text" class="italic" id="msignature" value="@Model.msignature" style="width:37%;" /> Date <input disabled type="text" style="width:21%;" name="name" id="mdate" value="@Model.mdate.Value.ToString("MM/dd/yyyy")" /> </span>
                </p>

                <p class="c1">
                    <span class="c0">RPM Signature<input type="text" id="rpmsignature" style="width:49%;margin-left: 6%;" class="italic" value="" />Date <input type="text" name="name" disabled style="width:21%;" id="rpmdate" value="@DateTime.Now.ToString("MM/dd/yyyy")" /></span>
                </p>
            }
            <input type="hidden" id="Action" value="@ViewBag.Action" />
        }

        <br /> <br />
        <p>Rev. June 2018</p>
        <div id="status"> </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:100px;">

            <input type="button" id="Submit" value="Submit" class="btn btn-primary" />  @*<button class="btn btn-success" disabled id="print"> <i class="fa-print fa"> </i> Print </button> <button disabled class="btn btn-success" id="pdf"> <i class="fa-file-pdf-o fa"> </i> Pdf </button>*@

        </div>
        </form>
    </div>
    <style type="text/css">

   
    .has-error {
    border-color: red;
    }


    </style>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        $(document).ready(function () {


            function closeMe() {
                window.close();
                var win = window.open("", "_self"); /* url = "" or "about:blank"; target="_self" */
                win.close();
            }



            $("input").change(function (e) {
                e.preventDefault();

                if ($(this).val() == "") {
                    $(this).addClass("has-error");
                }
                else {
                    $(this).removeClass("has-error");
                }

            });

            $("input").prop("disabled", true);
          

            if ($("#Action").val() == "Employee Email") {

          //      document.getElementById("edate").valueAsDate = new Date();
                $("#esignature,#Submit").prop("disabled", false);
                $("#esignature").focus();

            }
            else {

              //  document.getElementById("rpmdate").valueAsDate = new Date();
                $("#rpmsignature,#Submit").prop("disabled", false);
                $("#rpmsignature").focus();
            }


            $("#Submit").click(function (e) {
                e.preventDefault();

                var errormsgsummary = "";
                var control = "";
                $("#status").html('');

                if ($("#Action").val() == "Employee Email") {
                    if ($("#esignature").val() == "") {
                        errormsgsummary += "<li> Please Enter Signature </li>";
                        $("#esignature").addClass('has-error');
                        if (control == "")
                            control = $("#esignature");
                    }

                    if ($("#edate").val() == "") {
                        errormsgsummary += "<li> Please Enter Date </li>";
                        $("#edate").addClass('has-error');
                        if (control == "")
                            control = $("#edate");
                    }

                }
                else if ($("#Action").val() == "Regional Email")
                {
                    if ($("#rpmsignature").val() == "")
                    {
                        errormsgsummary += "<li> Please Enter Signature </li>";
                        $("#rpmsignature").addClass('has-error');
                        if (control == "")
                            control = $("#rpmsignature");
                    }

                    if ($("#rpmdate").val() == "") {
                        errormsgsummary += "<li> Please Enter Date </li>";
                        $("#rpmdate").addClass('has-error');
                        if (control == "")
                            control = $("#rpmdate");
                    }

                }

                if (errormsgsummary != "")
                {

                    $("#status").html('<ul style="float: left;text-align:left;color: red;"> ' + errormsgsummary + ' </ul> ');

                    setTimeout(ScrollToElement(control), 3000);
                    $("#Submit").prop('disabled', false);
                    return false;
                }
                else
                {

                    var insertForm = new FormData();
                   
                    insertForm.append('action', $("#Action").val());
                    insertForm.append('refid', '@ViewBag.ReferenceId');
                    insertForm.append('iscorporate', '@ViewBag.IsCorporate');
                    var axurl = "";
                    var $BaseApiUrl = "http://localhost:1002/"; 

                    if ($("#Action").val() == "Employee Email"  )
                    {
                        insertForm.append('signature', $("#esignature").val());
                        insertForm.append('date', $("#edate").val());
                         insertForm.append('empname', ' @Model.EmployeeName');
                        //if('@ViewBag.IsCorporate' == 'True')
                        axurl = "/Outlink/UpdateWorkflowEmployeeNewHireNotice";
                     //   else
                      //  axurl = $BaseApiUrl +"api/data/UpdateWorkflowEmployeeNewHireNotice";

                    }
                    else
                    {
                        insertForm.append('signature', $("#rpmsignature").val());
                        insertForm.append('date', $("#rpmdate").val());
                        axurl = "/Outlink/UpdateWorkflowEmployeeNewHireNotice";
                    }

                  

                    $("#status").html("<p style='color:green'> Processing ........ </p>");
                    $.ajax({
                        url: axurl,
                        type: 'POST',
                        dataType: "JSON",
                        processData: false,
                        contentType: false,
                        data: insertForm,
                        success: function (data)
                        {

                            if (data == "Submitted") {
                                closeMe();
                                window.close();
                            }
                            else {

                            // To-do code if ajax request is successfull
                            alert("Successfully Submitted");
                            
                            $("#status").html("<p style='color:green'> Successfully Submitted </p> ");
                           
                            setTimeout(function () {
                                closeMe();
                                window.close();
                                }, 2000);

                            }

                           // setTimeout(function () { closeMe(); }, 5000);
                            //}
                            //else
                            //{
                            //    $("#status").html(data['errorMsg']);
                            //}
                        },
                        error: function (ts)
                        {
                          //  alert("Something Wrong, Contact Adminstrator Ref: " + ts.responseJSON.ErrorId);
                            $("#status").html("<p style='color:green'> Something Wrong, Contact Adminstrator Ref: ID " + ts.responseJSON.ErrorId + "  " + ts.responseJSON.exceptionMessage + "</p> ");

                            setTimeout(function () {
                                closeMe();
                                window.close();
                            }, 4000);

                        }
                    });

                }


            });

        });

    </script>
</body>
</html>


